/*
Theme Name: luxe Child
Theme URI: http://create.t1create.com/
Description: Luxe Child Theme
Version: 1.200.00
Author: t1
Author URI: http://create.t1create.com/
Template: luxe
Version: 1.0.0
Text Domain: luxe-child
*/

body {
    font-family: "Open Sans", sans-serif !important;
    font-size: 16px !important;
}

p {
    font-weight: 300 !important;
    line-height: 1.25 !important;
    margin-bottom: 20px !important;
    padding: 0 0 10px !important;
    word-wrap: break-word;
}

.bSe a {
    color: #a0a0a4;
}

.bSe a:hover {
    color: #333333;
}

.bSe h1,
.bSe .entry-title,
.bSe h2,
.bSe h3,
.bSe h4,
.bSe h5,
.bSe h6 {
    font-family: "Open Sans", sans-serif !important;
    line-height: 1;
    font-weight: 600 !important;
}

.bSe h1 {
    font-size: 56px !important;
    font-weight: 700 !important;
    margin: 0 0 15px !important;
  }
.bSe .entry-title {
    font-size: 56px !important;
    margin: 0 0 15px !important;
}


.bSe h2 {
    font-size: 48px !important;
    font-weight: 700 !important;
    margin: 25px 0 5px !important;
}

.bSe h3 {
    font-size: 36px;
    margin: 25px 0 5px !important;
}

.bSe h4 {
    font-size: 24px;
    margin: 25px 0 5px !important;
}

.bSe h5 {
    font-size: 20px;
    margin: 25px 0 5px !important;
}

.bSe h6 {
    font-size: 18px;
    margin: 25px 0 5px !important;
}

#tve_editor ol,
#tve_editor ul {
    margin: 0 0 0 40px !important;
    padding: 0 0 10px !important;
}

/* SideBars
*/

.cnt .sAs {
  margin: 30px 0 0 20px !important;
}
.cnt .sAs .twr {
  float: left;
  margin: 0 -25px !important;
  top: 0 !important;
}
.cnt .sAs > section {
  margin-bottom: 50px !important;
}

.cnt .sAs .twr p {
  margin: -44px 0 0 25px  !important;
}
.cnt .sAs .twr .ttl::after {
  border: 0 solid #dbdbdb !important;
  border-radius: 0 !important;
  height: auto !important;
  margin: 0 0 0 3% !important;
  width: 91% !important;
}
/*
*/
.scon.wide.o3 .frm input[type="text"], .scon.wide.o3 .frm .op-r {
  width: 22.5% !important;
}
.scon.wide.o3 .frm .btn {
  float: right;
  width: 29.5%  !important;
}
