@import url('//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic&subset=latin-ext,latin');
@import url('//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin-ext,latin');
@import "bourbon";

$experimental-support-for-svg: true;
@import "variables.scss";
@import "mixins.scss";
@import "focus_areas.scss";
@import "woocommerce_mini_cart.scss";
@import "woocommerce_widgets.scss";

html {
  font-size: 100%;
  height: 100%;
}

body {
  background: #ffffff;
  //  display: -webkit-box;
  //  display: -moz-box;
  //  display: -ms-flexbox;
  //  display: -webkit-flex;
  //  display: flex;
  //
  //  -ms-flex-flow: column;
  //  flex-flow: column;

  //  min-height: 100vh;

  font-family: 'Open Sans', serif;
  font-size: 13px;
  margin: 0;
  overflow-x: hidden;
}

html, body {
  overflow-x: hidden;
}

.flex-cnt {
  overflow: hidden;
}

//
//.flex-cnt {
//  flex-grow: 1;
//}

.spr {
  height: 25px;
}

.bspr {
  height: 60px;
}

img {
  border: none;
  height: auto;
  max-width: 100%;
}

ins {
  background: #fff9c0;
  text-decoration: none;
}

h1 {
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans';
  font-weight: 700;
  line-height: 1.3;
  word-wrap: break-word;
}

h1, h2 {
  &.entry-title {
    color: #555555;
    a {
      color: #555555;
    }
  }
}

.pgs {
  h1 {
    color: $main_color;
    font-family: 'Roboto Slab';
    font-weight: 700;
  }
}

h5.aut {
  margin: 0px;
}

h1, .entry-title {
  margin: 0px 0px 33px 0px;
  .pgs & {
    font-size: $normalSize * 3.077;
  }
  a {
    color: $main_color;
  }
}

h2 {
  font-size: $normalSize * 1.923;
  margin: 25px 0px 12px 0px;
}

h3 {
  font-size: $normalSize * 1.538;
  margin: 22px 0px 11px 0px;
}

h4 {
  font-size: $normalSize * 1.462;
  margin: 18px 0px 9px 0px;
}

h5 {
  font-size: $normalSize * 1.308;
  margin: 16px 0px 8px 0px;
}

h6 {
  font-size: $normalSize;
  margin: 14px 0px 7px 0px;
}

h1, .entry-title {
  font-size: 33px;
}

p {
  font-size: $normalSize;
  line-height: $normalSize * 2;
  word-wrap: break-word;
}

hr {
  border-color: #dedede;
}

input[type="submit"] {
  -webkit-appearance: none;
}

.aIm img {
  @include border(3px, solid, #efefef);
  box-sizing: border-box;
  display: block;
}

.afim {
  @include border(3px, solid, #efefef);
  box-sizing: border-box;
  display: block;
}

.pst {
  max-width: 220px;
}

.psb, .psb img {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}

.aIm.left, .afim.left {
  margin: 0px 20px 20px 0px;
}

.aIm.right, .afim.right {
  margin: 0px 0px 20px 20px;
}

.aIm.center, .afim.center {
  margin: 20px auto;
}

//.divi {
//  border-bottom: 1px solid #D5D5D5;
//  clear: both;
//  display: block;
//  margin-bottom: 10px;
//  position: relative;
//}

pre {
  background: #f5f5f5;
  color: #666;
  font-family: monospace;
  font-size: 15px;
  margin: 20px 20px;
  overflow: auto;
  padding: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.4;
}

.alignnone {
  margin: 10px;
}

.aligncenter {
  display: block;
  margin: 10px auto;
}

.alignright {
  float: right;
  margin: 10px 0px 10px 20px;
}

.alignleft {
  float: left;
  margin: 10px 20px 10px 0px;
}

.lst {
  margin-right: 0px;
}

.awe {
  color: $main_color;
  font-size: $normalSize * 1.3;
  font-family: FontAwesome;
}

#floating_menu {
  width: 100%;
  z-index: 101;
  @include transition(all, 0.2s, linear);
  header {
    @include transition(all, 0.2s, ease-out);
    padding: 20px 0 10px;
  }
  &[data-float='float-fixed'] {
    @include transition(all, 0.2s, linear);
    img, #text_logo {
      @include transition(all, 0.2s, linear);
    }
  }
  #logo {
    img {
      @include transition(max-height, 0.2s, linear);
    }
  }
  &.mff {
    @include transition(all, 0.3s, linear);
    position: fixed;
    opacity: 1;
    visibility: visible;
    .hic, .hif {
      height: 100% !important;
      .tt-dmy {
        display: none;
      }
    }
    .hic {
      #head_wrp {
        position: static;
      }
    }
    &.a60 {
      &.mfd {
        opacity: 0;
        visibility: hidden;
        @include transition(all, 0.3s, linear);
      }
      header {
        @include transition(all, 0.2s, linear);
        padding: 15px 0 5px 0px;
        nav > ul > li {
          padding-bottom: 5px;
        }
        #logo {
          img {
            @include transition(max-height, 0.2s, linear);
            max-height: 50px;
          }
        }
        .center_logo {
          #logo img {
            max-height: 100px;
          }
          .phone {
            display: none;
          }
        }
        .side_logo {
          .phone {
            .fphr {
              display: none;
            }
          }
        }
      }
    }
  }
}

header {
  @include linear-gradient(#ffffff 0%, #f8f8f8 50%, #f2f2f2 100%);
  border-bottom: 1px solid #ebebeb;
  //min-height: 60px;
  font-weight: 400;
  padding: 20px 0px 10px 0px;
  .dfm {
    color: #4e4e4e;
    display: block;
    font-size: 13px;
  }
  .lg {
    //display: block;
    &.cen {
      margin: 0 auto;
    }
  }
  .hmn {
    display: none;
  }
  nav {
    //margin-top: 10px;
    > ul.menu, ul#menu {
      li {
        &.current-menu-item, &.current_page_item {
          > a {
            color: $main_color;
          }
        }
      }
    }
    > ul {
      > li.menu-item-has-children {
        > a {
          &:after {
            content: '\f078';
            color: #828282;
            font-family: FontAwesome;
            font-weight: 300;
            font-size: 10px;
            padding: 0px 5px;
          }
        }
        &:hover {
          > a {
            &:after {
              color: $main_color;
            }
          }
        }
      }
    }
    ul {
      li {
        display: inline-block;
        font-size: $normalSize;
        float: left;
        padding: 0px 10px;
        position: relative;
        a {
          color: $lightGray;
          display: block;
          &:hover {
            color: $main_color;
          }
        }
        > ul {
          box-shadow: 0 2px 4px -3px #000000;
          border: 1px solid #f0f0f0;
          display: none;
          margin-left: -100px;
          min-width: 200px;
          position: absolute;
          left: 50%;
          top: 30px;
          z-index: 4000;
          //          &.switch {
          //            left: 50%;
          //            top: 100%;
          //          }
          li {
            background: #f9f9f9;
            border-top: 1px solid #f0f0f0;
            color: #fff;
            display: block;
            float: none;
            font-size: 0.75rem;
            position: relative;
            padding: 0px;
            &:first-child {
              border-top: none;
            }
            a {
              height: 40px;
              line-height: 40px;
              text-indent: 15px;
              &:hover {
                background-color: #f6f6f6;
              }
            }
            ul {
              top: -2px;
              left: 150%;
              width: 100%;
              z-index: 10000;
            }
            &.menu-item-has-children {
              > a {
                &:after {
                  content: '\f054';
                  color: #c2bdae;
                  float: right;
                  font-family: FontAwesome;
                  font-size: 10px;
                  margin-right: 15px;
                }
              }
              &:hover {
                > a {
                  &:after {
                    color: $main_color;
                  }
                }
              }
            }
          }
        }
      }
    }
    > ul > li {
      padding-bottom: 10px;
      padding-top: 10px;
    }
  }
}

@each $color in $themeColors {
  #text_logo.#{nth($color, 1)} a {
    color: nth($color, 2);
  }
}

.phone, .phone_mobile {
  display: table-cell;
  font-family: 'Open Sans';
  text-align: center;
  vertical-align: middle;
  width: 235px;
  .phr {
    border-radius: 9px;
    border: 1px solid #bbbbbb;
    padding: 10px;
  }
  .apnr, span {
    display: block;
  }
  span {
    font-size: 13px;
    line-height: 22px;
  }
  .mphr, .fphr {
    color: #4e4e4e;
    font-size: 13px;
  }
  .fphr {
    display: block;
  }
  .bSe & {
    a {
      color: #4e4e4e;
      text-decoration: none;
    }
  }
  a {
    color: #4e4e4e;
  }
  .apnr {
    font-size: 19px;
    line-height: 25px;
    &:before {
      content: '\f095';
      color: #4e4e4e;
      display: inline-block;
      font-family: 'FontAwesome';
      margin-right: 5px;
    }
  }
}

@media only screen and (min-width: 774px) {
  .h-cta {
    margin: 0 5px;
    padding: 0 0 15px 0;
    > a {
      text-align: center;
      border-radius: 5px;
      color: #fff;
      font-weight: 700;
      padding: 10px;
      &:hover {
        color: #fff;
      }
      > span {
        display: block;
        font-size: 11px;
        font-weight: 400;
      }
    }
  }
}

.phone {
  .mphr {
    display: none;
  }
}

footer {
  .phr {
    background: #FBFBFB;
  }
}

.bSe, .widget {
  .phone {
    display: block;
    margin: 0 auto;
  }
}

.phone_mobile {
  display: none;
}

header {
  display: block;
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -.25em;
    vertical-align: bottom;
  }
  #head_wrp {
    display: inline-block;
    vertical-align: bottom;
  }
  #nav_right {
    text-align: left;
  }
  .center_logo {
    #logo, #text_logo {
      float: none;
    }
    #nav_right {
      display: table;
      margin: 0 auto;
      .phone {
        display: table-cell;
        vertical-align: middle;
      }
      nav.right {
        display: table-cell;
        float: none;
        vertical-align: middle;
      }
    }
  }
  .side_logo {
    .h-i {
      display: table;
      width: 100%;
    }
    #logo, #text_logo {
      text-align: left;
    }
    #logo, #text_logo, #nav_right, .phone {
      display: table-cell;
      float: none;
    }
    #logo, #text_logo, .phone {
      vertical-align: middle;
    }
    #nav_right {
      vertical-align: middle;
    }
  }
}

#logo {
  @include transition(all, 0.5s, ease-in-out);
  img {
    max-width: 200px;
  }
}

#text_logo {
  font-size: 32px;
  line-height: 50px;
}

/*content*/
.brd {
  border-bottom: 1px solid #e0e0e0;
  .wrp {
    padding: 12px 20px;
  }
  ul {
    list-style-type: none;
    li {
      color: #8b8b8b;
      font-size: $normalSize * 0.923;
      display: inline;
      span {
        display: inline-block;
        margin: 0px 5px;
      }
      a {
        color: #8b8b8b;
      }
      .sel {
        color: $main_color;
        > span {
          color: #8b8b8b;
        }
      }
    }
  }
}

.brd .no-link {
  color: #8c8b8b;
  text-decoration: none;
  cursor: default;
}

.biI {
  margin: 7px 0px 50px 0px;
  width: 100%;
}

//
.fwI {
  margin-bottom: 40px;
  width: 100%;
}

.cnt {
  .awr {
    padding: 0px 10px 10px 10px;
    > .out:first-child, > .clear:first-child + .out, .thrv_page_section:first-child {
      margin-top: -60px !important;
    }
  }
  .bpd {
    margin: 0 auto;
    width: 827px;
    .out {
      margin-left: -2500px;
      width: 5807px;
    }
  }
  .bSe {
    article {
      box-sizing: border-box;
      position: relative;
      &.sticky {
        background: #f3f3f3;
        border: 1px solid #d4d4d4;
        padding-top: 15px;
        footer {
          border-top: 2px solid #e7e7e7;
          border-bottom: none;
          padding-top: 10px;
          padding-bottom: 0px;
        }
      }
    }
  }
  .bSe.left, .bSe.right {
    width: 67.59%;
  }
  .sAs {
    margin-left: 20px;
    width: 28%;
    .ttl {
      border-bottom: 1px solid #e7e7e7;
      color: $main_color;
      font-size: $normalSize * 1.231;
      font-weight: 700;
      line-height: $normalSize;
      margin-bottom: 17px;
      padding-bottom: 17px;
    }
    &.left {
      border-right: 1px solid #e7e7e7;
      section {
        margin-right: 20px;
        padding-left: 10px;
      }
    }
    &.right {
      border-left: 1px solid #e7e7e7;
      section {
        margin-left: 20px;
        padding-right: 10px;
      }
    }
    .scn {
      margin-top: 17px;
    }
    > section {
      margin-bottom: 45px;
    }
  }
  .sAs.left {
    margin-left: 0px;
  }
  .search-box {
    height: 45px;
  }
  article {
    .aut {
      p {
        color: #555555;
        margin-bottom: 10px;
      }
    }
    p {
      color: #555555;
      margin-bottom: 30px;
      word-wrap: break-word;
    }
    .shw p {
      margin-bottom: 0px;
    }
    ul {
      list-style-image: url('../images/bullet.png');
    }
    ul, ol {
      line-height: $normalSize * 1.5;
      margin-bottom: 1.25em;
      padding-left: 2em;
      ul, ol {
        padding-left: 3em;
      }
    }
    .aut ul {
      border-right: 1px solid #dbdbdb;
      list-style-image: none;
      margin: 0px;
      padding: 0px 10px 0px 15px;
    }
    h1, .entry-title {
      font-weight: 700;
      line-height: $normalSize * 1.25;
      a {
        text-decoration: none;
      }
    }
    h4 {
      font-weight: 700;
      a {
        text-decoration: none;
      }
    }
    a {
      text-decoration: underline;
      &.crp, &.btn {
        text-decoration: none;
      }
    }
    .pgn a, .cmc a, .mre a {
      text-decoration: none;
    }
  }
  .mre {
    @include linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
    box-shadow: 0px -1px 0px 0px #f6f6f6 inset;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    display: table;
    font-size: $normalSize;
    padding: 12px 10px 12px 16px;
    text-align: center;
    > p {
      display: none;
    }
    span {
      display: block;
      float: left;
    }
    span:first-child {
      line-height: $normalSize * 1.5;
    }
    .awe {
      color: $main_color;
      line-height: $normalSize * 1.2;
      margin-left: 10px;
    }
    a {
      color: $main_color;
    }
  }
  .rmt {
    color: $main_color;
    line-height: 1.8em;
    &:after {
      content: '...';
    }
  }
  section {
    footer {
      border-bottom: 2px solid #e7e7e7;
      color: #939393;
      margin: 30px 0px 0px 0px;
      padding: 0px 0px 10px 0px;
    }
    .meta {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      width: 80%;
      li {
        display: inline;
        font-size: $normalSize * 0.923;
        &.sep {
          margin: 0px 5px;
        }
      }
      span {
        font-weight: 600;
        text-transform: uppercase;
      }
      a {
        color: #939393;
        text-decoration: none;
      }
    }
    .tgs {
      cursor: pointer;
      font-size: $normalSize;
      line-height: 1.5em;
      position: relative;
      a {
        color: lighten($main_color, 7%);
      }
      > span {
        float: left;
        &.icn {
          background: url('../images/sprite-web.png') no-repeat -8px -83px;
          display: block;
          height: 20px;
          margin-right: 10px;
          width: 20px;
        }
      }
      .showTags {
        color: #939393;
        cursor: pointer;
        float: left;
      }
    }
    .tagsList {
      box-shadow: 0px 4px 2px -2px #E0E0E0;
      background: #fff;
      min-width: 200px;
      margin: 0px;
      padding: 10px;
      position: absolute;
      right: 0px;
      top: 15px;
      z-index: 5;
      a {
        display: inline;
        float: left;
        margin-right: 5px;
      }
    }
  }
}

section[id*='categories'] {
  label[for='cat'] {
    display: none;
  }
}


.tagcloud {
  font-size: $normalSize * 0.75;
  a {
    border-radius: 20px;
    border: 1px solid #e3e3e3;
    background: #fff;
    color: $textGray;
    display: inline-block;
    font-size: $normalSize !important;
    margin-bottom: 5px;
    padding: 10px 12px;
    &:hover {
      border: 1px solid lighten($main_color, 7%);
      color: $main_color;
    }
  }
}

.ctb {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 20px;
  h5 {
    font-size: $normalSize * 1.154;
    font-weight: 600;
    text-indent: 20px;
  }
}

.no_comm {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 20px;
}

.cms, .tabs_widget, .scbp {
  .scn {
    font-size: $normalSize;
  }
  .left {
    width: 30%;
    img {
      height: 55px;
      max-height: 55px;
      width: 55px;
      max-width: 55px;
    }
  }
  .right {
    width: 70%;
  }
}

blockquote {
  font-style: italic;
  margin: 25px 0px;
}

.pulQ {
  border-left: none;
  color: #535353;
  display: inline-table;
  font-family: 'Open Sans';
  font-size: $normalSize * 1.538;
  margin: 0px;
  div.left {
    @extend blockquote;
    background: url('../images/pulQBg.jpg') repeat-y top left;
    display: table-cell;
    min-height: 31px;
    margin-top: 0px;
    max-width: 81%;
    padding-left: 20px;
  }
  .quo {
    background: url('../images/sprite-web.png') 4px -39px;
    display: table-cell;
    height: 31px;
    margin: 0px 15px;
    min-width: 36px;
  }
  &.left, &.right {
    max-width: 50%;
    div.left {
      margin-right: 20px;
      max-width: 69%;
    }
  }
  i {
    color: lighten($textGray, 20%);
  }
}

.bSe article .awr {
  ul, ol {
    li {
      margin-bottom: 10px;
    }
  }
}

.bSe {
  table {
    line-height: $normalSize + 0.375;
    text-align: center;
    width: 100%;
    tr {
      border-top: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
    }
    td, th {
      background: #fff;
      padding: 10px;
      text-align: left;
    }
    th {
      color: $main_color;
      font-weight: 700;
      padding: 10px;
    }
    td {
      color: $textGray;
      line-height: $normalSize * 1.5;
    }
  }
}

dl {
  line-height: $normalSize + 0.875;
  dt {
    color: darken($content_gray, 40%);
    font-weight: bold;
  }
}

address, dl, table {
  @include marginBottom;
}

.page-numbers {
  @include transition(all, .2s, linear);
  @include linear-gradient(#ebebeb 0%, #d9d9d9 100%);
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #ebebeb #e1e1e1 #d9d9d9 #e1e1e1;
  color: #000000;
  cursor: pointer;
  display: block;
  float: left;
  font-size: $normalSize;
  height: 28px;
  line-height: 28px;
  padding: 0px 11px;
  margin-left: 3px;
  text-align: center;
  .bSe & {
    color: #000;
  }
  &:first-child {
    margin-left: 0px;
  }
  &:hover, &.current {
    @include linear-gradient(#f4f4f4 0%, #e6e6e6 100%);
    border: 1px solid $main_color;
  }
}

.pgn {
  color: #000;
  font-size: $normalSize;
  list-style-type: none;
  margin-bottom: 20px;
  li {
    @include transition(all, .2s, linear);
    @include linear-gradient(#ebebeb 0%, #d9d9d9 100%);
    border-radius: 4px;
    display: block;
    float: left;
    text-align: center;
    &:first-child {
      margin-right: 3px;
    }
  }
  a, .dots, span {
    @include transition(all, .2s, linear);
    background: #f1f1f2;
    color: #000;
    height: 30px;
    padding: 0 20px;

  }
  .nxt, .prv {
    padding: 0 25px;
  }
}

.ctr {
  text-align: center;
}

.lost {
  margin: 0 auto;
  width: 40%;
}

.scn {
  .sAs & {
  }
  &.aut {
    @include bshadow();
    border-radius: 9px;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
  }
  color: #949494;
  ul {
    list-style-type: none;
    ul {
      padding-left: 10%;
    }
    li {
      a {
        color: $textGray;
        &:hover {
          color: #434242;
        }
      }
    }
  }
  &.awr {
    padding-top: 10px;
  }
  > ul, section[id*='nav_menu-'] & ul, ul[id*='menu'] {
    li {
      border-bottom: 1px dotted #E2DFDF;
      line-height: $normalSize + 0.375;
      padding: 10px 0px 10px 0px;
      position: relative;
      &:last-child {
        border-bottom: 0px;
      }
      &:after {
        content: '\f101';
        font-family: FontAwesome;
        position: absolute;
        right: 0px;
        top: 10px;
      }
    }
    a {
      @include transition(all, .2s, linear);
      &:hover {
        margin-left: 4px;
      }
    }
  }

}

.srh {
  input.search-field, .search_field {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-style: solid;
    border-color: #cdcdcd;
    border-width: 1px 0px 1px 1px;
    font-weight: 700;
    font-family: 'Open Sans';
    font-size: $normalSize * 1.308;
    float: left;
    height: 39px;
    padding: 0 5% 4px 5%;
    width: 73.6%;
  }
}

.sBn {
  float: right;
  height: 40px;
  &:hover {
    cursor: pointer;
  }
}

.search-button, .submit_btn {
  @extend .sBn;
  @include linear-gradient(#ffa025 0%, #dc7214 100%);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #f7b559 #e67e22 #e67e22 #e67e22;
  color: #fff;
  font-family: FontAwesome;
  float: left;
  height: 45px;
  width: 16%;
}

.tabs_widget {
  .tabs_content {
    display: none;
  }
  .tabs {
    border-bottom: 1px solid #e7e7e7;
    li {
      display: inline-block;
      float: left;
      min-height: 35px;
      line-height: 35px;
      text-align: center;
      position: relative;
      width: 87px;
      a {
        color: #353535;
        font-weight: 700;
      }
      &.tS {
        box-sizing: border-box;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-style: solid;
        border-width: 1px 1px 0px 1px;
        border-color: #e7e7e7;
        background: #fafafa;
        a {
          color: $main_color;
        }
      }
    }
  }
}

.rw {
  .txt {
    width: 70%;
    &.noImageTab {
      width: 100%;
      &:after {
        content: '\f101';
        font-family: FontAwesome;
        position: absolute;
        right: 0px;
        top: 10px;
      }
    }
  }
  .tim {
    margin-right: 7%;
    width: 20%;
    .wti {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      display: block;
      height: 58px;
      width: 58px;
    }
  }
  .pps {
    margin-bottom: 10px;
  }
  a {
    color: #555555;
  }
}

.sAs {
  .scTC {
    display: none;
    .txt {
      &.noImageTab {
        width: 100%;
        &:after {
          content: '\f101';
          font-family: FontAwesome;
          position: absolute;
          right: 0px;
          top: 10px;
        }
      }
    }
    .tim {
      margin-right: 5%;
      width: 20%;
      .wti {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        height: 58px;
        width: 58px;
      }
    }
  }
}

.scTC {
  .cnt .sAs & {
    p {
      color: #555555;
      font-size: $normalSize;
      line-height: $normalSize * 1.4;
      i {
        color: #acacac;
        font-size: $normalSize;
      }
      a {
        color: #555555;
      }
    }
  }
}

.scTC, .scbp {
  padding-top: 17px;
  .txt {
    box-sizing: border-box;
    padding-left: 20px;
    position: relative;
    width: 66%;
  }
  .tim {
    width: 55px;
  }
  .clear {
    height: 10px;
  }
}

.scbp {
  h3 {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 16px;
    padding-bottom: 13px;
  }
  .txt {
    &.noImageTab {
      width: 100%;
      &:before {
        content: '\f101';
        font-family: FontAwesome;
        position: absolute;
        left: 0px;
        top: 7px;
      }
    }
  }
  a {
    color: #555555;
    display: block;
    font-size: $normalSize;
    line-height: $normalSize * 2;
    .cnt article & {
      text-decoration: none;
    }
  }
  .thrive_date {
    color: #949494;
    font-size: $normalSize;
    font-style: italic;
  }
  .pps {
    margin-bottom: 10px;
    .tim {
      a {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        height: 65px;
        width: 65px;
      }
    }
  }
}

section[id*='rss-'] {
  p.ttl {
    position: relative;
  }
  a.rsswidget {
    color: #424242;
    img {
      display: none;
    }
    &:nth-child(2) {
      &:after {
        content: '\f09e';
        color: $main_color;
        display: block;
        font-family: FontAwesome;
        height: 10px;
        position: absolute;
        top: 0px;
        right: 20px;
        width: 10px;
      }
    }
  }
  .scn {
    > ul {
      a {
        @include transition(none, .0s, linear);
        font-weight: 700;
        &:hover {
          margin-left: 0px;
        }
      }
    }
  }
  ul {
    list-style-type: none;
    li {
      border-bottom: none;
      padding: 0px 0px 20px 0px;
      margin-bottom: 20px;
      &:after {
        content: '';
      }
    }
    > li {
      > a.rsswidget, .rss-date {
        display: inline-block;
        padding-left: 10px;
      }
      .rss-date {
        color: #acacac;
        font-style: italic;
        margin-bottom: 20px;
      }
      .rssSummary {
        color: $textGray;
        padding-left: 10px;
      }
    }
  }
}

.follow_me {
  .cnt & {
    overflow: visible;
  }
  .side_body {
    ul {
      li {
        background: none;
        border: none;
        float: left;
        padding: 0px;
        position: relative;
        a.sm {
          display: block;
          height: 31px;
          margin: 0 0px 4px 4px;
          text-align: center;
          span {
            background: url('../images/sprite-web.png') no-repeat;
            display: block;
            height: 31px;
            width: 31px;
          }
        }
        &:first-child, &:nth-child(8) {
          a {
            margin-left: 0px;
          }
          .bubble {
            margin-left: 0px;
          }
        }
        a.sm-1col {
          width: 31px;
        }
        a.sm-2col {
          width: 31px;
        }
        a.sm-3col {
          width: 31px;
          margin-left: 0;
        }
        a.fb {
          span {
            background-position: -1px 0px;
          }
        }
        a.twitter {
          span {
            background-position: -41px 0px;
          }
        }
        a.g_plus {
          span {
            background-position: -81px 0px;
          }
        }
        a.linkedin {
          span {
            background-position: -121px 0px;
          }
        }
        a.prinster {
          span {
            background-position: -281px 0px;
          }
        }
        a.dribble {
          span {
            background-position: -241px 0px;
          }
        }
        a.rss {
          span {
            background-position: -201px 0px;
          }
        }
        a.youtube {
          span {
            background-position: -161px 0px;
          }
        }
        a.vimeo {
          span {
            background-position: -321px 0px;
          }
        }
        a.is {
          span {
            background-position: -363px 0px;
          }
        }
        a.xi {
          span {
            background-position: -403px 0px;
          }
        }
        .bubble {
          border-radius: 2px;
          box-shadow: 1px 0px 4px 0px rgba(#587076, .3);
          background: #fff;
          border: 1px solid #b2c7cd;
          display: block;
          padding: 10px;
          position: relative;
          &:after {
            @include transform(skewX(39deg));
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 13px solid #fff;
            content: '';
            display: block;
            height: 0px;
            position: absolute;
            bottom: -13px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0px;
          }
          &:before {
            @include transform(skewX(39deg));
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 15px solid #b2c7cd;
            content: '';
            display: block;
            height: 0px;
            position: absolute;
            bottom: -15px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0px;
          }
        }
        .bubb {
          display: block;
          min-width: 50px;
          padding-bottom: 20px;
          position: absolute;
          bottom: 97%;
          left: -9000px;
          z-index: 4;
        }
      }
    }
  }
}

.limg {
  .left {
    margin-right: 4px;
    margin-bottom: 4px;
    img {
      height: 86px;
      width: 86px;
    }
  }
  .left:nth-child(3n) {
    margin-right: 0px;
  }
}

.avatar {
  display: block;
  .authorBox & {
    margin: 0 auto 22px auto;
    width: 280px;
  }
}

.tagcloud {
  a {
    @include transition(all, .2s, linear);
    margin-right: 5px;
    text-decoration: underline;

  }
}

#wp-calendar {
  margin: 0 auto;
  table-layout: fixed;
  text-align: center;
  width: 95%;
  caption {
    border-radius: 9px;
    border: 1px solid #e3e3e3;
    color: #706f6f;
    padding: 13px 0px;
  }
  thead {
    height: 40px;
  }
  th {
    color: #353535;
    font-weight: 400;
    vertical-align: middle;
  }
  td {
    color: #706f6f;
    font-size: 100%;
    height: 40px;
    vertical-align: bottom;
  }
  tbody {
    td {
      a {
        border-radius: 100px;
        box-sizing: border-box;
        border: 1px solid #959595;
        color: #706f6f;
        display: block;
        margin: 0 auto;
        width: 30px;
      }
    }
  }
  th, td {
    line-height: $normalSize * 2;
    padding: 0px;
    text-align: center;
  }
  td#prev, td#next {
    a {
      color: #706f6f;
      width: 70px;
    }
  }
  td#prev {
    text-align: left;
  }
  td#next {
    text-align: right;
  }
}

.cmb {
  div.left {
    margin-right: 20px;
  }
  div.right {
    width: 80%;
  }
}

.cnt article .cmb {
  p {
    margin-top: 10px;
  }
}

.mspr {
  height: 5px;
}

.aut {
  p {
    font-size: $normalSize * 0.875;
  }
  h5, h6, h4 {
    color: $main_color;
    margin: 5px 0px;
  }
  h6 {
    font-weight: 400;
  }
  div.left {
    width: 20%;
    .awe {
      color: lighten($main_color, 10%);
    }
    a {
      text-decoration: none;
    }
  }
  div.right {
    width: 80%;
  }
  img {
    border-radius: 100px;
    float: left;
    max-width: 80px;
  }
  p > span {
    color: $main_color;
  }
}

.cmb {
  margin-left: 5%;
}

.cmc {
  @include border(1px, solid, #e6e6e6);
  border-radius: 4px;
  background: #fcfcfc;
  font-size: $normalSize;
  margin: 0 auto 20px auto;
  padding: 23px 23px 20px 23px;
  width: 88%;
  .nam {
    color: #8c8c8c;
    display: block;
    font-size: $normalSize * 0.923;
    font-style: italic;
    line-height: $normalSize * 2;
    .uDt {
      font-style: italic;
      font-size: 1.0em;
    }
    a, .uNM {
      color: #434343;
      font-weight: 700;
      font-style: normal;
      font-size: $normalSize * 1.250;
    }
  }
  &.byAut {
    border: 1px solid $main_color;
    a {
      color: $main_color;
    }
  }
}

.rpl {
  border-radius: 4px;
  @include transition(all, .2s, linear);
  @include linear-gradient(#ffffff 0%, #f3f3f3 100%);
  box-shadow: 0px -1px 0px 0px #f6f6f6 inset;
  border: 1px solid #e3e3e3;
  color: $main_color;
  cursor: pointer;
  font-size: $normalSize * 0.846;
  float: right;
  line-height: $normalSize;
  min-width: 70px;
  margin-top: -16px;
  margin-right: -17px;
  padding: 6px;
  text-align: center;
  .awe {
    font-size: 1em;
    margin-right: 5px;
  }
  &:hover {
    @include linear-gradient(#f3f3f3 0%, #ffffff 100%);
  }
}

.crp {
  @extend .rpl;
  margin-right: 0px;
  margin-top: 0px;
}

.cnt {
  article {
    .lrp {
      p {
        color: $main_color;
      }
    }
  }
}

.lrp {
  border-top: 1px solid #e7e7e7;
  padding-top: 20px;
  p {
    font-weight: 700;
    font-size: $normalSize* 1.308;
  }
  textarea {
    border-radius: 4px;
    background: #fafafa;
    border: 1px solid #cdcdcd;
    color: #9f9f9f;
    font-size: $normalSize * 1.308;
    font-weight: 700;
    font-family: 'Open Sans';
    min-height: 170px;
    padding: 3%;
    width: 93%;
    &:hover, &:focus {
      border: 1px solid $main_color;
      background: #fff;
    }
  }
  .btn {
    margin: 10px 0 15px;
  }
  input[type="submit"] {
    @include linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
    box-shadow: 0px -1px 0px 0px #f6f6f6 inset;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    color: $main_color;
    font-size: $normalSize;
    font-family: 'Open Sans';
    margin: 20px 0;
    padding: 12px 16px 12px 16px;
    text-align: center;
  }
  input[type="text"]::-webkit-input-placeholder {
    color: #9f9f9f;
  }
  input[type="text"] {
    box-sizing: border-box;
    border-radius: 4px;
    background: #fafafa;
    border: 1px solid #cdcdcd;
    color: #9f9f9f;
    float: left;
    font-size: $normalSize * 1.308;
    font-weight: 700;
    font-family: 'Open Sans';
    height: 42px;
    margin: 0% 4.2% 3% 0%;
    padding: 0% 0% 0% 2%;
    width: 30.3%;
    &:hover, &:focus {
      border: 1px solid $main_color;
      background: #fff;
    }
    &.lst {
      margin-right: 0px;
    }
  }
}

.arh {
  h4 {
    margin-bottom: 10px;
  }
  span {
    font-size: $normalSize * 0.75;
  }
}

.lnd {
  h1 {
    font-weight: normal;
    span {
      font-weight: bold;
    }
  }
  .vdo {
    margin-bottom: 40px;
  }
}

.cta_bnt {
  @include linear-gradient(bottom, #e8e8e8 0%, #fff 100%);
  color: #666565;
  display: block;
  font-weight: bold;
  font-size: $normalSize;
  margin-top: 20px;
  padding: 15px;
  text-transform: uppercase;
  width: 90%;
  &:hover {
    @include linear-gradient(bottom, #fff 0%, #e8e8e8 100%);
  }
}

/*end content*/
/*footer*/
footer {
  color: #969aa8;
  ul {
    list-style-type: none;
  }
  .cnt & p {
    color: #969aa8;
    font-size: $normalSize;
    line-height: $normalSize * 1.4;
  }
  a {
    color: #969ba9;
  }
  .col {
    > ul {
      li {
        padding: 0px;
        a {
          color: #969aa8;
          display: block;
          margin: 0px !important;
          padding: 10px 20px 10px 5px;
          &:hover {
            background: #2f4255;
            color: #969aa8;
            ul li {
              background: transparent;
            }
          }
          &:last-child {
            border-bottom: 0px;
          }
          &:after {
            content: '\f101';
            font-family: FontAwesome;
            position: absolute;
            right: 0px;
            top: 10px;
          }
        }
        &.recentcomments {
          padding: 10px 20px 10px 5px;
          &:hover {
            background: #2f4255;
          }
          a {
            display: inline;
            padding: 0px;
            &:hover {
              background: transparent;
            }
          }
        }
      }
    }
  }
  .ftw {
    background: #34495e;
    padding: 80px 0px;
  }
  .fmn {
    background: #2f4255;
    padding: 20px 0px;
    text-transform: uppercase;
    ul {
      display: table;
      list-style-type: none;
      margin: 0 auto;
      li {
        display: inline-block;
        margin-right: 5px;
        a {
          color: #5b6f84;
          font-size: $normalSize * 0.769;
        }
      }
    }
  }
  .tabs_widget .tabs li a {
    color: #fff;
  }
  .fmn + .copy {
    border-top: 1px solid #2b2b2b;
  }
  .copy {
    background: #f7f7f7;
    padding: 25px 0px;
    p {
      color: #b0b0b0;
      font-size: $normalSize * 0.846;
      text-align: center;
    }
    a {
      color: #b0b0b0;
    }
    .fsc {
      display: table;
      list-style-type: none;
      margin: 25px auto 0px;
      li {
        display: inline-block;
      }
      span {
        border-radius: 100px;
        box-shadow: 0px 1px 1px 1px #eaeaea;
        border: 1px solid #dedede;
        background: #ffffff;
        color: #7e7e7e;
        display: block;
        height: 34px;
        line-height: 34px;
        margin-right: 10px;
        text-align: center;
        width: 34px;
      }
    }
  }
  #wp-calendar {
    font-size: $normalSize/1.2;
    tbody {
      td, th, a {
        background: transparent;
        color: #fff;
      }
    }
    td#prev, td#next {
      a {
        color: #fff;
      }
    }
    caption, th {
      color: #fff;
    }
  }
  .colm {
    section {
      margin-bottom: 40px;
      > ul {
        li {
          border-bottom: 1px dotted #E2DFDF;
          line-height: $normalSize + 0.375;
          position: relative;
          &:last-child {
            border-bottom: 0px;
          }
        }
      }
    }
    section[id*="nav_menu"] {
      ul {
        li {
          border-bottom: 1px dotted #E2DFDF;
          line-height: $normalSize + 0.375;
          padding: 10px 0px 10px 0px;
          position: relative;
          &:last-child {
            border-bottom: 0px;
          }
        }
      }
    }
    section[id*="rss-"] {
      a.rsswidget {
        color: #fff;
        &:nth-child(2) {
          &:after {
            color: #fff;
          }
        }
      }
      ul > li .rssSummary {
        color: #969ba9;
      }
      > ul li {
        border-bottom: none;
        a {
          &:hover {
            background: transparent;
          }
          &:after {
            content: '';
          }
        }
      }
    }
  }
  .follow_me .side_body ul li a.sm {
    margin-left: 7px;
  }
  .limg {
    .left:nth-child(3n) {
      margin-right: 4px;
    }
  }
}

.ftw {
  .colm {
    section {
      width: 100%;
    }
  }
  .col {
    min-width: 200px;
    margin-left: 2%;
    margin-bottom: 5%;
    width: 22%;
    &:first-child {
      margin-left: 0px;
    }
  }
}

footer .cnt {
  .ttl {
    color: #ffffff;
    font-size: $normalSize * 1.231;
    font-weight: 700;
    margin-bottom: 25px;
    a {
      color: #fff;
    }
  }
}

/*end footer*/
/*shortcodes*/

.flexible-container {
  height: 0;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;
}

.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.row {
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

.colm {
  float: left;
  margin-bottom: 10px;
}

.twc {
  padding: 0% 2% 0% 0%;
  width: 49%;
  &.lst {
    padding: 0% 0% 0% 0%;
  }
}

.thc {
  padding: 0% 2% 0% 0%;
  width: 32%;
  &.lst {
    padding: 0% 0% 0% 0%;
  }
}

.oth {
  padding: 0% 2% 0% 0%;
  width: 32%;
  &.lst {
    padding: 0% 0% 0% 0%;
  }
}

.tth {
  padding: 0% 2% 0% 0%;
  width: 66%;
  &.lst {
    padding: 0% 0% 0% 0%;
  }
}

.foc {
  padding: 0% 2% 0% 0%;
  width: 23.5%;
  &.lst {
    padding: 0%;
  }
}

.ofo {
  padding: 0% 2% 0% 0%;
  width: 23.5%;
  &.lst {
    padding: 0%;
  }
}

.tfo {
  padding: 0% 2% 0% 0%;
  width: 74.5%;
  &.lst {
    padding: 0%;
  }
}

.fft {
  padding: 0% 2% 0% 0%;
  width: 23.5%;
  &.lst {
    padding: 0% 0% 0% 0%;
  }
}

.fft + .twc {
  padding: 0% 2% 0% 0%;
}

.twc:first-child {
  padding: 0% 2% 0% 0%;

}

.fft + .twc.lst {
  padding: 0% 0% 0% 0%;
}

.colcent {
  float: none;
  margin: 0 auto;
}

.fwit {
  margin: -20px -20px 10px -20px;
}

.thrivecb {
  margin-bottom: 20px;
}

.shn, .shnd {
  padding: 1% 2%;
  h4 {
    margin: 0px;
  }
  p {
    padding: 1% 0;
  }
}

.cnt article {
  .shn, .shnd {
    p {
      margin: 0px;
    }
  }
}

.shn {
  color: #fff;
  .bSe & {
    h1, h2, h3, h4, h5, h6, a {
      color: #fff;
    }
  }
  .cnt & {
    p {
      color: #fff;
    }
  }
  .cnt .darkSec &, .cnt .lightSec & {
    color: #fff;
    h1, h2, h3, h4, h5, h6, a, ul, ol, p {
      color: #fff;
    }
  }
}

.shnd {
  color: $textGray;
  .bSe & {
    h1, h2, h3, h4, h5, h6, a {
      color: $textGray;
    }
  }
  .cnt & {
    p {
      color: $textGray;
    }
  }
  .cnt .darkSec &, .cnt .lightSec & {
    color: $textGray;
    h1, h2, h3, h4, h5, h6, a, ul, ol, p {
      color: $textGray;
    }
  }
}

@each $color in $contentBox {
  .thrivecb.#{nth($color, 1)} {
    background-color: nth($color, 2);
  }
}

@each $color in $lightContentBox {
  .thrivecb.#{nth($color, 1)} {
    background-color: nth($color, 2);
  }
}

.thrivecb {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
  }
}

.thrivecb.image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  &.flh {
    position: relative;
    .shn-i {
      position: absolute;
      top: 0;
      left: 10px;
      right: 10px;
    }
  }
  .shn {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.bSeCont {
  .out {
    color: $gray;
    margin-left: -10px;
    margin-right: -10px;
  }
}


.fullWidth {
  .out {
    margin-left: -2500px;
    width: 6040px;
  }
}

.pattern1 {
  background: #ffffff;
  border-bottom: 1px solid #e2e2e2;
}

.pattern2 {
  background: #f2f2f2;
  border-bottom: 1px solid #e2e2e2;
}

.pattern3 {
  background: #34495e;
}

.in {
  margin: 0 auto;
  padding: 20px;
  .wrp.cnt.bip & {
    .pWr {
      margin: 0 auto;
      width: 34%;
    }
  }
}

.scvps {
  margin: 0 auto;
}

.afim {
  max-width: 220px;
}

.cnt .lightSec, .lightSec {
  color: #fff;
  p, ul, ol, div, span, h1, h2, h3, h4, h5, h6, a {
    color: #fff;
  }
  .scbg {
    h4 {
      color: #fff;
    }
  }
  a {
    text-decoration: underline;
  }
  .btn {
    span {
      color: inherit !important;
    }
  }
}

.cnt .darkSec, .darkSec {
  color: $textGray;
  p, ul, ol, div, span, h1, h2, h3, h4, h5, h6, a {
    color: $textGray;
  }
  .scbg {
    h4 {
      color: $textGray;
    }
  }
  a {
    text-decoration: underline;
  }
  .btn {
    span {
      color: inherit !important;
    }
  }
}

//feature grid
.gr {
  margin-bottom: 20px;
  img {
    display: block;
    margin-top: 10px;
    max-width: 100%;
  }
  .gri {
    margin-right: 5%;
  }
  h4 {
    margin-top: 0px;
    word-wrap: break-word;
  }
  &.gr1 {
    .gri {
      width: 12%;
    }
    .grt {
      width: 83%;
    }
  }
  &.gr2 {
    .gri {
      width: 24%;
    }
    .grt {
      width: 71%;
    }
  }
  &.gr3 {
    .gri {
      width: 36%;
    }
    .grt {
      width: 59%;
    }
  }
}

.gr {
  @media only screen and (max-width: 600px) {
    .colm {
      width: 100%;
    }
  }
  @media only screen and (max-width: 772px) {
    .gri, .grt {
      text-align: center;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0px !important;
  }
  &.gr1, &.gr2, &.gr3 {
    .oth {
      @media only screen and (max-width: 940px) {
        .gri, .grt {
          margin-right: 0;
          width: 100%;
          img {
            display: table;
            margin: 0 auto;
          }
        }
      }
    }
  }
  &.gr1 {
    .gri {
      margin-right: 2%;
      width: 12%;
      @media only screen and (max-width: 772px) {
        width: 100%;
      }
      img {
        max-width: auto;
        width: auto;
        @media only screen and (max-width: 772px) {
          display: table;
          margin: 0 auto;
        }
      }
    }
    .grt {
      width: 86%;
      @media only screen and (max-width: 772px) {
        width: 100%;
      }
    }
  }
  &.gr2 {
    .gri {
      margin-right: 2%;
      width: 24%;
      @media only screen and (max-width: 772px) {
        width: 100%;
      }
      img {
        max-width: auto;
        width: auto;
        @media only screen and (max-width: 772px) {
          display: table;
          margin: 0 auto;
        }
      }
    }
    .grt {
      width: 74%;
      @media only screen and (max-width: 772px) {
        width: 100%;
      }
    }
  }
  &.gr3 {
    .gri {
      margin-right: 2%;
      width: 36%;
      @media only screen and (max-width: 774px) {
        width: 100%;
      }
      img {
        max-width: auto;
        width: auto;
        @media only screen and (max-width: 774px) {
          display: table;
          margin: 0 auto;
        }
      }
    }
    .grt {
      width: 62%;
      @media only screen and (max-width: 774px) {
        width: 100%;
      }
    }
  }
}

//price tables
.pt_one {
  width: 100%;
}

.pt_two {
  width: 50%;
}

.pt_three {
  width: 33.3%;
}

.pt_four {
  width: 25%;
}

.pt_five {
  width: 20%;
}

.pt_tthirds {
  width: 66.6%;
}

.pt_tquarters {
  width: 75%;
}

.pt {
  float: left;
  .pt_in {
    background: #f6f6f6;
    margin: 1px auto 0px auto;
    position: relative;
    padding: 15% 12%;
    width: 75%;
    z-index: 0;
    &.pt_hgh {
      box-shadow: 0px 3px 10px 3px #bbbbbb;
      border: 1px solid #d1d1d1;
      background: #fff;
      margin-top: 0px;
      position: relative;
      width: 74%;
      z-index: 1;
    }
    ul {
      list-style-type: none !important;
      list-style-image: none !important;
      li {
        line-height: 30px;
        .bSe & {
          margin-bottom: 0px;
        }
      }
      li:before {
        font-family: FontAwesome;
        font-size: $normalSize * 1.2;
        margin-right: 15px;
      }
      &.check {
        li:before {
          content: '\f058';
          color: $main_color;
        }
        li.noBullet:before {
          content: '';
        }
      }
      &.notcheck {
        li:before {
          content: '\f05c';
        }
      }
    }
    h3 {
      font-weight: 600;
      margin-bottom: 50px;
    }
    .btn {
      span {
        display: block;
      }
    }
    .btn {
      display: table;
      margin: 0 auto;
    }
    .btn.big {
      width: 100%;
    }
  }
  .prc {
    font-size: $normalSize * 2.769;
    line-height: 1em;
    margin-top: 50px;
    margin-bottom: 35px;
    > span {
      font-size: $normalSize * 0.444;
      font-weight: 300;
    }
  }
}

.clCnt {
  height: 98px;
  overflow: hidden;
}

.clLst {
  display: table;
  height: 98px;
  margin: 0 auto;
  // width: 99%;
  li {
    display: block;
    float: left;
    height: 98px;
    margin-left: 7px;
    min-width: 100px;
    max-width: 200px;
    a, img {
      display: block;
    }
    img {
      //  height: 100%;
      min-width: 100px;
      max-height: 98px;
      max-width: 200px;
    }
  }
}

#fbcomments, .fb_iframe_widget, .fb_iframe_widget[style], .fb_iframe_widget iframe[style], #fbcomments iframe[style], .fb-comments > span {
  width: 100% !important;
}

//page sections with image as background
.pdwbg {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.pddbg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pdfbg {
  &.smaller {
    background-size: 100% 100%;
  }
}

.lightSec {
  .pdwbg, .pddbg, .pdfbg {
    text-shadow: 1px 1px 2px #000;
  }
}

.fullWidth, .bpd {
  .pdwbg {
    width: 100%;
  }
}

//new shortcodes
.scon {
  margin: 0 auto 20px auto;
  width: 100%;
  &.wide {
    width: 100%;
    &.o1 {
      .frm {
        input[type="text"], .op-r {
          width: 49.5%;
        }
        .btn {
          width: 49.5%;
        }
      }
    }
    &.o2 {
      .frm {
        input[type="text"], .op-r {
          width: 33%;
        }
        .btn {
          width: 32%;
        }
      }
    }
    &.o3 {
      .frm {
        input[type="text"], .op-r {
          width: 49.5%;
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
        .btn {
          width: 49.5%;
        }
      }
    }
    .frm {
      @include clearfix();
      input[type="text"], .btn, .op-r {
        float: left;
        margin-bottom: 7px;
      }
      input[type="text"], .op-r {
        margin-right: 1%;
      }
    }
  }
  .frm {
    input[type="text"] {
      box-sizing: border-box;
      box-shadow: none;
      border: 1px solid #efefef;
      border-radius: 4px;
      color: #9F9F9F;
      font-family: 'Open Sans';
      font-size: 1.308em;
      font-weight: 700;
      height: 42px;
      margin-bottom: 7px;
      padding: 0 2%;
      width: 100%;
    }
    input[type="text"]::-webkit-input-placeholder {
      color: #9F9F9F;
    }
    input[type="submit"] {
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
      border: none;
      height: 40px;
      width: 100%;
    }
  }
  .btn {
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    input[type="submit"] {
      cursor: pointer;
      padding: 0px;
    }
  }
}

.scfm {
  display: table;
  margin: 0 auto;
  .ss {
    margin-left: 15px;
    position: relative;
    iframe {
      max-width: 1000px;
    }
    &:first-child {
      margin-left: 0px;
    }
    > a {
      display: block;
      height: 31px;
      margin-left: 15px;
      margin-bottom: 10px;
      position: relative;
      width: 31px;
      span {
        background-image: url('../images/sprite-web.png');
        display: block;
        height: 31px;
        width: 31px;
      }
    }
  }

  .bubble {
    border-radius: 2px;
    box-shadow: 1px 0px 4px 0px rgba(#587076, .3);
    background: #fff;
    border: 1px solid #b2c7cd;
    display: block;
    padding: 10px;
    position: relative;
    &:after {
      @include transform(skewX(39deg));
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 13px solid #fff;
      content: '';
      display: block;
      height: 0px;
      position: absolute;
      bottom: -13px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0px;
    }
    &:before {
      @include transform(skewX(39deg));
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 15px solid #b2c7cd;
      content: '';
      display: block;
      height: 0px;
      position: absolute;
      bottom: -15px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 0px;
    }
  }
  .bubb {
    display: block;
    min-width: 50px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 97%;
    left: -9000px;
    z-index: 4;
  }
  .fb {
    span {
      background-position: -1px 0px;
    }
  }
  .tw {
    span {
      background-position: -41px 0px;
    }
  }
  .gg {
    span {
      background-position: -81px 0px;
    }
  }
  .rs {
    span {
      background-position: -201px 0px;
    }
  }
  .lk {
    span {
      background-position: -121px 0px;
    }
  }
  .dr {
    span {
      background-position: -241px 0px;
    }
  }
  .yt {
    span {
      background-position: -161px 0px;
    }
  }
  .vm {
    span {
      background-position: -321px 0px;
    }
  }
  .pt {
    span {
      background-position: -281px 0px;
    }
  }
  .is {
    span {
      background-position: -363px 0;
    }
  }
  .xi {
    span {
      background-position: -403px 0;
    }
  }
}

.sctm {
  border-collapse: separate;
  color: #4b4b4b;
  line-height: $normalSize * 1.4;
  max-width: 800px;
  margin: 20px auto;
  .bSe & {
    margin: 20px auto;
  }
  .bSe & {
    tr {
      border: none;
    }
    td {
      background: transparent;
      padding: 0px;
    }
  }
  .tst {
    font-style: italic;
    font-size: $normalSize;
    td {
      padding-bottom: 10px;
    }
  }
  .lts {
    height: 15px;
    td {
      border-top: 1px solid #6d6d6d;
      &.ltso {
        width: 32px;
      }
      &.ltst {
        border-top: none;
        width: 19px;
      }
    }
    span {
      background: url('../images/sprite-web.png') -92px -50px;
      display: block;
      float: left;
      height: 19px;
      width: 19px;
    }
  }
  .bts {
    vertical-align: top;
    td {
      vertical-align: middle;
      img {
        border: 1px solid #e0e0e0;
        height: 24px;
        width: 24px;
      }
    }
    span {
      margin: 0px 0px 0px 5px;
    }
  }
}

.shn, .lightSec {
  .sctm {
    color: #fff;
    text-shadow: 1px 1px 3px #1f1f1f;
  }
  //  .divi {
  //    border-bottom: 1px solid #fff;
  //  }
}

.shnd, .darkSec {
  .sctm {
    color: #4b4b4b;
  }
  //  .divi {
  //    border-bottom: 1px solid #d5d5d5;
  //  }
}

.scbg {
  clear: both;
  h4 {
    margin: 10px 0px 10px 0px;
    width: 86%;
  }
  h3 {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 16px;
    padding-bottom: 13px;
  }
  .scc {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
    //height: 250px;
    .bgin {
      display: inline-table;
      margin: 15px 0px;
      width: 100%;
      h4, .mre {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  .mre {
    box-shadow: none;
    border: none;
    background: none;
    font-size: 20px;
    padding: 0px;
    .awe {
      margin-left: 0px;
    }
  }
  .rimc {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 160px;
    margin: 0 auto;
    &.def {
      width: 160px;
    }
  }
}

@media only screen and (min-width: 1080px) {
  .fullWidth, .bip, .out, #tcb_landing_page {
    .scc {
      margin-right: 2%;
      width: 23.5%;
      &:nth-of-type(4n) {
        margin-right: 0; 
      }
    }
  }
}

@media only screen and (min-width: 940px) and (max-width: 1080px) {
  .fullWidth, .bip, .out, #tcb_landing_page {
    .scc {
      margin-right: 2%;
      width: 32%;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }
}

//blog gallery in columns
@media only screen and (min-width: 940px) {
  .bSeCont, .bpd {
    .scc {
      margin-right: 2%;
      width: 49%;
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (min-width: 741px) and (max-width: 940px) {
  .fullWidth, .bpd, .bSeCont, .bip, .out, #tcb_landing_page {
    .scc {
      margin-right: 2%;
      width: 49%;
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 740px) {
  .scc {
    float: none;
    height: 100% !important;
    margin: 10px auto;
    width: 67%;
  }
  .colm {
    .scc {
      float: none;
      margin: 10px auto;
      width: 90%;
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.scvps {
  background-size: cover;
  background-position: center center;
  padding: 65px 0px;
  position: relative;
  width: 100%;
  h2 {
    font-size: 85px;
    margin-top: 0px;
    margin-bottom: 25px;
  }
  h3, p {
    font-size: 32px;
  }
  .vdc {
    width: 100%;
    .ltx {
      margin: 0 auto;
      padding: 0px 10px;
      text-align: center;
    }
    &.video-container {
      .wp-video {
        max-width: 1080px !important;
        min-width: 400px;
      }
      .vwr {
        position: absolute;
      }
      iframe, > div {
        box-shadow: 0px 0px 26px -3px #000;
      }
      iframe {
        max-width: 1080px !important;
        min-width: 400px;
      }
    }
    p {
      margin-bottom: 0px;
    }
    &.lv {
      h2, h3, p {
        text-shadow: 1px 1px 3px #1f1f1f;
        color: #fff;
      }
      .mejs-overlay-button {
        @include transition(all, 0.3s, ease);
        background-image: url('../images/lightPlay.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 95%;
        cursor: pointer;
        display: block;
        height: 263px;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        opacity: 0.8;
        width: 260px;
        &:hover {
          background-size: 100%;
          opacity: 1;
        }
      }
      .pvb {
        background: url('../images/lightArrow.png') no-repeat right bottom;
        a {
          @include transition(all, 0.3s, ease);
          background-image: url('../images/lightPlay.png');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 95%;
          cursor: pointer;
          display: block;
          height: 263px;
          margin: 0 auto;
          opacity: 0.8;
          width: 260px;
          &:hover {
            background-size: 100%;
            opacity: 1;
          }
        }
      }
    }
    &.dv {
      h2, h3, p {
        color: #282828;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
      }
      .mejs-overlay-button {
        @include transition(all, 0.3s, ease);
        background-image: url('../images/darkPlay.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 95%;
        cursor: pointer;
        display: block;
        height: 263px;
        left: 0;
        right: 0;
        margin-right: auto;
        margin-left: auto;
        opacity: 0.8;
        width: 260px;
        &:hover {
          background-size: 100%;
          opacity: 1;
        }
      }
      .pvb {
        background: url('../images/darkArrow.png') no-repeat right bottom;
        a {
          @include transition(all, 0.3s, ease);
          background-image: url('../images/darkPlay.png');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 95%;
          cursor: pointer;
          display: block;
          height: 263px;
          margin: 0 auto;
          opacity: 0.8;
          width: 260px;
          &:hover {
            background-size: 100%;
            opacity: 1;
          }
        }
      }
    }
  }
  .pvb {
    cursor: pointer;
    display: block;
    height: 299px;
    margin: 0 auto;
    width: 426px;
  }
}

.top {
  margin-top: -20px;
}

.bottom {
  margin-bottom: -20px;
}

.tmg {
  margin-top: 20px;
}

.bmg {
  margin-bottom: 20px;
}

.dmg {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bcs {
  max-width: 100%;
  &.left {
    margin-right: 5px;
  }
  &.ced {
    margin: 0 auto;
  }
  &.right {
    margin-left: 5px;
  }
  > p > iframe, > p > div {
    max-width: 100%;
    margin: 0 auto;
    padding: 1px;
  }
  &:before {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

.ssf {
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  background: #fff;
  display: none;
  min-width: 56px;
  padding: 15px 0px 5px 0px;
  width: 72px;
  z-index: 100;
  &.apss {
    position: absolute;
    bottom: 0px;
    top: auto;
  }
  &.fpss {
    position: fixed;
    top: 200px;
    bottom: auto;
    right: auto;
  }
  &.apsf {
    display: block;
    position: absolute;
    top: 100px;
    .fullWidth &, .bpd & {
      left: -97px;
    }
    .bSe.left & {
      left: -97px;
    }
    .bSe.right & {
      right: -97px;
    }
  }
  .scfm {
    display: block;
    .ss {
      margin: 0px auto 10px auto;
      width: 53px;
    }
    .ss > a {
      display: inline-table;
      height: 53px;
      margin: 0 auto;
      min-width: 53px;
      min-height: 53px;
      width: 53px;
      span {
        display: table-cell;
        height: 53px;
        width: 53px;
        vertical-align: middle;
      }
      &:hover {
        opacity: 0.8;
      }
    }
    .fb {
      span {
        background-position: -182px -37px;
      }
    }
    .tw {
      span {
        background-position: -123px -37px;
      }
    }
    .gg {
      span {
        background-position: -241px -37px;
      }
    }
    .lk {
      span {
        background-position: -301px -37px;
      }
    }
    .pt {
      span {
        background-position: -363px -37px;
      }
    }
  }
  .cou {
    color: #555555;
    display: block;
    font-size: 12px;
    margin: 0 auto 10px auto;
    text-align: center;
    word-wrap: break-word;
    width: 70px;
    > b {
      color: #555555;
      font-size: 31px;
      &.tt-share-long {
        font-size: 20px;
      }
    }
  }
}

.wp-caption {
  max-width: 100%;
}

//portfolio
//.pgf {
//  .scc {
//    min-height: inherit;
//  }
//}
//.pgi {
//  background-size: cover;
//  background-repeat: no-repeat;
//  background-position: center center;
//  color: #fff;
//  cursor: pointer;
//  height: 250px;
//  width: 250px;
//  .scbg & {
//    h5, p {
//      color: #fff;
//      text-align: left;
//      margin-left: 10px;
//    }
//    p {
//      font-size: 13px;
//      line-height: 13px;
//    }
//    h5 {
//      margin-top: 0px;
//    }
//  }
//  .pio {
//    @include transition(all, 0.3s, ease-in);
//    background: transparent;
//    height: 100%;
//    opacity: 0;
//    text-align: center;
//    width: 100%;
//    &:before {
//      display: block;
//      font-family: 'FontAwesome';
//      font-size: 65px;
//      padding-top: 50px;
//      padding-bottom: 40px;
//    }
//    &.pit {
//      &:before {
//        content: '\f030';
//      }
//    }
//    &.pgt {
//      &:before {
//        content: '\f03e';
//      }
//    }
//    &.pat {
//      &:before {
//        content: '\f028';
//      }
//    }
//    &.pvt {
//      &:before {
//        content: '\f04b';
//      }
//    }
//    &.plt {
//      &:before {
//        content: '\f061';
//      }
//    }
//  }
//  &:hover {
//    .pio {
//      background: rgba(0, 0, 0, 0.4);
//      opacity: 1;
//    }
//  }
//}
//.port {
//  margin-top: 20px;
//  h1 {
//    margin-top: 20px;
//  }
//  .prto {
//    width: 60%;
//  }
//  .scvps {
//    .vdc.lv {
//      .pvb {
//        background: none;
//      }
//    }
//  }
//  .prtt {
//    text-align: right;
//    width: 40%;
//    a, span {
//      color: $lightGray;
//    }
//    a {
//      @include transition(all, 0.5s, ease);
//      text-decoration: none;
//      &:hover {
//        color: $main_color;
//      }
//    }
//    ul {
//      list-style-image: none;
//      list-style-type: none;
//      li {
//        .cnt article & {
//          margin-bottom: 0px;
//        }
//      }
//    }
//  }
//  .pnv {
//    padding: 0px;
//    li {
//      display: inline-block;
//      float: left;
//      width: 50%;
//      &:before {
//        content: '';
//      }
//      a {
//        @include transition(all, 0.5s, ease);
//        color: $lightGray;
//        display: block;
//        text-decoration: none;
//        &:hover {
//          color: $main_color;
//        }
//      }
//    }
//    .prv {
//      float: left;
//      &:before {
//        content: '<<';
//        margin-right: 5px;
//      }
//    }
//    .nxt {
//      float: right;
//      &:after {
//        content: '>>';
//        margin-left: 5px;
//      }
//    }
//  }
//  .apv {
//    background-size: cover;
//    background-repeat: no-repeat;
//    background-position: center center;
//    margin: 0 auto;
//    position: relative;
//    .atp {
//      padding: 0px 2px;
//      > iframe {
//        max-width: 99.5%;
//        position: absolute;
//        bottom: 2px;
//        left: 0px;
//        right: 0px;
//        margin-left: auto;
//        margin-right: auto;
//      }
//    }
//  }
//  .rpit {
//    padding: 25px 0px 35px 0px;
//    .rpi {
//      @include hoverOpacity;
//      background-size: cover;
//      background-repeat: no-repeat;
//      background-position: center center;
//      display: block;
//      float: left;
//      height: 245px;
//      margin-left: 20px;
//      width: 245px;
//      &:first-child {
//        margin-left: 0px;
//      }
//    }
//  }
//}

//gallery
.galleryOverlay {
  @include transition(opacity, 0.5s, ease);
  background: rgba(0, 0, 0, 0.75);
  display: none;
  height: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  z-index: 10000;
  opacity: 0;
  &.g-v {
    opacity: 1;
  }
  .galleryStage {
    @include transition(left, 0.3s, ease);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    width: 100%;
    -ms-touch-action: none;
    touch-action: none;
    &.g-n-a {
      @include transition(none, 0s, ease);
    }
  }
  .galleryWrapper {
    display: inline-block;
    height: 100%;
    line-height: 1px;
    text-align: center;
    width: 100%;
    &:before {
      content: '';
      display: inline-block;
      height: 50%;
      margin-right: -1px;
      width: 1px;
    }
    img {
      box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.75);
      display: inline-block;
      max-height: 100%;
      max-width: 100%;
      vertical-align: middle;
    }
  }
  .g_count {
    color: #fff;
    display: block;
    height: 37px;
    line-height: 37px;
    margin: 0 auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.6;

    .gl_ctrl_wrp {
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      background: #000;
      padding: 0px 15px;
      display: table;
      margin: 0 auto;
    }
    .img_count, .cap_txt {
      font-size: 14px;
    }
    .mob_text {
      display: none;
    }
  }
  .gl_ctrl {
    @include transition(all, 0.5s, ease);
    z-index: 1003;
    &:hover {
      opacity: 0.5;
    }
  }
  .nav_next, .nav_prev {
    background: url('../images/sprite-web.png') no-repeat #000;
    display: block;
    height: 97px;
    margin-top: -48px;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    text-decoration: none;
    text-align: center;
    width: 58px;
  }
  .nav_next {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    background-position: -98px -94px;
    right: 0;
  }
  .nav_prev {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    background-position: -50px -94px;
    left: 0;
  }
  .nav_close {
    @include transition(opacity, 0.5s, ease);
    background: #000;
    border-radius: 5px;
    height: 32px;
    line-height: 32px;
    opacity: 0.4;
    position: absolute;
    top: -16px;
    right: -16px;
    text-decoration: none;
    width: 32px;
    text-align: center;
    &:hover {
      opacity: 0.5;
    }
    &.nav_close_cnt {
      top: 0px;
      right: 0px;
    }
    &:before {
      content: '\f00d';
      color: #fff;
      font-family: 'FontAwesome';
      font-size: 20px;
      opacity: 1;
    }
  }
}

.gallery {
  &.gallery-columns-1 {
    display: table;
  }
  &.no-gallery {
    dt {
      a {
        &:after, &:before {
          display: none;
        }
      }
    }
  }
  dl {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 0px;
    text-align: left !important;
    dt {
      @include transition(all, 0.5s, linear);
      cursor: pointer;
      display: block;
      position: relative;
    }
  }
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  br {
    display: none;
  }
  &[id*='gallery-'] img {
    border: none !important;
  }
  dt {
    a {
      @include transition(all, 0.5s, linear);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      display: block;
      max-height: 450px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 13px;
      text-decoration: none;
      position: relative;
      &:after {
        @include transition(all, 0.5s, linear);
        background: transparent;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        content: '';
        height: 100%;
        margin: auto;
        position: absolute;
        bottom: 0px;
        top: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
      }
      &:hover {
        @include transition(all, 0.5s, linear);
        &:before {
          content: '\f00e';
          color: #fff;
          cursor: pointer;
          font-family: 'FontAwesome';
          font-size: 35px;
          height: 35px;
          margin: auto;
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          opacity: 0.8;
          width: 35px;
          z-index: 1;
        }
        &:after {
          @include transition(all, 0.5s, linear);
          background: rgba(0, 0, 0, 0.55);
          content: '';
          height: 100%;
          margin: auto;
          position: absolute;
          bottom: 0px;
          top: 0px;
          left: 0px;
          right: 0px;
          width: 100%;
          z-index: 0;
        }
      }
    }
  }
}

@include setGalleryWidths(1000px, fullWidth, 1, 9, false);
@include setGalleryWidths(1000px, tve_post_lp, 1, 9, false);
@include setGalleryWidths(800px, bpd, 1, 9, false);
@include setGalleryWidths(650px, bSeCont, 1, 9, false);

.rve {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
  &.noc {
    padding-top: 12px;
  }
  &.vim {
    padding-top: 8px;
  }
}

.brve {
  display: block;
  position: relative;
  padding-bottom: 55%;
  padding-top: 28px;
  height: 0;
  overflow: hidden;
  &.bnoc {
    padding-top: 19px;
  }
  &.vim {
    padding-top: 32px;
  }
}

.rve, .brve {
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.bSe iframe {
  max-width: 100%;
}

.vim {
  iframe, object, embed {
  //  top: -15px;
  }
}

//extended menus
.has-heading {
  .colch {
    border-bottom: 1px solid #ebebeb;
    color: #4e4e4e;
    font-size: 1.333em;
    font-weight: 400;
    margin: 0;
    padding: 13px 0 13px 15px;
    text-align: left;
    text-transform: uppercase;
    word-wrap: break-word;
  }
}

.has-heading {
  .colch {
    color: #4e4e4e;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 13px 0 13px 15px;
    text-align: left;
    word-wrap: break-word;
  }
}

.has-free {
  a {
    text-decoration: underline;
  }
}

.has-extended img {
  &.alignleft, &.alignright, &.alignnone {
    margin: 0 !important;
  }
  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }
}

header {
  nav {
    li.has-extended {
      > ul.sub-menu {
        box-shadow: 0 3px 3px 0 #cfcfcf;
        background: #f9f9f9;
        border: none;
        //        position: fixed;
        position: absolute;
        left: auto;
        top: auto;
        margin: 0;
        right: auto;
        overflow: hidden;
        &.position_right {
          position: absolute;
          right: -33px;
        }
        &.position_left {
          position: absolute;
          left: -33px;
        }
        li a {
          height: auto;
        }
        li.menu-item-has-children > a:after {
          display: none;
        }
        li.menu-item {
          background: #f9f9f9;
          display: block;
          position: static;
          a[href] {
            &:hover {
              background: #f5f5f5;
              color: $main_color;
            }
          }
          > a {
            @include transition(all, 0.2s, linear);
            color: #4e4e4e;
            font-size: 1em;
            line-height: 38px;
            text-indent: 0;
            word-wrap: break-word;
            &:hover {
              background: none;
            }
          }
        }
        > li {
          float: left;
          width: 49%;
          ul.sub-menu {
            box-shadow: none;
            border: 0 none;
            display: block !important;
            margin-left: 0;
            position: static;
            opacity: 1 !important;
            li {
              border-bottom: 0 none;
              width: 100%;
              a {
                border-bottom: 1px solid #ebebeb;
                padding-left: 15px;
              }
            }
          }
        }
      }
      ul li {
        border: 0 none;
        > ul li {
          color: #4e4e4e;
        }
        ul li:first-child {
          border: 0 none;
        }
      }
    }
  }
}

.has-free {
  a {
    border: 0 !important;
    background: none !important;
    display: inline !important;
    padding: 0 !important;
    &:hover {
      background: none;
    }
  }
}

header nav {
  li.col-no-4 {
    position: static;
    > ul.sub-menu, ul.sub-menu.position_menu {
      left: 0;
      right: 0;
      margin: auto;
      //      position: fixed;
      position: absolute;
      ul.submenu li {
        padding-right: 0;
      }
    }
    @media only screen and (min-width: 1080px) {
      &.has-extended {
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 1055px;
        }
        ul {
          li {
            padding: 0px 1%;
            width: 23%;
            &:nth-of-type(4n + 1 ) {
              clear: left;
            }
          }
        }
      }
    }
    @media only screen and (min-width: 940px) and (max-width: 1079px) {
      &.has-extended {
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 770px;
        }
        ul {
          li {
            padding: 0px 1%;
            width: 31%;
            &:nth-of-type(3n + 1 ) {
              clear: left;
            }
          }
        }
      }
    }
    @media only screen and (min-width: 840px) and (max-width: 939px) {
      &.has-extended {
        position: relative;
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 520px;
        }
        ul {
          li {
            padding: 0px 1%;
            width: 48%;
            &:nth-of-type(2n + 1 ) {
              clear: left;
            }
          }
        }
      }
    }
    @media only screen and (min-width: 774px) and (max-width: 839px) {
      &.has-extended {
        position: relative;
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 260px;
        }
        ul {
          li {
            clear: both;
            padding: 0px 1%;
            width: 98%;
          }
        }
      }
    }
  }
}

header nav {
  li.col-no-3 {
    > ul.sub-menu {
      width: 770px;
    }
    @media only screen and (min-width: 1080px) {
      &.has-extended {
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 770px;
        }
        ul {
          li {
            padding: 0px 1%;
            width: 31%;
            &:nth-of-type(3n + 1 ) {
              clear: left;
            }
          }
        }
      }
    }
    @media only screen and (min-width: 840px) and (max-width: 1079px) {
      &.has-extended {
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 520px;
        }
        ul {
          li {
            padding: 0px 1%;
            width: 48%;
            &:nth-of-type(2n + 1 ) {
              clear: left;
            }
          }
        }
      }
    }
    @media only screen and (min-width: 774px) and (max-width: 839px) {
      &.has-extended {
        > ul.sub-menu, ul.sub-menu.position_menu {
          width: 260px;
        }
        ul {
          li {
            clear: both;
            padding: 0px 1%;
            width: 98%;
          }
        }
      }
    }
  }
}

header {
  nav {
    li.col-no-2 {
      > ul.sub-menu {
        width: 520px;
      }
      @media only screen and (min-width: 74px) {
        &.has-extended {
          ul {
            li {
              padding: 0px 1%;
              width: 48%;
              &:nth-of-type(2n + 1 ) {
                clear: left;
              }
            }
          }
        }
      }
      @media only screen and (min-width: 774px) and (max-width: 839px) {
        &.has-extended {
          > ul.sub-menu, ul.sub-menu.position_menu {
            width: 260px;
          }
          ul {
            li {
              clear: both;
              padding: 0px 1%;
              width: 98%;
            }
          }
        }
      }
    }
  }
}

header nav {
  li.col-no-1 {
    ul.sub-menu {
      box-sizing: border-box;
      display: block;
      float: none;
      padding: 0 5%;
      width: 260px;
      li {
        float: none;
        width: 100%;
        a {
          padding: 0 5%;
        }
        ul {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 940px) and (max-width: 1350px) {
  header {
    nav {
      li.has-extended.col-no-3 {
        position: static;
        > ul.sub-menu {
          margin: auto;
          //          position: fixed;
          left: 0;
          right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 940px) and (min-width: 774px) {
  header {
    nav {
      li.has-extended, li.has-extended.col-no-4 {
        > ul.sub-menu {
          position: absolute;
          left: auto;
          right: 0px;
          &.position_left {
            left: -33px;
            right: auto;
          }
          &.position_right {
            right: -33px;
            left: auto;
          }
        }
        &:first-of-type {
          > ul.sub-menu {
            &.position_left {
              left: 0px;
              right: auto;
            }
          }
        }
      }
    }
  }
}

.err {
  a {
    color: $main_color;
  }
}

// header font dark/light
//header {
//  ul.menu {
//    &.darkh > li > a {
//      color: #4E4E4E;
//    }
//    &.lighth > li > a {
//      color: #bebaba;
//    }
//  }
//}

//header image stuff
.tt-dmy {
  //  height: 100%;
  visibility: hidden;
}

header.hbp {
  background-size: auto;
}

header.hif {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

header.hic {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
  position: relative;
  &:before {
    display: none;
  }
  #floating_menu & {
    padding: 0;
  }
  .tt-dmy {
    display: block;
    position: relative;
    z-index: 0;
  }
  #head_wrp {
    position: absolute;
    bottom: 8px;
    right: 0;
    left: 0;
  }
}

header {
  &.hif, &.hic {
    width: 100%;
  }
}

@each $color in $buttonColors {
  .nsd.#{nth($color, 1)} {
    .pbb {
      background: nth($color, 3);
    }
    //.fcf {
    //  background: nth($color, 2);
    //}
    .pbf {
      background: nth($color, 2);
    }
    //&.fcb {
    //  background: nth($color, 3);
    //}
    .fill-counter-circle {
      background: nth($color, 3);
    }
    .fill-counter-inner {
      stroke: nth($color, 2);
    }
    &.nbc {
      .nbcnb, .nbcn, .nbcna, .nbcl {
        color: nth($color, 2);
      }
    }
    .cdtl {
      color: nth($color, 2);
    }
  }
  .drp1.#{nth($color, 1)} {
    &::first-letter {
      color: nth($color, 2);
    }
  }
  .drp2.#{nth($color, 1)} {
    &::first-letter {
      background: nth($color, 2);
    }
  }
}

.nsda {
  position: relative;
}
@keyframes fill-counter-svg {
  from {
    stroke-dasharray: 0 584;
  }
}
.fill-counter {
  .fill-counter-inner {
    display: table;
    margin: 20px auto;
    position: relative;
  }
  .fill-counter-circle {
    @include transform(rotate(-90deg));
    border-radius: 50%;
    height: 186px;
    stroke-dasharray: inherit;
    width: 186px;
    circle {
      @include transition(stroke-dasharray 2s linear);
      fill: none;
      stroke-width: 26;
      stroke-dasharray: 0 584;
    }
  }
}
.fill-counter.nsds .fill-counter-inner circle {
  animation: fill-counter-svg 2s linear;
  stroke-dasharray: inherit;
}
.fill-counter-text {
  border-radius: 50%;
  background: #f8f8f8;
  color: #2c2c2c;
  height: 112px;
  font-size: 60px;
  font-weight: 400;
  line-height: 45px;
  padding-top: 50px;
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 12px;
  right: 12px;
  text-align: center;
  width: 162px;
}
.fill-counter-label {
  color: #2c2c2c;
  display: block;
  font-size: 13px;
  font-weight: 300;
  margin-top: 0;
  text-align: center;
}
.accs {
  margin-bottom: 20px;
  .accss {
    border-top: 1px solid #e5e5e5;
    padding: 0px 10px 2px 0px;
    &:last-child {
      border-bottom: 1px solid #e5e5e5;
    }
    &.opac {
      .acc-h {
        cursor: pointer;
        span {
          &:before {
            content: '\f146';
            color: #b7b7b7;
            display: inline-block;
            font-size: $normalSize * 0.900;
          }
        }
      }
      .accsi {
        display: block;
      }
    }
    .acc-h {
      cursor: pointer;
      color: $main_color;
      font-size: $normalSize * 1.500;
      line-height: 29px;
      margin: 0px;
      padding: 5px 5px 5px 30px;
      position: relative;
      &:hover {
        color: $main_color;
        span {
          &:before {
            color: $main_color;
          }
        }
      }
      span {
        bottom: 0;
        display: block;
        height: 31px;
        left: 0;
        margin: auto -10px;
        position: absolute;
        top: 0;
        width: 28px;
        &:before {
          content: '\f0fe';
          color: #b7b7b7;
          display: inline-block;
          font-family: 'FontAwesome';
          font-size: $normalSize * 0.900;
          padding: 0px 11px;
        }
      }
    }
    .accsi {
      display: none;
      p {
        margin: 10px 0px 20px 0px;
      }
    }
  }
}

.divi {
  border-bottom: 1px solid #e5e5e5;
  clear: both;
  display: block;
  margin: 10px 0px;
  position: relative;
  &.sdivi {
    border-bottom: 1px solid #e5e5e5;
  }
  &.ldivi {
    border-bottom: 4px solid #e5e5e5;
    margin-left: 0;
    margin-right: auto;
    min-width: 200px;
    width: 32%;

  }
  &.cdivi {
    border-bottom: 4px solid #e5e5e5;
    display: table;
    height: 1px;
    margin: 20px auto;
    min-width: 200px;
    width: 32%;
  }
  &.rdivi {
    border-bottom: 4px solid #e5e5e5;
    margin-left: auto;
    margin-right: 0;
    min-width: 200px;
    width: 32%;
  }
  .bSeCont & {
    &.ddivi {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  .fullWidth &, .bpd & {
    &.sdivi {
      margin-left: -3000px;
      width: 6000px;
    }
  }
}

.defhgh {
  background-color: $main_color;
}

.lhgh {
  color: #fff !important;
}

.dhgh {
  color: $content_gray !important;
}

.drp1 {
  &::first-letter {
    display: block;
    font-size: 36px;
    float: left;
    line-height: 36px;
    margin-right: 5px;
    margin-top: 10px;
    text-transform: uppercase;
  }
}

.drp2 {
  &::first-letter {
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 30px;
    line-height: 30px;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 7px 14px 7px 15px;
    text-transform: uppercase;
  }
}

.drp2.light {
  &::first-letter {
    color: #353535;
  }
}

@-moz-document url-prefix() {
  .drp2:first-letter {
    padding: 7px 11px;
  }
}

.shortcode_tabs {
  margin-bottom: 20px;
  &.horz_tabs {
    .scT {
      > ul.scT-tab {
        list-style-type: none;
        list-style-image: none;
        margin-bottom: 0px;
        padding: 0px 6px;
        li {
          box-sizing: border-box;
          border-top-left-radius: 9px;
          border-top-right-radius: 9px;
          border: 1px solid #e8e8e8;
          background: #f8f8f8;
          cursor: pointer;
          float: left;
          margin-bottom: 0;
          text-align: center;
          padding: 15px 0px 12px 0px;
          a {
            color: #2b2b2b;
            font-size: $normalSize * 1.385;
            font-family: 'Oxygen';
            text-decoration: none;
          }
          &:hover {
            background: #fdfdfd;
          }
          &.tS {
            background: #e5e5e5;
            border: 1px solid #e5e5e5;
            a {
              color: #2b2b2b;
            }
          }
        }
      }
    }
    .scTC {
      border: 1px solid #e8e8e8;
      background: #f8f8f8;
      display: none;
      padding: 20px 15px;
    }
  }
  &.vert_tabs {
    .scT {
      > ul.scT-tab {
        list-style-type: none;
        margin: 0;
        padding: 0px;
        li {
          border-top-left-radius: 9px;
          border-bottom-left-radius: 9px;
          border-left: 1px solid #e8e8e8;
          border-right: 1px solid #e8e8e8;
          border-bottom: 1px solid #e8e8e8;
          background: #f8f8f8;
          cursor: pointer;
          display: block;
          float: none;
          margin-bottom: 0px !important;
          padding: 10px;
          text-align: left;
          &:first-child {
            border-top: 1px solid #e8e8e8;
          }
          &.tS {
            background: #e5e5e5;
          }
          &:not(.tS):hover {
            background-color: #fff;
            a {
              cursor: pointer;
              color: #2b2b2b;
            }
          }
          a {
            color: #2b2b2b;
            display: block;
            font-size: $normalSize * 1.385;
            text-decoration: none;
            padding: 3px;
          }
        }
      }
    }
    .scT {
      @include clearfix;
      width: 100%;
      > ul {
        display: block;
        float: left;
        position: relative;
        vertical-align: top;
        z-index: 1;
        width: 20%;
      }
    }
    .scTC {
      box-sizing: border-box;
      background: #fbfbfb;
      border: 1px solid #E6E6E6;
      display: none;
      float: left;
      margin-left: -1px;
      position: relative;
      vertical-align: top;
      padding: 10px 20px 20px 20px;
      width: 74%;
      z-index: 0;
    }
  }
}

.faqI {
  background: #fff;
  border: 1px solid #e5e5e5;
  margin-top: 10px;
  &:hover {
    border: 1px solid #7c7c7c;
  }
}

.faq {
  .faqC {
    display: none;
    padding: 5px 30px 5px 5px;
    p {
      color: #2b2b2b;
      font-size: $normalSize;
      line-height: 23px;
      margin-bottom: 10px;
      padding: 0px 10px;
    }
  }
  h4 {
    cursor: pointer;
    color: $main_color;
    font-size: $normalSize * 1.500;
    font-weight: 300;
    margin: 0px 0px 2px 0px;
    padding: 5px;
    .cnt article & {
      font-weight: 400;
      font-size: 20px;
      color: #323232;
    }
    &:hover {
      span {
        &:before {
          @include transition(color, .3s, linear);
          color: #2b2b2b;
        }
      }
    }
    span {
      display: inline-block;
      margin-right: 10px;
      height: 31px;
      width: 28px;
      background: none;
      &.oFaq {
        &:before {
          content: '\f139';
        }
      }
      &:before {
        content: '\f13a';
        color: #a6a6a6;
        display: inline-block;
        font-family: 'FontAwesome';
        font-size: $normalSize * 0.900;
        padding: 6px 9px;
      }
      &:hover {
        color: $main_color;
      }
    }
  }
}

.nsd {
  margin: 20px 0px;
  &.nsds {
    .pbf {
      @include animation-play-state(running);
    }
  }
  .pbf {
    @include animation-play-state(paused);
  }
}

.pbb {
  border-radius: 3px;
  display: block;
  height: 24px;
  margin: 7px 0px;
  position: relative;
  .pbf {
    @include animation-duration(2s);
    @include animation-timing-function(linear);
    @include animation-name(progress-bar);
    border-radius: 3px;
    height: 22px;
    margin: 1px;
    position: relative;
  }
}

.pbbl {
  color: #fff;
  display: block;
  font-size: $normalSize;
  font-weight: 300;
  line-height: 22px;
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 0px 7px;
  z-index: 3;
}

.nsd.light {
  .pbbl {
    color: #353535;
  }
}

.pbfc {
  box-sizing: border-box;
  overflow: hidden;
}

.nsd {
  &.nsds {
    .fcf {
      @include animation-play-state(running);
    }
  }
  .fcf {
    @include animation-play-state(paused);
  }
}

.wp-caption {
  img {
    box-sizing: border-box;
    display: block;

  }
  .wp-caption-text {
    font-style: italic;
    margin-bottom: 0px;
    padding-top: 10px;
  }
  &.circle-image {
    img {
      border-radius: 50%;
      display: table;
      margin: 0 auto;
      width: 50%;
    }
  }
  &.rounded-image {
    img {
      border-radius: 5px;
      display: table;
      margin: 0 auto;
    }
  }
  &.framed-image {
    box-shadow: 2px 0 4px 0px rgba(#000000, .10);
    border: 1px solid #dadada;
    background: #fff;
    padding: 10px;
  }
  &.lifted-image {
    img {
      box-shadow: 2px 0px 5px 0px rgba(#000, .40);
      display: table;
      margin: 0 auto;
    }
  }
}

img {
  box-sizing: border-box;
  //  &.size-full {
  //    margin: 0;
  //  }
  &.circle-image {
    border-radius: 50%;
    display: table;
    margin: 0 auto;
    width: 50%;
  }
  &.rounded-image {
    border-radius: 9px;
  }
  &.framed-image {
    box-shadow: 2px 0 4px 0px rgba(#000000, .10);
    border: 1px solid #dadada;
    background: #fff;
    display: table;
    margin: 0 auto;
    padding: 10px;
  }
  &.lifted-image {
    box-shadow: 2px 0px 5px 0px rgba(#000, .40);
    display: block;
  }
}

.wp-caption-text {
  font-size: 12px;
  text-align: center;
  color: #737373;
}

.wp-caption, .wp-caption-text {
  max-width: 100%;
}

.nbc {
  position: relative;
  text-align: center;
  .nbcnb {
    font-weight: 400;
    font-size: 44px;
  }
  .nbcn {
    font-weight: 400;
    font-size: 44px;
  }
  .nbcna {
    font-weight: 400;
    font-size: 44px;
  }
  .nbcl {
    display: block;
    font-weight: 400;
    font-size: 18px;
    margin-top: 5px;
    padding: 0px 20px;
  }
}

.fhd {
  display: table;
  margin: 20px 0px;
  overflow: hidden;
  .fhdt {
    //main-color!
    color: $main-color;
    font-size: $normalSize * 3.077;
    margin: 0;
    white-space: nowrap;
  }
  .fhdl {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    &:before {
      //scoate height de aici nu te ajuta la nimica
      border-bottom: 4px solid #e5e5e5;
      content: '';
      display: block;
      width: 100%;
    }
  }
  &.lfhd {
    float: left;
    .fhdt {
      border-bottom: 4px solid #e5e5e5;
      padding: 3px 0px;
    }
  }
  &.rfhd {
    float: right;
    .fhdt {
      border-bottom: 4px solid #e5e5e5;
      padding: 3px 0px;
    }
  }
  &.cfhd {
    .fhdl {
      width: 50%;
    }
    .fhdt {
      padding: 0px 10px;
    }
  }
}

.bp-t {
  //  display: -webkit-box;
  //  display: -moz-box;
  //  display: -ms-flexbox;
  //  display: -webkit-flex;
  //  display: flex;
  //  -ms-flex-direction: row;
  //  -ms-flex-align: center;
  //  -webkit-box-align: center;
  //  align-items: center;
  background: #fff !important;
  height: 100%;
  min-height: 100%;
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -.25em;
    vertical-align: middle;
  }
  .wrp {
    background: #fff;
    display: inline-block;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    p {
      margin-bottom: 20px;
    }
  }
}

.faqI h4,
.txt_thrive_link_to_comments,
#thrive_container_list_comments .reply,
#thrive_container_list_comments .cancel_reply,
.gallery-item a,
.gallery a.nav_prev,
.gallery a.nav_next,
.gallery .nav_close,
.galleryStage {
  cursor: pointer;
}

.wistia-video-container {
  .vdc {
    .ltx {
      display: none;
    }
    &.video-container {
      display: block !important;
      .vwr {
        box-shadow: none;
        max-width: 1080px;
        margin: 0 auto;
        position: static;
        iframe {
          box-shadow: none;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
@media only screen and (max-width: 1080px) {
  .wistia-video-container {
    .vdc {
      &.video-container {
        .vwr {
          max-width: 100%;
        }
      }
    }
  }
}

@import "_new_shortcodes.scss";
@import "responsive.scss";

