@import "mixins.scss";

//@include responsivebackground();

@media only screen and (max-width: 1580px) and (min-width: 1430px) {
  .clLst li {
    margin-left: 18.5px;
  }
}

@media only screen and (max-width: 1430px) and (min-width: 1217px) {
  .clLst li {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 1217px) and (min-width: 1176px) {
  .clLst li {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 1176px) and (min-width: 1148px) {
  .clLst li {
    margin-left: 12px;
  }
}

@media only screen and (max-width: 1148px) and (min-width: 1108px) {
  .clLst li {
    margin-left: 7px;
  }
}

@media only screen and (max-width: 1108px) and (min-width: 1090px) {
  .clLst li {
    margin-left: 18px;
  }
}

@media only screen and (max-width: 1090px) and (min-width: 1080px) {
  .clLst li {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 1350px) {
  .ssf {
    box-shadow: none;
    border: none;
    background: none;
    display: block !important;
    margin-top: 10px;
    position: static !important;
    width: auto;
    .cou, .scfm {
      float: left;
    }
    .scfm {
      .ss {
        float: left;
        margin-right: 10px;
      }
    }
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
    .cou {
      margin: 15px 10px 0px 15px;
    }
    &:before {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }
}

/*---------- Responsive - width 1080px  ----------*/
@media only screen and (max-width: 1080px) {
  .wrp {
    width: 900px;
    .bpd {
      width: 702px;
    }
  }
  .fullWidth .out {
    width: 5880px;
  }
  .cnt .bpd .out {
    width: 5682px;
  }
  .in {
    height: 100% !important;
  }
  .fullWidth .in, .bpd .in {
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    width: 1080px !important;
  }
  .fullWidth .cck {
    width: 900px !important;
  }
  .bpd .cck {
    width: 702px !important;
  }
  @include setGalleryWidths(850px, fullWidth, 1, 7, true);
  @include setGalleryWidths(850px, tve_post_lp, 1, 7, true);
  @include setGalleryWidths(680px, bpd, 1, 7, true);
  @include setGalleryWidths(550px, bSeCont, 1, 6, true);
  .fullWidth, .bpd, .bSeCont {
    .gallery-columns-8, .gallery-columns-9 {
      .gallery-item {
        width: 20% !important;
      }
    }
  }
  .bSeCont {
    .gallery-columns-7 {
      .gallery-item {
        width: 20% !important;
      }
    }
  }
  .bSeCont {
    .bSe.fullWidth {
      width: 900px;
    }
  }
  .bSe {
    &.left, &.right {
      .lfa {
        width: 578px;
      }
    }
    &.bpd {
      .lfa {
        width: 690px;
      }
    }
  }
  .cnt .sAs {
    margin-left: 10px;
  }
  .srh input.search-field {
    padding: 0px 0px 0px 10px;
    width: 76%;
  }
  .follow_me {
    .side_body ul li {
      a.sm {
        margin-left: 13px;
      }
    }
  }
  .pulQ {
    &.left, &.right {
      div.left {
        max-width: 65%;
      }
    }
  }
  .aut {
    > div.right {
      width: 75%;
      &.noSocial {
        width: 80%;
      }
    }
  }
  .no_content_msg {
    .lost {
      width: 45%;
    }
  }
  .f5 {
    .frm {
      .input_for_2_fields {
        margin-right: 2%;
        width: 25%;
      }
      .input_for_1_fields {
        margin-left: 16%;
        width: 30%;
      }
      .submit_with_1_fields {
        margin-right: 16%;
        width: 28%;
      }
    }
  }
  .limg {
    .left {
      img {
        height: 70px;
        width: 70px;
      }
    }
  }
  .clLst {
    width: 95%;
  }
  .clLst li {
    margin-left: 2%;
  }
  .csc, .row {
    .foc {
      padding: 0% 2% 0% 0%;
      width: 49%;
      &:nth-child(2n) {
        padding: 0% 0% 0% 0%;
      }
    }
  }
  .scon {
    &.wide, &.wide.o1, &.wide.o2, &.wide.o3 {
      .frm {
        input[type="text"], .btn, .op-r {
          float: none;
        }
        .btn {
          width: 100%;
        }
        input[type="text"], .op-r {
          margin-bottom: 10px;
          width: 100%;
        }
      }
    }
  }
  .scvps .vdc {
    &.video-container {
      .wp-video, iframe {
        max-width: 900px !important;
      }
    }
  }
  .sAs {
    .search-button, .submit_btn {
      height: 41px;
    }
  }
  h1 {
    font-size: 33px !important;
  }
  .mms {
    font-size: 70px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .clLst li {
    margin-left: 3%;
  }
}

@media only screen and (max-width: 950px) {
  .clLst li {
    margin-left: 1%;
  }
}

/*----------  Responsive - width 940px  ----------*/
@media only screen and (max-width: 940px) {
  .wrp {
    width: 700px;
    .bpd {
      width: 546px;
    }
  }
  .bSeCont {
    .bSe.fullWidth {
      width: 700px;
    }
  }
  .fullWidth .out {
    width: 5680px;
  }
  .cnt .bpd .out {
    width: 5526px;
  }
  .fullWidth .in, .bpd .in {
    width: 940px !important;
  }
  .fullWidth .cck {
    width: 700px !important;
  }
  .bpd .cck {
    width: 546px !important;
  }
  @include setGalleryWidths(650px, fullWidth, 1, 7, true);
  @include setGalleryWidths(650px, tve_post_lp, 1, 7, true);
  @include setGalleryWidths(520px, bpd, 1, 6, true);
  @include setGalleryWidths(630px, bSeCont, 1, 6, true);
  .bpd {
    .gallery-columns-6, .gallery-columns-7 {
      .gallery-item {
        width: 25% !important;
      }
    }
  }
  .bSe {
    &.bpd {
      .lfa {
        width: 530px;
      }
    }
  }
  .bSeCont {
    display: table-header-group;
  }
  .sAsCont {
    display: table-footer-group;
  }
  .cnt .sAs.left, .cnt .sAs.right {
    float: none;
    margin: 25px 0px 0px 0px;
    width: 700px;
  }
  .cnt .bSe.left, .cnt .bSe.right {
    float: none;
    width: 700px;
  }
  .sAs .oab, footer .oab {
    padding: 2% 10%;
  }
  .sAs .search_widget #search-field, footer .search_widget #search-field {
    width: 90%;
  }
  .ftw {
    section[id*='pages'] {
      ul ul {
        padding-left: 2%;
      }
    }
  }
  section[id*="pages"] {
    .scn ul ul {
      padding-left: 2%;
    }
  }
  input#search-field {
    padding: 0px 6px;
  }
  .cnt {
    article {
      ul.children {
        padding: 0px;
      }
      .cmb {
        margin-left: 0px;
      }
    }
  }
  .ftw .colm {
    box-sizing: border-box;
    margin-bottom: 40px;
  }

  .tabs_widget {
    .scTC {
      .tim {
        width: 10%;
      }
      .txt {
        width: 80%;
      }
    }
  }
  .cms {
    .awr {
      .left {
        width: 15%;
      }
      .right {
        width: 85%;
      }
    }
  }

  .pulQ {
    div.left {
      border-left: none;
    }
    .quo {
      margin-bottom: 10px;
    }
  }
  .pt_four {
    width: 50%;
  }
  .pt_five {
    width: 50%;
    &:nth-child(4) {
      margin-bottom: 10px;
    }
    &:nth-child(5) {
      clear: both;
      display: table;
      float: none;
      margin: 0px auto 0px;
    }
  }
  .f2 {
    .left, .right {
      clear: both;
      width: 100%;
    }
    .left {
      margin-bottom: 10px;
      text-align: center;
      .f2l {
        float: none;
        margin: 0 auto;
        width: auto;
      }
    }
    .right {
      text-align: center;
    }
  }
  .f3, .f4 {
    .left {
      width: 59%;
    }
    .right {
      width: 40%;
    }
  }
  .f5 {
    .frm {
      .btn {
        input[type="submit"] {
          padding: 0.44em 0.3em;
        }
      }
      .input_for_1_fields {
        margin-left: 12%;
      }
    }
  }
  footer {
    .colm {
      .widget.tabs_widget {
        .tim, .txt {
          float: none;
          width: 100%;
        }
        .tim {
          text-align: center;
        }
      }
    }
  }
  .limg {
    .left:nth-child(3n) {
      margin-right: 4px;
    }
  }
  .clLst li {
    margin-left: 2%;
  }
  .pdwbg {
    word-wrap: break-word;
  }
  .scvps {
    h2 {
      font-size: 50px;
    }
    h3, p {
      font-size: 20px;
    }
  }
  .bSe .sctm {
    width: 100%;
  }
  .scfm {
    margin: 0px auto;
  }
  .scon.wide {
    width: 100%;
  }
  .csc, .row {
    .thc {
      padding: 0%;
      width: 100%;
      &.lst {
        padding: 0%;
      }
    }
    .tth, .oth, .ofo, .tfo {
      padding: 0%;
      width: 100%;
      &.lst {
        padding: 0%;
        width: 100%;
      }
    }
    .ofo {
      padding: 0%;
      width: 100%;
    }
    .tfo, .tfo.lst {
      padding: 0%;
      width: 100%;
    }
    .fft {
      padding: 0%;
      width: 49%;
      &:first-child {
        padding: 0% 2% 0% 0%;
      }
      &.lst {
        padding: 0% 0% 0% 0%;
        width: 100%;
      }
    }
    .twc + .fft.lst {
      padding: 0%;
    }
    .fft + .twc.lst {
      width: 100%;
    }
    .fft + .twc {
      padding: 0%;
    }
  }
  .entry-title {
    text-align: center;
  }
  .afim.alignleft, .afim.alignright {
    float: none;
    margin: 20px auto;
  }
  header {
    #logo {
      img {
        max-width: 200px !important;
      }
    }
  }
}

/*Easy Smooth Scroll Links hiding our menu fix*/
@media only screen and (min-width: 772px) {
  #nav_right {
    overflow: visible !important;
  }
}

/*responsive menu fix*/
@media only screen and (max-width: 774px) {
  header {
    .center_logo, .side_logo {
      #nav_right {
        display: none;
      }
    }
  }
  .dfm {
    text-align: center;
    padding-bottom: 20px;
  }
  html {
    overflow-x: hidden;
  }
  #head_wrp {
  }
  .mf {
    nav {
      overflow-y: scroll;
    }
  }
  .html-hidden {
    height: 100%;
    overflow: hidden;
    body {
      overflow: hidden;
    }
  }
  header {
    position: relative;
    .mff & {
      &.hic {
        #head_wrp {
          display: block;
        }
      }
    }
    &.hif {
      height: 100% !important;
    }
    &.hic {
      display: block;
      #head_wrp {
        display: table;
        position: relative !important;
      }
    }
    #nav_right {
      background: #E9E9E9;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      overflow-y: scroll;
      z-index: 101;
      &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
      }
    }
    nav {
      box-sizing: border-box;
      clear: both;
      display: block;
      overflow: hidden;
      width: 100%;
      z-index: 10;
      > ul > li.menu-item-has-children {
        > a {
          &:after {
            content: ' ';
          }
        }
      }
      .menu > li:first-child:before {
        border-width: 6px;
        border-style: solid;
        border-color: transparent transparent $main_color transparent;
        content: '';
        display: block;
        height: 0px;
        position: absolute;
        right: 10px;
        top: -12px;
        width: 0px;
      }
      ul {
        box-shadow: 0 4px 11px -9px #000000;
        display: block;
        li {
          background: #f9f9f9;
          display: block;
          float: none;
          padding: 0px;
          &:first-child {
            border-top: 2px solid $main_color;
          }
          a {
            box-sizing: border-box;
            border-top: 1px solid #dcdcdc;
            display: block;
            height: 36px;
            line-height: 36px;
            padding-left: 20px;
            width: 100%;
          }
          ul {
            box-sizing: border-box;
            box-shadow: none;
            border: none;
            margin-left: 0px;
            position: static;
            li {
              a {
                &:before {
                  content: '-';
                  padding-right: 10px;
                }
              }
              &.menu-item-has-children {
                > a {
                  &:after {
                    content: '';
                  }
                }
              }
            }
          }
        }
      }
    }
    .hmn {
      cursor: pointer;
      clear: right;
      display: table-cell;
      text-align: right;
      vertical-align: middle;
      .rmn {
        background-image: linear-gradient(lighten($main_color, 10%) 0%, $main_color 100%);
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        border-color: lighten($main_color, 10%) $main_color $main_color $main_color;
        color: #fff;
        font-size: 32px;
        height: 46px;
        line-height: 46px;
        margin: 0px 0px 0px 10px;
        text-align: center;
        width: 46px;
      }
    }
    #nav_right {
      display: block;
      float: right;
    }
  }
  header {
    .h-i {
      display: table;
      vertical-align: middle;
      width: 100%;
      #logo, #text-logo {
        text-align: left;
      }
    }
    .center_logo {
      #nav_right {
        display: block;
        nav.right {
          display: block;
        }
      }
    }
    .side_logo, .center_logo {
      #logo, #text_logo {
        //float: left;
      }
    }
  }
  header {
    .phone {
      display: none !important;
    }
  }
  .phone_mobile, .thrive-shortcode-html .phone {
    color: #fff;
    display: block;
    margin: 10px auto 0px auto;
    text-align: center;
    a {
      color: #fff;
    }
    .apnr, span.mphr {
      color: #fff;
      &:before {
        color: #fff;
      }
    }
  }
  .bSe, .widget, .thrive-shortcode-html {
    .phone {
      color: #fff;
      display: block;
      margin: 10px auto 0px auto;
      text-align: center;
      a {
        color: #fff;
      }
      .apnr, span.mphr {
        display: block;
        color: #fff;
        &:before {
          color: #fff;
        }
      }
      .fphr {
        display: none;
      }
    }
  }
  @each $color in $themeColors {
    .phone_mobile.#{nth($color, 1)} {
      .phr {
        @include linear-gradient(top, lighten(nth($color, 2), 10%) 0%, nth($color, 2) 100%);
        box-shadow: inset 0px 1px 0px 0px lighten(nth($color, 2), 15%);
        border-radius: 3px;
        border: 1px solid darken(nth($color, 2), 10%);
        text-shadow: 1px 0px 1px nth($color, 2);
        &:hover {
          @include linear-gradient(bottom, lighten(nth($color, 2), 10%) 0%, nth($color, 2) 100%);
        }
      }
    }
    .bSe, .widget, .thrive-shortcode-html {
      .phone.#{nth($color, 1)} {
        .phr {
          @include linear-gradient(top, lighten(nth($color, 2), 10%) 0%, nth($color, 2) 100%);
          border-radius: 3px;
          box-shadow: inset 0px 1px 0px 0px lighten(nth($color, 2), 15%);
          border: 1px solid darken(nth($color, 2), 10%);
          text-shadow: 1px 0px 1px nth($color, 2);
          &:hover {
            @include linear-gradient(bottom, lighten(nth($color, 2), 10%) 0%, nth($color, 2) 100%);
          }
        }
      }
    }
  }
  .scvps .pvb {
    height: 180px;
    width: 250px;
  }
  .scvps {
    .vdc {
      &.video-container {
        .wp-video, iframe {
          max-width: 490px !important;
        }
      }
      &.lv, &.dv {
        .mejs-overlay-button {
          height: 170px;
          width: 170px;
          z-index: 100;
          &:hover {
            height: 180px;
            width: 180px;
          }
        }
        .pvb {
          background-size: 15%;
          a {
            height: 170px;
            width: 170px;
            &:hover {
              height: 180px;
              width: 180px;
            }
          }
        }
      }
      &.video-container {
        left: 0% !important;
        width: 100%;
        iframe {
          width: 100%;
        }
      }
    }
  }
  .scfm {
    .ss {
      a {
        width: 29%;
      }
      &:first-child {
        margin-left: 15px;
      }
      span {
        margin: 20px auto 20px auto;
      }
    }
  }
  .scon.wide, .scon, .scon.wide.otit {
    width: 100%;
    .frm input[type="text"], .frm .btn, .op-r {
      width: 100%;
    }
  }
  .csc, .row {
    .colm {
      margin-right: 0 !important;
      padding: 0% !important;
      width: 100% !important;
    }
  }
  header ul.menu > li > a {
    color: #4e4e4e !important;
  }
  .pt_two, .pt_three, .pt_four, .pt_five {
    float: none;
    margin: 10px 0px !important;
    width: 100%;
  }
}

/*----------  Responsive - width 740px  ----------*/
@media only screen and (max-width: 774px) and (min-width: 540px) {
  header .mhl {
    width: 100%;
  }
  .wrp {
    width: 490px;
    .bpd {
      width: 382px;
    }
  }
  .bSeCont {
    .bSe.fullWidth {
      width: 490px;
    }
  }
  .fullWidth .out {
    width: 5470px;
  }
  .cnt .bpd .out {
    width: 5362px;
  }
  .fullWidth .in, .bpd .in {
    width: 774px !important;
  }
  .fullWidth .cck {
    width: 490px !important;
  }
  .bpd .cck {
    width: 382px !important;
  }
  @include setGalleryWidths(400px, fullWidth, 1, 4, true);
  @include setGalleryWidths(400px, tve_post_lp, 1, 4, true);
  @include setGalleryWidths(370px, bpd, 1, 4, true);
  @include setGalleryWidths(450px, bSeCont, 1, 4, true);
  .fullWidth, .bpd, .bSeCont {
    .gallery-columns-5, .gallery-columns-6, .gallery-columns-7, .gallery-columns-8, .gallery-columns-9 {
      .gallery-item {
        width: 33.33% !important;
      }
    }
  }
  .bSe {
    &.left, &.right {
      .lfa {
        width: 362px;
      }
    }
    &.bpd {
      .lfa {
        width: 360px;
      }
    }
  }
  .hmn {
    display: table-cell;
    vertical-align: middle;
  }
  #logo, #text_logo {
    display: table-cell;
    float: none;
  }
  #head_wrp {
    display: block;
  }
  .bSe footer {
    *height: 160px;
  }
  input#search-field {
    padding: 0px 20px;
  }
  .cnt .sAs.left, .cnt .sAs.right {
    float: none;
    margin: 0px;
    width: 490px;
  }
  .cnt .bSe.left, .cnt .bSe.right {
    float: none;
    width: 490px;
  }
  .ftw {
    .colm {
      margin-bottom: 40px;
      width: 100%;
    }
  }
  .lrp {
    input[type="text"] {
      width: 100%;
    }
  }
  .aut {
    div.right {
      width: 68%;
      &.noSocial {
        width: 77%;
      }
    }
  }
  .cmc {
    div.right {
      width: 74%;
    }
  }
  .crp {
    margin-bottom: 20px;
  }
  .sAs .search_widget #search-field {
    width: 80%;
  }
  .lg.left {
    text-align: center;
  }
  .lost {
    width: 50%;
  }
  .no_content_msg {
    .lost {
      width: 60%;
    }
  }
  .gr {
    .gri {
      img {
        display: inline;
      }
    }
    .foc {
      margin-bottom: 10px;
      width: 44%;
      &.lst {
        margin-bottom: 0px;
      }
    }
    .fic {
      margin-bottom: 10px;
      width: 48%;
      &.lst {
        margin-bottom: 0px;
        width: 98%;
      }
    }
    .tfo {
      width: 48%;
    }
    .foc:nth-child(2) + .twc {
      width: 98%;
    }
    .foc:first-child + .twc {
      margin-bottom: 10px;
      width: 48%;
    }
    .twc + .foc.lst {
      width: 98%;
    }
    .twc + .foc + .lst {
      width: 98%;
    }
    .twc {
      width: 47%;
    }
  }
  //.pt_three {
  //  width: 50%;
  //  &:nth-child(2) {
  //    margin-bottom: 10px;
  //  }
  //  &:nth-child(3) {
  //    clear: both;
  //    display: table;
  //    float: none;
  //    margin: 0px auto 0px;
  //  }
  //}
  .f2 {
    .wrp {
      padding: 0px 20px;
    }
  }
  .f3, .f4, .f5 {
    text-align: center;
    ul {
      margin: 0 auto;
      text-align: left;
    }
    .wrp {
      box-sizing: border-box;
      padding: 0px 20px;
    }
    .left, .right {
      width: 100%;
    }
    .left {
      margin-bottom: 10px;
    }
  }
  .f5 {
    width: 100%;
    .f5l {
      float: none;
      margin: 0 auto;
      width: auto;
    }
    .frm {
      padding-left: 0px;
      input[type="text"], .op-r {
        float: none;
        margin: 0 auto 10px auto;
        width: 91%;
      }
      .btn {
        float: none;
        margin: 0 auto;
        width: 91%;
      }
    }
  }
  .bSe {
    .f5 {
      .frm {
        .submit_with_2_fields {
          width: 91%;
        }
        .input_for_1_fields {
          width: 90%;
        }
        .input_for_1_fields, .submit_with_1_fields {
          margin: 0px 0px 10px 0px;
        }
      }
    }
  }
  .pgs {
    .colm {
      float: none;
      width: 100%;
    }
  }
  footer {
    .colm {
      .widget.tabs_widget {
        .tim, .txt {
          float: left;
        }
        .tim {
          width: 10%;
        }
        .txt {
          width: 80%;
        }
      }
    }
  }
  .pdwbg {
    word-wrap: break-word;
  }
  .scbg .bth tr td.ahsp {
    min-width: 60%;
  }
  .scvps .pvb {
    height: 150px;
    width: 220px;
  }
  .scfm {
    a {
      &:first-child {
        margin-left: 15px;
      }
    }
  }
  .scon.wide, .scon, .scon.wide.otit {
    width: 100%;
    .frm input[type="text"], .frm .btn, .op-r {
      width: 100%;
    }
  }
  .csc {
    .colm {
      margin-right: 0 !important;
      width: 100% !important;
    }
  }
  .scfm {
    .ss {
      margin-left: 0px;
    }
  }
  .bcs {
    max-width: 100%;
  }
}

/*----------  Responsive - width 620-540px  ----------*/
@media only screen and (max-width: 620px) and (min-width: 540px) {
  .cnt .bSe.left .acm, .cnt .bSe.fullWidth .acm {
    left: auto;
    right: 0px;
  }
  .trg {
    border-width: 6px 0px 0 6px;
    left: -6px;
  }
}

/*----------  Mobile Gallery - width 600px  ----------*/
@media only screen and (max-width: 660px) {

  .galleryOverlay {
    background: rgba(0, 0, 0, 0.95);
    .nav_prev, .nav_next {
      display: none;
      line-height: 0;
      font-size: 0;
      height: 0;
      overflow: hidden;
    }
    .nav_close {
      background: url('../images/sprite-web.png') no-repeat -6px -109px;
      bottom: 4px;
      top: auto;
      opacity: 0.6;
      right: 10px;
      z-index: 1004;
      &.nav_close_cnt {
        bottom: 4px;
        top: auto;
      }
      &:before {
        content: '';
      }
    }
    .g_count {
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      background: #000;
    }
    .gl_ctrl {
      display: none;
      line-height: 0;
      font-size: 0;
      height: 0;
      overflow: hidden;
    }
    .gl_ctrl_wrp {
      background: none;
      float: left;
      .mob_text {
        float: right;
      }
      .img_count {
        float: left;
        margin-right: 5px;
      }
    }
    .g_count {
      border-radius: 0;
      display: block;
      padding: 0px 20px;
      width: auto;
      .cap_txt {
        display: none;
      }
      .mob_text {
        display: inline-block;
        font-size: 14px;
      }
    }
  }
}

/*----------  Responsive - width 540px  ----------*/
@media only screen and (max-width: 540px) {
  .wrp {
    width: 340px;
    .bpd {
      width: 265px;
    }
  }
  .bSeCont {
    .bSe.fullWidth {
      width: 340px;
    }
  }
  .fullWidth .out {
    width: 5320px;
  }
  .cnt .bpd .out {
    width: 5245px;
  }
  .fullWidth .in, .bpd .in {
    width: 540px !important;
  }
  .fullWidth .cck {
    width: 340px !important;
  }
  .bpd .cck {
    width: 265px !important;
  }
  .fullWidth, .bpd, .bSeCont {
    .gallery {
      .gallery-item {
        width: 100% !important;
        dt {
          a {
            height: 180px;
            width: 180px;
          }
        }
      }
    }
  }
  .bSe {
    &.left, &.right {
      .lfa {
        width: 310px;
      }
    }
    &.bpd {
      .lfa {
        width: 242px;
      }
    }
  }
  .f2 {
    .wrp {
      padding: 0px 20px;
    }
  }
  .f3, .f4, .f5 {
    text-align: center;
    ul {
      margin: 0 auto;
      text-align: left;
    }
    .wrp {
      box-sizing: border-box;
      padding: 0px 20px;
    }
    .left, .right {
      width: 100%;
    }
    .left {
      margin-bottom: 10px;
    }
  }
  .f5 {
    .f5l {
      float: none;
      margin: 0 auto;
      width: auto;
      width: 100%;
    }
    .frm {
      padding-left: 0px;
      input[type="text"], .op-r {
        float: none;
        margin: 0 auto 10px auto;
        width: 91%;
      }
      .btn {
        float: none;
        margin: 0 auto;
        width: 91%;
      }
    }
  }
  .bSe {
    .f5 {
      .frm {
        .submit_with_2_fields {
          width: 91%;
        }
        .input_for_1_fields {
          width: 90%;
        }
        .input_for_1_fields, .submit_with_1_fields {
          margin: 0px 0px 10px 0px;
        }
      }
    }
  }
  header {
    #logo, #text_logo {
      float: none;
    }
    .lg.left {
      float: none;
      text-align: center;
    }
    .hsm {
      margin: 0 auto;
      width: 95%;
      input[type="text"] {
        width: 80.3%;
      }
    }
    .hmn {
      float: none;
      padding: 10px 0px;
      width: 100%;
    }
    .mhl {
      width: 100%;
    }
  }
  .cnt .colm {
    float: none;
    width: 100%;
  }
  header nav ul li ul {
    width: 92%;
    li {
      ul {
        width: 93%;
      }
    }
  }
  .ftw .colm {
    margin-top: 20px;
    margin-left: 0px;
    max-width: auto;
    width: 100%;
    &:first-child {
      margin-top: 0px;
    }
  }
  .cnt .sAs.left, .cnt .sAs.right {
    float: none;
    margin: 0px;
    width: 340px;
  }
  .cnt .bSe.right, .cnt .bSe.left {
    float: none;
    width: 340px;
  }
  .ctb .cmt {
    display: none;
  }

  .nam {
    float: none;
    margin: 0 auto;
    width: 110px;
  }
  .cmc {
    padding: 10px;
    font-size: 90%;
    line-height: 1.35em;
  }
  .pgn a {
    font-size: $normalSize * 0.7;
  }
  .crp {
    float: right !important;
    .rty {
      float: none;
    }
  }
  .sAs .search_widget #search-field {
    width: 70%;
  }
  .follow_me {
    .side_body {
      ul li a.sm {
        margin-left: 15px;
      }
    }
  }
  #logo, #text_logo {
    display: block;
    max-width: 100%;
  }
  .lost {
    width: 80%;
  }
  .aut {
    > div.right {
      width: 57%;
      &.noSocial {
        width: 66%;
      }
    }
  }
  .no_content_msg {
    .lost {
      width: 100%;
    }
  }
  .cmc {
    > .left {
      float: none;
      img {
        margin: 0 auto;
      }
    }
    > div.right {
      float: none;
      width: 100%;
    }
  }
  .gr {
    .colm {
      &.twc, &.oth, &.tth, &.foc, &.fic, &.tfo {
        margin-bottom: 10px;
        width: 98% !important;
        &:last-child {
          margin-bottom: 0px;
        }
        &.lst {
          width: 98%;
        }
        .gri {
          img {
            display: inline;
          }
        }
      }
    }
  }
  .bSe {
    .f5 {
      .frm {
        .input_for_1_fields {
          width: 85%;
        }
      }
    }
  }
  .pgs {
    .colm {
      float: none;
      width: 100%;
    }
  }
  .rpl, .crp {
    margin-right: 0px;
  }
  .limg {
    .left {
      &:nth-child(3n) {
        margin-right: 0px;
      }
      img {
        height: 86px;
        width: 86px;
      }
    }
  }
  .pdwbg {
    word-wrap: break-word;
  }
  .scbg .bth tr td.ahsp {
    min-width: 60%;
  }
  .scvps .pvb {
    height: 150px;
    width: 220px;
  }
  .scfm {
    a {
      &:first-child {
        margin-left: 15px;
      }
    }
  }
  .scon.wide, .scon, .scon.wide.otit {
    width: 100%;
    .frm input[type="text"], .frm .btn, .op-r {
      width: 100%;
    }
  }
  .scvps h1 {
    font-size: 30px;
  }
  .scvps h2, .scvps p {
    font-size: 18px;
  }
  .scvps .vdc.video-container {
    width: 100%;
    .wp-video, iframe {
      max-width: 340px !important;
      min-width: 340px;
    }
  }
  .aIm.pst.right {
    float: none;
    margin: 0 auto;
    img {
      margin: 0 auto;
    }
  }
  .cnt {
    section {
      .meta {
        width: 70%;
      }
    }
  }
  //reset heading font size
  h1 {
    font-size: 33px !important;
  }
  h2 {
    font-size: 25px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 19px !important;
  }
  h5 {
    font-size: 17px !important;
  }
  h6 {
    font-size: 13px !important;
  }
  .mms, .mmt {
    font-size: 33px !important;
  }
  .shortcode_tabs.vert_tabs {
    .scT > ul.scT-tab {
      float: none;
      width: 100%;
      li {
        border-top-right-radius: 9px;
        border-bottom-left-radius: 0; 
        float: left;
      }
    }
    .scTC {
      width: 100%;
    }
  }

  .cdt {
    .cdto {
      margin-right: 12px;
      &:last-of-type {
        &:before {
          content: '';
        }
      }
    }
  }
  .mbi {
    .mbl {
      display: none;
    }
  }
}

/*----------  Responsive - width 340px  ----------*/
@media only screen and (max-width: 380px) {
  .wrp {
    padding-left: 0px;
    padding-right: 0px;
    width: 300px;
    .bpd {
      width: 249px;
    }
  }
  .bSeCont {
    .bSe.fullWidth {
      width: 300px;
    }
  }
  .fullWidth {
    .awr {
      padding: 0;
    }
  }
  .bSeCont {
    .out {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
  .fullWidth .out {
    width: 5300px;
  }
  .cnt .bpd .out {
    width: 5229px;
  }
  .fullWidth .in, .bpd .in, .bSeCont .in {
    width: 300px !important;
  }
  .fullWidth .cck, .bSeCont .cck {
    width: 300px !important;
  }
  .bpd .cck {
    width: 249px !important;
  }
  .bSe {
    &.left, &.right {
      .lfa {
        width: 290px;
      }
    }
    &.bpd {
      .lfa {
        width: 200px;
      }
    }
  }
  header {
    .hmn {
      float: none;
      padding: 10px 0px;
      width: 100%;
    }
  }
  .cnt .sAs.right, .cnt .sAs.left {
    float: none;
    margin: 0px;
    width: 300px;
  }
  .cnt .bSe.right, .cnt .bSe.left {
    float: none;
    width: 300px;
  }
  #search-button {
    width: 34px;
  }
  .aIm {
    max-width: 180px;
  }
  table {
    td, th {
      padding: 0px;
    }
  }
  footer {
    color: #fff;
    margin-top: 50px;
    padding: 45px 0 20px 0;
  }
  .ftw {
    .col {
      margin-left: 0px;
    }
    #search-field {
      padding: 0px 0px;
    }
  }
  .aut {
    div.left {
      text-align: center;
      img.avatar {
        margin: 0 auto;
      }
      ul.left {
        border-right: 0px;
        float: none;
        li {
          display: inline-block;
          padding: 0px 5px;
        }
      }
    }
    div.left, div.right, div.right.noSocial {
      float: none;
      width: 100%;
    }
  }
  .cmc {
    div.left {
      .clear {
        clear: none;
      }
      span {
        width: 39%;
      }
      ul {
        li {
          display: inline;
          float: left;
          a {
            color: $gray;
            margin-right: 30%;
          }
        }
      }
    }
  }
  .scn.awr.aut .avatar {
    float: none;
  }
  .f5 {
    width: 100%;
  }
  .scvps .vdc.video-container {
    width: 100%;
    .wp-video, iframe {
      max-width: 320px !important;
      min-width: 320px;
    }
  }
  .galleryOverlay .g_count {
    padding: 0px;
    .gl_ctrl_wrp {
      padding: 0px 5px;
    }
  }
}

//mobile menu
@media only screen and (max-width: 774px) {
  .has-free {
    display: none !important;
  }
  header nav {
    .colch {
      border: none;
      color: #4e4e4e;
      display: inline-block;
      margin: 0;
      padding-bottom: 6px;
    }
    li.has-extended {
      ul.sub-menu,
      ul.sub-menu.position_menu {
        background: none;
        display: block !important;
        position: static !important;
        width: 100% !important;
        &:before {
          border: 0 none;
          content: " ";
        }
        & li.menu-item {
          clear: both;
          float: none;
        }
        li {
          clear: both;
          float: none;
          width: 100%;
          a {
            width: 100%;
          }
        }
        div.fvsrx {
          display: none;
        }
      }
    }
    ul {
      background: none !important;
      li {
        position: static;
        ul li ul {
          padding-left: 0;
          width: 100%;
        }
      }
    }
  }
}
/*
  ipad 1+2
*/
@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) {
  .pdwbg {
    background-attachment: scroll!important;
  }
}
/*
  ipad 3+ 4
*/
@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {
  .pdwbg {
    background-attachment: scroll!important;
  }
}

/*
  iphones
*/
@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) {
  .pdwbg {
    background-attachment: scroll!important;
    background-size: auto auto!important;
    background-position: center top!important;
  }
}
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
  .pdwbg {
    background-attachment: scroll!important;
    background-size: auto auto!important;
    background-position: center top!important;
  }
}

@media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .pdwbg {
    background-attachment: scroll!important;
    background-size: auto auto!important;
    background-position: center top!important;
  }
}
@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px) {
  .pdwbg {
    background-attachment: scroll!important;
    background-size: auto auto!important;
    background-position: center top!important;
  }
}



@media only screen and (max-width: 1024px) {
  .bp-t {
    height: auto;
  }
  .bp-t::before {
    display: none;
  }
  .bp-t .wrp {
    display: block;
  }
}