/*-----------------------------------------------------------------------------------

	Theme Name: Canvas
	Theme URI: http://themes.semicolonweb.com/html/canvas
	Description: The Multi-Purpose Template
	Author: SemiColonWeb
	Author URI: http://themeforest.net/user/semicolonweb
	Version: 3.1.1

-----------------------------------------------------------------------------------*/
#planChooser div, #planChooser .button, #planChooser input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clear {
	clear: both;
	display: block;
	font-size: 0px;
	height: 0px;
	line-height: 0;
	width: 100%;
	overflow:hidden;
}

::selection {
	background: #2C4992;
	color: #FFF;
	text-shadow: none;
}

::-moz-selection {
	background: #2C4992; /* Firefox */
	color: #FFF;
	text-shadow: none;
}

::-webkit-selection {
	background: #2C4992; /* Safari */
	color: #FFF;
	text-shadow: none;
}

:active,
:focus { outline: none !important; }




/* ----------------------------------------------------------------
	Basic Layout Styles
-----------------------------------------------------------------*/




h1,
h2,
h3,
h4,
h5,
h6 {
	color: #444;
	font-weight: 600;
	line-height: 1.5;
	margin: 0 0 30px 0;
	font-family: 'Roboto', sans-serif;
}

h5,
h6 { margin-bottom: 20px; }

h1 { font-size: 36px; }

h2 { font-size: 30px; }

h3 { font-size: 24px; }

h4 { font-size: 18px; }

h5 { font-size: 14px; }

h6 { font-size: 12px; }

h4 { font-weight: 600; }

h5,
h6 { font-weight: bold; }



h1 > span:not(.nocolor),
h2 > span:not(.nocolor),
h3 > span:not(.nocolor),
h4 > span:not(.nocolor),
h5 > span:not(.nocolor),
h6 > span:not(.nocolor) { color: #2C4992; }

p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form { margin-bottom: 30px; }

small { font-family: 'Roboto', sans-serif; }

.uppercase { text-transform: uppercase !important; }

.lowercase { text-transform: lowercase !important; }

.capitalize { text-transform: capitalize !important; }

.nott { text-transform: none !important; }

.tright { text-align: right !important; }

.tleft { text-align: left !important; }

.fright { float: right !important; }

.fleft { float: left !important; }

.fnone { float: none !important; }

.ohidden {
	position: relative;
	overflow: hidden !important;
}

#wrapper {
	position: relative;
	float: none;
	width: 1220px;
	margin: 0 auto;
}

.line,
.double-line {
	clear: both;
	position: relative;
	width: 100%;
	margin: 60px 0;
	border-top: 1px solid #EEE;
}

.line.line-sm { margin: 30px 0; }

span.middot {
	display: inline-block;
	margin: 0 5px;
}

.double-line { border-top: 3px double #E5E5E5; }

.emptydiv {
	display: block !important;
	position: relative !important;
}

.nooverflow{
	overflow:hidden;
}

.allmargin { margin: 50px !important; }

.leftmargin { margin-left: 50px !important; }

.rightmargin { margin-right: 50px !important; }

.topmargin { margin-top: 50px !important; }

.bottommargin { margin-bottom: 50px !important; }

.clear-bottommargin { margin-bottom: -50px !important; }

.allmargin-sm { margin: 30px !important; }

.leftmargin-sm { margin-left: 30px !important; }

.rightmargin-sm { margin-right: 30px !important; }

.topmargin-sm { margin-top: 30px !important; }

.bottommargin-sm { margin-bottom: 25px !important; }

.clear-bottommargin-sm { margin-bottom: -30px !important; }

.allmargin-lg { margin: 80px !important; }

.leftmargin-lg { margin-left: 80px !important; }

.rightmargin-lg { margin-right: 80px !important; }

.topmargin-lg { margin-top: 80px !important; }

.bottommargin-lg { margin-bottom: 80px !important; }

.clear-bottommargin-lg { margin-bottom: -80px !important; }

.nomargin {margin: 0 !important; }

.noleftmargin { margin-left: 0 !important; }

.norightmargin { margin-right: 0 !important; }

.notopmargin { margin-top: 0 !important; }

.nobottommargin { margin-bottom: 0 !important; }

.header-stick { margin-top: -50px !important; }

.content-wrap .header-stick { margin-top: -80px !important; }

.footer-stick { margin-bottom: -50px !important; }

.content-wrap .footer-stick { margin-bottom: -80px !important; }

.noborder { border: none !important; }

.noleftborder { border-left: none !important; }

.norightborder { border-right: none !important; }

.notopborder { border-top: none !important; }

.nobottomborder { border-bottom: none !important; }

.noradius { -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; -ms-border-radius: 0 !important; -o-border-radius: 0 !important; border-radius: 0 !important; }

.col-padding { padding: 60px; }

.nopadding { padding: 0 !important; }

.noleftpadding { padding-left: 0 !important; }

.norightpadding { padding-right: 0 !important; }

.notoppadding { padding-top: 0 !important; }

.nobottompadding { padding-bottom: 0 !important; }

.noabsolute { position: relative !important; }

.noshadow { box-shadow: none !important; }

.hidden { display: none !important; }

.nothidden { display: block !important; }

.inline-block {
	float: none !important;
	display: inline-block !important;
}

.center { text-align: center !important; }

.divcenter {
	position: relative !important;
	float: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.bgcolor,
.bgcolor #header-wrap { background-color: #2C4992 !important; }

.color { color: #2C4992 !important; }

.border-color { border-color: #2C4992 !important; }

.nobg { background: none !important; }

.nobgcolor { background-color: transparent !important; }

.t300 { font-weight: 300 !important; }

.t400 { font-weight: 400 !important; }

.t500 { font-weight: 500 !important; }

.t600 { font-weight: 600 !important; }

.t700 { font-weight: 700 !important; }

.ls0 { letter-spacing: 0px !important; }

.ls1 { letter-spacing: 1px !important; }

.ls2 { letter-spacing: 2px !important; }

.ls3 { letter-spacing: 3px !important; }

.ls4 { letter-spacing: 4px !important; }

.ls5 { letter-spacing: 5px !important; }

.noheight { height: 0 !important; }

.nolineheight { line-height: 0 !important; }

.font-body { font-family: 'Roboto', sans-serif; }

.font-primary { font-family: 'Roboto', sans-serif; }

.font-secondary { font-family: 'Crete Round', serif; }

.bgicon {
	display: block;
	position: absolute;
	bottom: -60px;
	right: -50px;
	font-size: 210px;
	color: rgba(0,0,0,0.1);
}

.imagescale {
	display: block;
	overflow: hidden;
}

.imagescale img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.imagescale:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.grayscale {
	filter: brightness(80%) grayscale(1) contrast(90%);
	-webkit-filter: brightness(80%) grayscale(1) contrast(90%);
	-moz-filter: brightness(80%) grayscale(1) contrast(90%);
	-o-filter: brightness(80%) grayscale(1) contrast(90%);
	-ms-filter: brightness(80%) grayscale(1) contrast(90%);
	transition: 1s filter ease;
    -webkit-transition: 1s -webkit-filter ease;
    -moz-transition: 1s -moz-filter ease;
    -ms-transition: 1s -ms-filter ease;
    -o-transition: 1s -o-filter ease;
}

.grayscale:hover {
	filter: brightness(100%) grayscale(0);
	-webkit-filter: brightness(100%) grayscale(0);
	-moz-filter: brightness(100%) grayscale(0);
	-o-filter: brightness(100%) grayscale(0);
	-ms-filter: brightness(100%) grayscale(0);
}

/* MOVING BG -  TESTIMONIALS */
.bganimate {
	-webkit-animation:BgAnimated 30s infinite linear;
	 -moz-animation:BgAnimated 30s infinite linear;
		-ms-animation:BgAnimated 30s infinite linear;
		 -o-animation:BgAnimated 30s infinite linear;
			animation:BgAnimated 30s infinite linear;
}
 @-webkit-keyframes BgAnimated {
	from  {background-position:0 0;}
	to    {background-position:0 400px;}
	}
 @-moz-keyframes BgAnimated {
	from  {background-position:0 0;}
	to    {background-position:0 400px;}
	}
 @-ms-keyframes BgAnimated {
	from  {background-position:0 0;}
	to    {background-position:0 400px;}
	}
 @-o-keyframes BgAnimated {
	from  {background-position:0 0;}
	to    {background-position:0 400px;}
	}
 @keyframes BgAnimated {
	from  {background-position:0 0;}
	to    {background-position:0 400px;}
	}


.input-block-level {
	display: block;
	width: 100% !important;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.vertical-middle {
	height: auto !important;
	left: 0;
}


/* ----------------------------------------------------------------
	Sections
-----------------------------------------------------------------*/


.section {
	position: relative;
	margin: 60px 0;
	padding: 60px 0;
	overflow: hidden;
}



.section .container { z-index: 2;}


/* ----------------------------------------------------------------
	Columns & Grids
-----------------------------------------------------------------*/


.postcontent { width: 860px; }
.postcontent.bothsidebar { width: 580px; }
.sidebar { width: 240px; }
.col_full { width: 100%; }
.col_half { width: 48%; }
.col_one_third { width: 30.63%; }
.col_two_third { width: 65.33%; }
.col_one_fourth { width: 22%; }
.col_three_fourth { width: 74%; }
.col_one_fifth { width: 16.8%; }
.col_two_fifth { width: 37.6%; }
.col_three_fifth { width: 58.4%; }
.col_four_fifth { width: 79.2%; }
.col_one_sixth { width: 13.33%; }
.col_five_sixth { width: 82.67%; }
body.stretched .container-fullwidth {
	position: relative;
	padding: 0 60px;
	width: 100%;
}

.postcontent,
.sidebar,
.col_full,
.col_half,
.col_one_third,
.col_two_third,
.col_three_fourth,
.col_one_fourth,
.col_one_fifth,
.col_two_fifth,
.col_three_fifth,
.col_four_fifth,
.col_one_sixth,
.col_five_sixth {
	display: block;
	position: relative;
	margin-right: 4%;
	margin-bottom: 50px;
	float: left;
}

.postcontent,
.sidebar { margin-right: 40px; }

.col_full {
	clear: both;
	float: none;
	margin-right: 0;
}

.postcontent.col_last,
.sidebar.col_last { float: right; }

.col_last {
	margin-right: 0 !important;
	clear: right;
}


/* ----------------------------------------------------------------
	Content
-----------------------------------------------------------------*/


#planChooser {
	position: relative;
	overflow: hidden;
}

#planChooser p { line-height: 1.8; }

.content-wrap {
	position: relative;
	padding: 0;
}

#planChooser .container { position: relative; }


.modal-padding {
    padding: 40px;
}


/* ----------------------------------------------------------------
	Buttons
-----------------------------------------------------------------*/


.button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	outline: none;
	white-space: nowrap;
	margin: 5px;
	padding: 10px 30px;
	font-size: 18px;
	height:50px;

	background-color: #DD4B39;
	color: #FFF!important;
	font-weight: 600;
	border: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.button.arrow{
	background-image:url('images/btn-bg.png');
	background-repeat: no-repeat;
	background-position: top right;
	background-size:15px 100px;
	padding:10px 60px 10px 30px;
}

.button.arrow.dark{
	background-image:url('images/btn-bg-dark.png');
}


.button.arrow:hover{
	background-position: bottom right;
}


.button-dark { background-color: #444; }

.button-light {
	background-color: #EEE;
	color: #333;
	text-shadow: none !important;
}

.button:hover {
	background-color: #1b1b1b;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.button.dark:hover {
	background-color: #DFDFDF;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.button.button-mini {
	padding: 0 14px;
	font-size: 11px;
	height: 28px;
	line-height: 28px;
}

.button.button-small {
	padding: 0 17px;
	font-size: 12px;
	height: 34px;
	line-height: 34px;
}

.button.button-large {
	padding: 0 26px;
	font-size: 16px;
	height: 46px;
	line-height: 46px;
}

.button.button-xlarge {
	padding: 0 32px;
	font-size: 18px;
	letter-spacing: 2px;
	height: 52px;
	line-height: 52px;
}

.button.button-desc {
	text-align: left;
	padding: 24px 34px;
	font-size: 22px;
	height: auto;
	line-height: 1;
	font-family: 'Roboto', sans-serif;
}

.button.button-desc span {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	font-family: 'Crete Round', serif;
	font-style: italic;
	text-transform: none;
}

.button i {
	position: relative;
	top: 1px;
	line-height: 1;
	margin-right: 5px;
}

.button.tright i { margin: 0 0 0 5px; }

.button-mini i { margin-right: 3px; }

.button-mini.tright i { margin: 0 0 0 3px; }

.button-small i { margin-right: 4px; }

.button-small.tright i { margin: 0 0 0 4px; }

.button-xlarge i {
	top: 2px;
	margin-right: 8px;
}

.button-xlarge.tright i { margin: 0 0 0 8px; }

.button.button-desc i {
	top: 1px;
	font-size: 48px;
	width: 48px;
	text-align: center;
	margin-right: 12px;
}

.button.button-desc.tright i { margin: 0 0 0 12px; }

.button.button-desc div { display: inline-block; }

.button.button-rounded { border-radius: 3px; }


/* Buttons - Border
-----------------------------------------------------------------*/

.button.button-border {
	border: 2px solid #eee;
	background-color: transparent;
	color: #eee;
	line-height: 36px;
	font-weight: 600;
	text-shadow: none;
}

.button.button-border.button-mini { line-height: 24px; }

.button.button-border.button-small { line-height: 30px; }

.button.button-border.button-large { line-height: 42px; }

.button.button-border.button-xlarge { line-height: 48px; }

.button.button-border.button-desc { line-height: 1; }

.button.button-border:hover {
	background-color: #444;
	color: #FFF;
	border-color: transparent !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.button.button-border.button-light {
	border-color: #EEE;
	color: #EEE;
}

.button.button-border.button-light:hover {
	background-color: #EEE;
	color: #333;
	text-shadow: none;
}

.button.button-round{
	border-radius:3px;
}


/* Buttons - Border
-----------------------------------------------------------------*/

.button.button-3d {
	border-radius: 3px;
	border-bottom: 3px solid rgba(0,0,0,0.15);
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

.button.button-3d:hover {
	background-color: #2C4992 !important;
	opacity: 0.9;
}

.button.button-3d.button-light:hover,
.button.button-reveal.button-light:hover {
	text-shadow: none;
	color: #333;
}


/* Buttons - Icon Reveal
-----------------------------------------------------------------*/

.button.button-reveal {
	padding: 0 28px;
	overflow: hidden;
}

.button.button-reveal i {
	display: block;
	position: absolute;
	top: 0;
	left: -32px;
	width: 32px;
	height: 40px;
	line-height: 40px;
	margin: 0;
	text-align: center;
	background-color: rgba(0,0,0,0.1);
}

.button.button-reveal.button-border i { top: -2px; }

.button.button-reveal.tright i {
	left: auto;
	right: -32px;
}

.button.button-reveal.button-3d i,
.button.button-reveal.button-rounded i { border-radius: 3px 0 0 3px; }

.button.button-reveal.button-3d.tright i,
.button.button-reveal.button-rounded.tright i { border-radius: 0 3px 3px 0; }

.button.button-reveal span {
	display: inline-block;
	position: relative;
	left: 0;
}

body:not(.device-touch) .button.button-reveal i,
body:not(.device-touch) .button.button-reveal span {
	-webkit-transition: left 0.3s ease, right 0.3s ease;
	-o-transition: left 0.3s ease, right 0.3s ease;
	transition: left 0.3s ease, right 0.3s ease;
}

.button.button-reveal.button-mini { padding: 0 17px; }

.button.button-reveal.button-mini i {
	left: -22px;
	width: 22px;
	height: 28px;
	line-height: 28px;
}

.button.button-reveal.button-mini.tright i {
	left: auto;
	right: -22px;
}

.button.button-reveal.button-small { padding: 0 22px; }

.button.button-reveal.button-small i {
	left: -26px;
	width: 26px;
	height: 34px;
	line-height: 34px;
}

.button.button-reveal.button-small.tright i {
	left: auto;
	right: -26px;
}

.button.button-reveal.button-large { padding: 0 32px; }

.button.button-reveal.button-large i {
	left: -38px;
	width: 38px;
	height: 46px;
	line-height: 46px;
}

.button.button-reveal.button-large.tright i {
	left: auto;
	right: -38px;
}

.button.button-reveal.button-xlarge { padding: 0 40px; }

.button.button-reveal.button-xlarge i {
	left: -44px;
	width: 44px;
	height: 52px;
	line-height: 52px;
}

.button.button-reveal.button-xlarge.tright i {
	left: auto;
	right: -44px;
}

.button.button-reveal:hover i { left: 0; }

.button.button-reveal.tright:hover i {
	left: auto;
	right: 0;
}

.button.button-reveal:hover span { left: 16px; }

.button.button-reveal.button-mini:hover span { left: 11px; }

.button.button-reveal.button-small:hover span { left: 13px; }

.button.button-reveal.button-large:hover span { left: 19px; }

.button.button-reveal.button-xlarge:hover span { left: 22px; }

.button.button-reveal.tright:hover span { left: -16px; }

.button.button-reveal.button-mini.tright:hover span { left: -11px; }

.button.button-reveal.button-small.tright:hover span { left: -13px; }

.button.button-reveal.button-large.tright:hover span { left: -19px; }

.button.button-reveal.button-xlarge.tright:hover span { left: -22px; }


/* Buttons - Promo 100% Width
-----------------------------------------------------------------*/

.button.button-full {
	display: block !important;
	white-space: normal;
	margin: 0;
	height: auto;
	line-height: 1.6;
	padding: 30px 0;
	font-size: 30px;
	font-weight: 300;
	text-transform: none;
	border-radius: 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.button.button-full.button-light { border-bottom: 1px solid rgba(0,0,0,0.15); }

.button.button-full strong {
	font-weight: 600;
	border-bottom: 2px solid #EEE;
}

body:not(.device-touch) .button.button-full strong {
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}

.button.button-full.button-light strong { border-bottom-color: #333; }

.button.button-full.button-light:hover strong { border-bottom-color: #EEE; }


/* Buttons - Colors
-----------------------------------------------------------------*/

.button-red { background-color: #C02942; }
.button-3d.button-red:hover,
.button-reveal.button-red:hover { background-color: #C02942 !important; }

.button-teal { background-color: #53777A; }
.button-3d.button-teal:hover,
.button-reveal.button-teal:hover { background-color: #53777A !important; }

.button-yellow { background-color: #ECD078; }
.button-3d.button-yellow:hover,
.button-reveal.button-yellow:hover { background-color: #ECD078 !important; }

.button-green { background-color: #59BA41; }
.button-3d.button-green:hover,
.button-reveal.button-green:hover { background-color: #59BA41 !important; }

.button-brown { background-color: #774F38; }
.button-3d.button-brown:hover,
.button-reveal.button-brown:hover { background-color: #774F38 !important; }

.button-aqua { background-color: #40C0CB; }
.button-3d.button-aqua:hover,
.button-reveal.button-aqua:hover { background-color: #40C0CB !important; }

.button-lime { background-color: #AEE239; }
.button-3d.button-lime:hover,
.button-reveal.button-lime:hover { background-color: #AEE239 !important; }

.button-purple { background-color: #5D4157; }
.button-3d.button-purple:hover,
.button-reveal.button-purple:hover { background-color: #5D4157 !important; }

.button-leaf { background-color: #A8CABA; }
.button-3d.button-leaf:hover,
.button-reveal.button-leaf:hover { background-color: #A8CABA !important; }

.button-pink { background-color: #F89FA1; }
.button-3d.button-pink:hover,
.button-reveal.button-pink:hover { background-color: #F89FA1 !important; }

.button-dirtygreen { background-color: #1693A5; }
.button-3d.button-dirtygreen:hover,
.button-reveal.button-dirtygreen:hover { background-color: #1693A5 !important; }

.button-blue { background-color: #1265A8; }
.button-3d.button-blue:hover,
.button-reveal.button-blue:hover { background-color: #1265A8 !important; }

.button-amber { background-color: #EB9C4D; }
.button-3d.button-amber:hover,
.button-reveal.button-amber:hover { background-color: #EB9C4D !important; }

.button-black { background-color: #111; }
.button-3d.button-black:hover,
.button-reveal.button-black:hover { background-color: #111 !important; }

.button-white { background-color: #F9F9F9; }
.button-3d.button-white:hover,
.button-reveal.button-white:hover { background-color: #F9F9F9 !important; }


/* Buttons - No Hover
-----------------------------------------------------------------*/

.button.button-nohover:hover {
	opacity: inherit !important;
	background-color: inherit !important;
	color: inherit !important;
	border-color: inherit !important;
}




/* ----------------------------------------------------------------
	Alerts
-----------------------------------------------------------------*/
#planSignup h4,#planSignup .button{
	color:white!important;
}

#planSignup{
	position:relative;
}

.style-msg,
.style-msg2 {
	display: block;
	color: #444;
	border-left: 4px solid rgba(0,0,0,0.1);
	margin-bottom: 20px;
}

.style-msg2 { border-left: 4px solid rgba(0,0,0,0.2); }

.successmsg {
	background: #C5EBD4;
	color: #184B21;
}

.errormsg {
	background: #FFCCCC;
	color: #740D0A;
}

.infomsg {
	background: #B9DFF4;
	color: #124F70;
}

.alertmsg {
	background: #FCE0B6;
	color: #975E06;
}

.style-msg .sb-msg,
.style-msg2 .msgtitle,
.style-msg2 .sb-msg {
	display: block;
	padding: 15px;
	border-left: 1px solid rgba(255,255,255,0.5);
	font-size: 13px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
}

.style-msg2 .msgtitle {
	background: rgba(0,0,0,0.15);
	border-top: none;
	border-bottom: none;
	font-size: 14px;
	font-weight: bold;
}

.style-msg-light .sb-msg,
.style-msg-light .msgtitle {
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.style-msg2 .sb-msg { font-weight: normal; }

.style-msg2 ol,
.style-msg2 ul { margin: 0 0 0 30px; }

.style-msg2 ol { list-style-type: decimal; }

.style-msg2 ul { list-style-type: disc; }







#signup-step2 dt{
	float:left;
	text-align:right;
	width:33%;
	display:block;
	margin-bottom:10px;
}

#signup-step2 dd{
	float:right;
	display:block;
	text-align:left;
	width:60%;
	clear:right;
	margin-bottom:10px;
}


/* ----------------------------------------------------------------
	Tabs
-----------------------------------------------------------------*/


.tabs {
	position: relative;
	margin: 0 0 30px 0;
	transition: all 0.2s ease;
}

.tabs.hidden{
	  transition: all 0.2s ease;
}

ul.tab-nav:not(.tab-nav-lg) {
	margin: 0;
	border-bottom: 1px solid #DDD;
	list-style: none;
}

ul.tab-nav:not(.tab-nav-lg) li {
	display:inline-block;
	border: 1px solid #DDD;
	border-bottom: 0;
	border-left: 0;
	height: 50px;
	text-align: center;
	white-space:normal;
}

ul.tab-nav:not(.tab-nav-lg) li:first-child {
	margin-left: 15px;
	border-left: 1px solid #DDD;
}

ul.tab-nav:not(.tab-nav-lg) li a {
	display: block;
	padding: 0 15px;
	color: #444!important;
	height: 40px;
	line-height: 16px;
	background-color: #F2F2F2;
	font-size: 14px;
	font-weight: bold;
}

ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a {
	position: relative;
	top: 1px;
	background-color: #FFF;
}


/* Tabs - Alternate Nav
-----------------------------------------------------------------*/

.tabs.tabs-alt ul.tab-nav li { border-color: transparent; }

.tabs.tabs-alt ul.tab-nav li:first-child { border-left: 0; }

.tabs.tabs-alt ul.tab-nav li a { background-color: #FFF; }

.tabs.tabs-alt ul.tab-nav li.ui-tabs-active a {
	border: 1px solid #DDD;
	border-bottom: 0;
}

.tabs.tabs-alt ul.tab-nav li.hidden { display:none; }


/* Tabs - Top Border
-----------------------------------------------------------------*/

.tabs.tabs-tb ul.tab-nav li.ui-state-default a {
	top: -1px;
	height: 50px;
	line-height: 38px;
	border-top: 8px solid #2C4992;
	background:#DFDFDF;
	border-radius: 8px 8px 0 0;
}

.tabs.tabs-tb ul.tab-nav li.ui-state-default a.nbn{
	border-top: 8px solid #133c7d;
}
.tabs.tabs-tb ul.tab-nav li.ui-state-default a.adsl{
	border-top: 8px solid #DD4B39;
}

.tabs.tabs-tb ul.tab-nav li.ui-state-default a.efm{
	border-top: 8px solid #1DCC7D;
}

.tabs.tabs-tb ul.tab-nav li.ui-state-default a.mbe{
	border-top: 8px solid #2C4992;
}

.tabs.tabs-tb ul.tab-nav li.ui-state-default a.life{
	border-top: 8px solid #97BD00;
}

.tabs.tabs-tb ul.tab-nav li.ui-tabs-active a {
	background:#f2f2f2;
}

.tabs.tabs-alt.tabs-tb ul.tab-nav li.ui-tabs-active a { height: 52px; }


/* Tabs - Bottom Border
-----------------------------------------------------------------*/

.tabs.tabs-bb ul.tab-nav li {
	border: 0;
	margin: 0;
}

.tabs.tabs-bb ul.tab-nav li a {
	background-color: transparent;
	border-bottom: 2px solid transparent;
}

.tabs.tabs-bb ul.tab-nav li.ui-tabs-active a {
	border-bottom: 2px solid #2C4992;
	top: -2px;
	height: 44px;
	line-height: 44px;
}


/* Tabs - Navigation Style 2
-----------------------------------------------------------------*/


ul.tab-nav.tab-nav2 {
	border-bottom: 0;
}

ul.tab-nav.tab-nav2 li {
	border: 0;
	margin-left: 10px;
}

ul.tab-nav.tab-nav2 li:first-child {
	margin-left: 0;
	border-left: 0;
}

ul.tab-nav.tab-nav2 li a {
	background-color: #F5F5F5;
	border-radius: 2px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

ul.tab-nav.tab-nav2 li.ui-state-active a {
	top: 0;
	background-color: #2C4992;
	color: #FFF;
}


/* Tabs - Large Navigation
-----------------------------------------------------------------*/


ul.tab-nav-lg {
	margin-bottom: 20px;
	list-style: none;
}

ul.tab-nav-lg li {
	float: left;
	position: relative;
	text-align: center;
	padding: 15px;
}

ul.tab-nav-lg li a {
	display: inline-block;
	color: #444;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}

ul.tab-nav.tab-nav-lg li i {
	display: block;
	font-size: 28px;
	margin: 0 0 7px;
}

ul.tab-nav-lg li.ui-tabs-active a {
	color: #2C4992;
}



ul.tab-nav-lg.tab-nav-section li.ui-tabs-active:before,
ul.tab-nav-lg.tab-nav-section li.ui-tabs-active:after {
	content: '';
	position: absolute;
	z-index: 2;
	top: auto;
	bottom: -50px;
	border: solid transparent;
}

ul.tab-nav-lg.tab-nav-section li.ui-tabs-active:after {
	border-top-color: #FFF;
	border-width: 16px;
	left: 50%;
	margin-left: -16px;
}

ul.tab-nav-lg.tab-nav-section li.ui-tabs-active:before {
	border-top-color: #FFF;
	border-width: 16px;
	left: 50%;
	margin-left: -16px;
}


/* Tabs - Content Area
-----------------------------------------------------------------*/

.tab-container {
	position: relative;
	padding: 20px 0 0;
}

ul.tab-nav li a i {
	position: relative;
	top: 1px;
	font-size: 14px;
	margin-right: 3px;
}

/* Tabs - Bordered
-----------------------------------------------------------------*/

.tabs-bordered ul.tab-nav li:first-child { margin-left: 0; }

.tabs-bordered .tab-container {
	border: 1px solid #DDD;
	border-top: 0;
	padding: 20px;
	background:#f2f2f2;
}


/* Tabs - Side Tabs & Bordered
-----------------------------------------------------------------*/

.tabs-bordered.side-tabs ul.tab-nav {
	position: relative;
	padding: 0;
	z-index: 2;
	margin-right: -1px;
}

.tabs-bordered.side-tabs ul.tab-nav li a {
	height: auto;
	line-height: 44px;
}

.tabs-bordered.side-tabs ul.tab-nav li.ui-tabs-active a {
	right: -1px;
	border-right: 1px solid #FFF;
}

.tabs-bordered.side-tabs .tab-container {
	overflow: hidden;
	padding: 20px;
	border-top: 1px solid #DDD;
}

/* ----------------------------------------------------------------
	Pricing Boxes
-----------------------------------------------------------------*/

.pricing { position: relative; }

#planChooser .pricing [class^=col-] {
	padding: 0;
	margin-top: 20px;
}


/* Pricing Boxes
-----------------------------------------------------------------*/

.pricing-box {
	position: relative;
	text-align: center;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background-color: #FFF;
	margin:0 3px;
}


.pricing-box .pricing-features{
	color:#1b1b1b;
	}



/* Pricing Boxes - Title
-----------------------------------------------------------------*/

.pricing-title {
	padding: 15px 0;
	background:#1b1b1b;
	min-height:85px;
	
}

.pricing-title h3 {
	margin: 0;
	font-size: 20px;
	letter-spacing: 1px;
	color: #F4F5F6!important;
}

.pricing-title span {
	display: block;
	color: #999;
	font-weight: 300;
	font-size: 14px;
	margin-top: 3px;
	text-transform: uppercase;
	
}


/* Pricing Boxes - Price
-----------------------------------------------------------------*/

.pricing-price {
	position: relative;
	padding: 25px 0;
	color: #F4F5F6;
	font-weight: 300;
	font-size: 64px;
	line-height: 1;
	background:#718ab1;
}

.pricing-price .startingFrom{
	display:block;
	font-size:11pt;
	text-transform:uppercase;
	width:95%;
}


.pricing-price span {
	display: inline-block;
	vertical-align: top;
	margin: 7px 3px 0 0;
	font-size: 28px;
	font-weight: normal;
}

.pricing-price span.price-tenure {
	vertical-align: baseline;
	font-size: 16px;
	font-weight: normal;
	margin: 0 0 0 3px;
}

.pricing-mincost{
	color:white;
	background:#2C4992;
	padding:20px 0;
	font-size:10pt;
	min-height:105px;
}





/* Pricing Boxes - Features
-----------------------------------------------------------------*/


.pricing-features ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.pricing-features li {
	padding: 15px 0;
	font-size: 14px;
	border-bottom:1px solid #DFDFDF;
}

.pricing-features li:last-child {
	background:#DFDFDF;
	font-size:9pt;
	padding:7px 0;
	text-decoration:underline;
}

.pricing-features li:last-child a {
	color:#1b1b1b;
}


/* Pricing Boxes - Action
-----------------------------------------------------------------*/

.pricing-action { padding: 0; }
.pricing-action .button{
	margin:0;
	width:100%;
	color:white!important;
}



/* Pricing Boxes - Best Price
-----------------------------------------------------------------*/

.pricing-box.best-price {
	background-color: #FFF;
	box-shadow: 0 0 8px rgba(0,0,0,0.1);
	z-index: 10;
}

.pricing-box.best-price { margin: -20px -1px 0 -1px; }

.pricing-box.best-price .pricing-title {
	background-color: #FFF;
	padding: 20px 0;
}

.pricing-box.best-price .pricing-title h3 { font-size: 22px; }

.pricing-box.best-price .pricing-price {
	color: #2C4992;
	font-size: 72px;
}


/* Pricing Boxes - tab colours
------------------------------------*/

.nbn .pricing-price{
	background:#133c7d;
	
}

.nbn .pricing-mincost{
	background:#0a1e3f;
	
}

.adsl .pricing-price{
	background:#DD4B39;
	
}

.adsl .pricing-mincost{
	background:#a6382b;
	
}


.efm .pricing-price{
	background:#1dcc7d;
	
}

.efm .pricing-mincost{
	background:#0f663f;
	
}

.mbe .pricing-price{
	background:#2C4992;
	
}

.mbe .pricing-mincost{
	background:#162549;
	
}

.life .pricing-price{
	background:#97bd00;
	
}

.life .pricing-mincost{
	background:#718e00;
	
}



/* Pricing Boxes - 5 Columns
-----------------------------------------------------------------*/

.pricing.pricing-5 .pricing-box {
	float: left;
	width: 20%;
	margin-top: 20px;
}

.pricing.pricing-5 .pricing-box.best-price { margin-top: 0; }

.pricing.pricing-5 .pricing-box:nth-child(5) { margin-left: -1px; }

.pricing.pricing-5 .pricing-title h3 { font-size: 18px; }

.pricing.pricing-5 .best-price .pricing-title h3 { font-size: 20px; }


/* Pricing Boxes - Extended
-----------------------------------------------------------------*/

.pricing-box.pricing-extended {
	background-color: #FFF;
	text-align: left;
}

.pricing-box.pricing-extended .pricing-desc {
	float: left;
	width: 75%;
	padding: 25px;
}

.pricing-box.pricing-extended .pricing-title {
	background-color: transparent;
	padding-top: 0;
	text-align: left;
}

.pricing-box.pricing-extended .pricing-features { border: 0; }

.pricing-box.pricing-extended .pricing-features ul { padding: 15px 0 0 0; }

.pricing-box.pricing-extended .pricing-features li {
	padding: 6px 0;
	font-size: 15px;
	width: 50%;
	float: left;
}

.pricing-box.pricing-extended .pricing-features ul li i {
	position: relative;
	top: 1px;
	width: 16px;
	margin-right: 2px;
}

.pricing-box.pricing-extended .pricing-action-area {
	position: absolute;
	top: 0;
	left: auto;
	right: 0;
	width: 25%;
	height: 100%;
	border-left: 1px solid rgba(0,0,0,0.05);
	background-color: #F9F9F9;
	padding: 30px;
	border-radius: 0 3px 3px 0;
	text-align: center;
}

.pricing-box.pricing-extended .pricing-action-area .pricing-price,
.pricing-box.pricing-extended .pricing-action-area .pricing-action { padding: 0; }

.pricing-box.pricing-extended .pricing-action-area .pricing-price { padding-bottom: 20px; }

.pricing-box.pricing-extended .pricing-action-area .pricing-price:after { display: none; }

.pricing-box.pricing-extended .pricing-action-area .pricing-price span.price-tenure {
	display: block;
	margin: 10px 0 0 0;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 14px;
}

.pricing-box.pricing-extended .pricing-meta {
	color: #999;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-bottom: 10px;
}




/* ----------------------------------------------------------------
	Forms
-----------------------------------------------------------------*/

.sm-form-control {
	display: block;
	width:100%;
	height: 38px;
	padding: 8px 14px;
	font-size: 15px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 2px solid #DDD;
	border-radius: 0 !important;
	-webkit-transition: border-color ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s;
	transition: border-color ease-in-out .15s;
}

.sm-form-control:focus {
	border-color: #AAA;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.sm-form-control::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.sm-form-control:-ms-input-placeholder { color: #999; }
.sm-form-control::-webkit-input-placeholder { color: #999; }

.sm-form-control[disabled],
.sm-form-control[readonly],
fieldset[disabled] .sm-form-control {
	cursor: not-allowed;
	background-color: #eeeeee;
	opacity: 1;
}


.sm-form-control { height: auto; }

.form-control { border-radius: 3px; }

.form-control:active,
.form-control:focus {
	border-color: #999;
	box-shadow: none;
}

.address-checker .sm-form-control{
	padding:13px 14px 12px;
	width:75%;
	display:inline-block;
}

.address-checker .button{
	display:inline-block;
	width:25%;
	position:relative;
	float:right;
}

label {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	color: #555;
	cursor: pointer;
}

label.label-muted {
	color: #999;
	font-weight: normal;
	margin-right: 5px;
}

form .col_full,
form .col_half,
form .col_one_third,
form .col_two_third,
form .col_three_fourth,
form .col_one_fourth,
form .col_one_fifth,
form .col_two_fifth,
form .col_three_fifth,
form .col_four_fifth,
form .col_one_sixth,
form .col_five_sixth { margin-bottom: 25px; }


.modem-selector .alert-dark p{
	font-size:61px;	
}

.modem-selector .alert-dark sup{
	font-size:35px;
}

/* ----------------------------------------------------------------
	Contact Form
-----------------------------------------------------------------*/


#contact-form-overlay,
#contact-form-overlay-mini {
	position: relative;
	max-width: 800px;
	background-color: #FFF;
	padding: 40px;
	margin: 0 auto;
	z-index: 10;
	border-radius: 4px;
	box-shadow: 0 1px 10px rgba(0,0,0,0.15);
}

#contact-form-overlay-mini {
	float: right;
	width: 380px;
	margin: 0;
}

label.error {
	margin-top: 5px;
	color: #E42C3E;
	font-weight: 400;
}

label.error { display: none !important; }

.form-control.error,
.sm-form-control.error { border-color: #E42C3E; }




/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { margin-bottom: 50px; }

.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4,
.emphasis-title h1,
.emphasis-title h2 {
	margin-bottom: 0;
	letter-spacing: 1px;
	color: #333;
}

.emphasis-title h1,
.emphasis-title h2 {
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
}

.heading-block h1 { font-size: 32px; }

.heading-block h2 { font-size: 30px; }

.heading-block h3 { font-size: 26px; }

.heading-block h4 {
	font-size: 20px;
	font-weight: 700;
}

.heading-block > span:not(.before-heading) {
	display: block;
	margin-top: 10px;
	font-weight: 300;
	color: #777;
}

.meshred{
	color:#DD4B39;
	font-size:3em;
}


.heading-block .before-heading { margin-bottom: 7px; }

.heading-block.center > span,
.heading-block.title-center > span,
.center .heading-block > span {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.heading-block h1 + span { font-size: 24px; }

.heading-block h2 + span { font-size: 22px; }

.heading-block h3 + span,
.heading-block h4 + span { font-size: 20px; }

.heading-block ~ p:not(.lead) { font-size: 15px; }

.heading-block:after {
	content: '';
	display: block;
	margin-top: 30px;
	width: 40px;
}

.center .heading-block:after,
.heading-block.center:after,
.heading-block.title-center:after { margin: 30px auto 0; }

.tright .heading-block,
.heading-block.tright,
.heading-block.title-right { direction: rtl; }

.heading-block.noborder:after,
.heading-block.nobottomborder:after { display: none; }

.heading-block.border-color:after { border-color: #2C4992; }


/* ----------------------------------------------------------------
	Preloaders
-----------------------------------------------------------------*/


.preloader,
.preloader2 {
	position:absolute;
	display: block;
	width: 100%;
	height: 100%;
	left:0;
	z-index:3;
	background: url("images/loading.gif") center top no-repeat #FFF;
}

.preloader2 { background-color: transparent; }

.form-process {
	display: none;
	opacity:0;
	position: absolute;
	z-index: 3;
	width: 50px;
	height: 50px;
	left:85%;
	top:75%;
	background: url("images/loading-dark.gif") center center no-repeat;
}


/* ----------------------------------------------------------------
	Toastr Notifications
-----------------------------------------------------------------*/


.toast-title { font-weight: bold; }

.toast-message {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.toast-message a,
.toast-message label { color: #ffffff; }

.toast-message a:hover {
	color: #cccccc;
	text-decoration: none;
}

.toast-close-button {
	position: absolute;
	right: 5px;
	top: 3px;
	font-size: 14px;
	color: #ffffff;
	opacity: 0.8;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	filter: alpha(opacity=80);
}

.toast-close-button:hover,
.toast-close-button:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.5;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	filter: alpha(opacity=50);
}


button.toast-close-button {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.toast-top-full-width {
	top: 10px;
	right: 0;
	width: 100%;
}

.toast-bottom-full-width {
	bottom: 10px;
	right: 0;
	width: 100%;
}

.toast-enquire-full-width {
    top: 120px;
    left: 53%;
    width: 100%;
}

.toast-top-left {
	top: 12px;
	left: 12px;
}

.toast-top-right {
	top: 12px;
	right: 12px;
}

.toast-bottom-right {
	right: 12px;
	bottom: 12px;
}

.toast-bottom-left {
	bottom: 12px;
	left: 12px;
}

#toast-container {
	position: fixed;
	z-index: 1999;
}

#toast-container * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#toast-container > div {
	margin: 0 0 6px;
	padding: 15px;
	width: 500px;
	border-radius: 3px;
	background-position: 15px center;
	background-repeat: no-repeat;
	color: #ffffff;
	opacity: 0.8;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	filter: alpha(opacity=80);
}

#toast-container > div i {
	position: relative;
	top: 1px;
	width: 16px;
	text-align: center;
	margin-right: 3px;
}

#toast-container > :hover {
	opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity=100);
	cursor: pointer;
}

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
	width: 96%;
	margin: auto;
}

.toast { background-color: #030303; }

.toast-success { background-color: #51a351; }

.toast-error { background-color: #bd362f; }

.toast-info { background-color: #2C4992; }

.toast-warning { background-color: #f89406; }


@media all and (min-width: 240px) and (max-width: 479px) {
	#toast-container > div {
		padding: 8px;
		width: 18em;
	}
}

@media all and (min-width: 480px) and (max-width: 767px) {
	#toast-container > div {
		padding: 15px;
		width: 25em;
	}
}


.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #fff;
  border-color: #DFDFDF;
  color: #1B1B1B;
  padding:56px 20px;
  border-radius:5px 0 0 5px;

}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}

.alert-dark{
	background-color: #1B1B1B;
  border-color: #DFDFDF;
  color: #fff;
border-radius: 0 5px 5px 0;
  text-align:center;
}

.modem-selector .alert{
	display:inline-block;
	height:170px;
}
.modem-selector .alert-info{
	float:left;
	width:75%;
	
}

.modem-selector .alert-info input, .modem-selector .alert-info label{
	display:inline-block;
	margin-right:10px;
}
	
.modem-selector .alert-info input{
	transform:scale(1.5);
	
}

.modem-selector .alert-dark{
	float:right;
	width:25%;
	
}


.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}


@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}

/* ----------------------------------------------------------------
	Responsive CSS
-----------------------------------------------------------------*/



@media (min-width: 1111px) {

	#wrapper { width: 100%; max-width:1180px;
	
	}
	.container{
		width:100%;
	}
	.tabs.tabs-tb ul.tab-nav li.ui-state-default a,.tabs.tabs-alt.tabs-tb ul.tab-nav li.ui-tabs-active a{
		height: 100px;
	}

	

}


@media (max-width: 1110px) {

	#wrapper {
		width: 100%;
		margin: 0;
		box-shadow: none;
	}
	
	.tabs.tabs-tb ul.tab-nav li.ui-state-default a,.tabs.tabs-alt.tabs-tb ul.tab-nav li.ui-tabs-active a{
		height: 100px;
	}
	
	.tabs.tabs-alt.tabs-tb ul.tab-nav li.ui-tabs-active a{
		position:inherit;
	}
	.tabs.tabs-alt ul.tab-nav li{
		width:32%;
	}

}




@media (max-width: 767px) {
		.tabs.tabs-alt ul.tab-nav li{
		width:49%;
	}

	.button.button-desc {
		padding: 20px 17px;
		font-size: 15px;
		max-width: 100%;
	}
	

	
	.modem-selector .alert{

		width:50%;
		text-align:center;
		margin-bottom:0!important;
		padding: 20px;
		height:150px;
	}
	
	.modem-selector .alert-dark{
		font-size:45px;
		
	}
	
	.modem-selector .alert-info input, .modem-selector .alert-info label{
		clear:both;
		display:block;
		margin:0 auto;
	}

	.address-checker .sm-form-control{
		padding:13px 14px 12px;
		width:100%;
		display:inline-block;
		margin-bottom:10px!important;
	}
	
	.address-checker .button{
		display:inline-block;
		width:100%;
		position:relative;
		float:right;
	}
	

	body { padding: 0 !important; }

	#wrapper { width: 100% !important; }

	.container-fullwidth {
		margin: 0 auto;
		padding: 0 15px !important;
	}


	.postcontent,
	.postcontent.bothsidebar,
	.sidebar,
	.col_full,
	.col_half,
	.col_one_third,
	.col_two_third,
	.col_three_fourth,
	.col_one_fourth,
	.col_one_fifth,
	.col_two_fifth,
	.col_three_fifth,
	.col_four_fifth,
	.col_one_sixth,
	.col_five_sixth {
		width: 100%;
		margin-right: 0;
		float: none;
		margin-bottom: 50px !important;
	}

	.sidebar.col_last { margin-bottom: 0 !important; }

	form .col_full,
	form .col_half,
	form .col_one_third,
	form .col_two_third,
	form .col_three_fourth,
	form .col_one_fourth,
	form .col_one_fifth,
	form .col_two_fifth,
	form .col_three_fifth,
	form .col_four_fifth,
	form .col_one_sixth,
	form .col_five_sixth { margin-bottom: 25px !important; }



	.pricing-box.best-price { margin-top: 0; }

	.pricing.pricing-5 .pricing-box {
		float: none;
		width: 100%;
	}

	.pricing-box.pricing-extended .pricing-features li {
		width: auto;
		float: none;
	}

	

	.button.button-desc {
		padding: 20px 17px;
		font-size: 15px;
		max-width: 100%;
	}

	.button.button-desc span { font-size: 11px; }


	.heading-block h1 { font-size: 30px; }

	.heading-block h2 { font-size: 26px; }

	.heading-block h3 { font-size: 22px; }

	.heading-block h4 { font-size: 19px; }

	.heading-block h1 + span { font-size: 20px; }

	.heading-block h2 + span { font-size: 18px; }

	.heading-block h3 + span,
	.heading-block h4 + span { font-size: 17px; }

	.heading-block ~ p:not(.lead) { font-size: 15px; }

	

}

@media (min-width: 480px) and (max-width: 767px) {

	

	.button.button-full { font-size: 18px; }

	.button.button-full i {
		top: 2px !important;
		margin-left: 3px !important;
	}


}

@media (max-width: 479px) {

	


	.button.button-desc span { font-size: 11px; }

}


/* ----------------------------------------------------------------
	Retina CSS
-----------------------------------------------------------------*/


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {


	.form-process {
		background-image: url('../images/preloader@2x.gif');
		background-size: 24px 24px;
	}

}
