/*
Theme Name: Ignition Child
Theme URI: http://www.associationpartners.com.au/
Description: Ignition Child Theme
Version: 1.200.00
Author: t1
Author URI: http://www.associationpartners.com.au/
Template: ignition
Version: 1.0.0
Text Domain: ignition-child
*/

body {
  font-family: 'Roboto', Arial, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  color: #3f3f3f !important;
  font-weight: normal!important;
}

p {
  font-size: 14px !important;
  line-height: 24px !important;
  padding: 0px 0 10px !important;
  margin-bottom: 10px !important;
}

ul,
li {
  font-size: 14px!important;
}

.nooverflowx{
	overflow-x:hidden;

}

.bSe a {
  color: #dd4b39!important;
}

.bSe a:hover {
  color: #333333;
}

.bSe h1,
.bSe .entry-title {
  font-size: 36px!important;
  font-weight: normal!important;
  margin: 0 0 0px !important;
  color: #3f3f3f;
}

.bSe h2 {
  font-family: inherit !important;
  font-size: 30px!important;
  font-weight: lighter !important;
  margin: 15px 0 15px !important;
}
.bSe h2 span {
  color: #dd4b39 !important;
  font-weight: bold !important;
}
.bSe h3 {
  font-size: 21px!important;
  line-height: 1;
  margin: 25px 0 5px !important;
}

.bSe h4 {
  font-size: 18px!important;
  line-height: 1.25;
  margin: 15px 0 5px !important;
}

.bSe h5 {
  font-size: 16px!important;
  font-weight: 300;
  line-height: 1.25;
}

.bSe h6 {
  font-size: 14px!important;
  font-weight: normal;
  line-height: 1.25;
}


/* Site wraps
*/






/* Header
*/
.mff header{
  border-bottom: 1px solid #ebebeb!important;
}
#floating_menu header {
  padding-top: 10px!important;
  background: url(/wp-content/uploads/2016/07/header-bg.png) #1B1B1B repeat-x center center;
  border: 0;
}

.side_logo:after{
	content:'';
	clear:both;
}

#floating_menu.mff {
  background: url(/wp-content/uploads/2016/07/header-bg.png)repeat-x center center;
  opacity: 1 !important;
  position: fixed !important;
  visibility: visible !important;
  z-index: 99991 !important;
  top:0;
}
header .right {
  margin: 0 15px 0 0 !important;
}
header nav > ul > li {
  padding: 0 10px !important;

}


header nav > ul.menu > li > a {
  color: #ffffff !important;
  font-family: Roboto,sans-serif;
  font-size: 13px !important;
  letter-spacing:-0.5px;
  font-weight: lighter;
  padding: 10px 0px !important;
  text-align: center !important;
}
header nav > ul.menu > li > a:hover,
header nav ul#menu > li > a:hover,
header nav > ul.menu > li.current-menu-item > a,
header nav > ul.menu > li.current_page_item > a,
header nav ul#menu > li.current-menu-item > a,
header nav ul#menu > li.current_page_item > a {
  border-radius: 0 !important;
  box-shadow: none !important;
  color: #dd4b39 !important;
}

header nav ul li > ul {
  left: 0 !important;
  margin-left: 0 !important;
}

header nav ul li > ul li a {
  height: inherit!important;
  line-height: 20px!Important;
}


header nav ul li > ul {
  background: #000000 none repeat scroll 0 0 !important;
  border: 0 none !important;
  top: 40px !important;
}

header nav ul li > ul li {
  background: #000000 none repeat scroll 0 0 !important;
  border: 0 none !important;
  color: #ffffff;
  padding: 10px 0 !important;
}

header nav ul li > ul li ul {
  left: 100% !important;
  top: 0 !important;
}
header nav ul li > ul li a {
  color: #ffffff !important;
  font-family: "Roboto",Arial,sans-serif !important;
  font-weight: 300 !important;
  height: inherit !important;
  line-height: 20px !important;
  text-indent: 10px !important;
}
header nav ul li > ul li a:hover {
  background-color: #000000 !important;
  color: #dd4b39 !important;
  font-weight: 400 !important;
}
header nav ul li > ul li.menu-item-has-children > a::after {
  margin: 2px 5px 0 0 !important;
  position: relative !important;
}

.phone,
.phone_mobile {
  width: 141px!important;
}

.phr {
  padding: 7px!important;
  border-radius: 0!important;
  border: 1px solid #dd4b39!important;
}

.phone .apnr,
.phone_mobile .apnr {
  font-size: 18px!important;
  color: #fff!important;
  font-weight: 100;
}

.apnr:hover {
  color: #dd4b39!important;
}

.phone .apnr:before,
.phone_mobile .apnr:before {
  display: none!important;
}


/* Home Page
*/

.fullWidth .cck {
  margin: 0 auto !important;
  width: 1180px !important;
}
.thrv_wrapper.thrv_page_section .fullWidth .cck,
.homePanel2 .thrv_wrapper.thrv_page_section .fullWidth .cck {
  position: relative !important;
  left: -60px !important;
}
#homePanel011 .darkSec{
  background-size: contain!important;
}
.thrv_wrapper.thrv_content_container_shortcode.homePanel2 {
  /* left: -70px !important; */
  /* margin: 0; */
  /* position: relative; */
  /* width: 1180px !important; */
}
.bSe article .awr ul li, .bSe article .awr ol li {
  color: #ffffff !important;
  margin-bottom: 22px !important;
}
#home-panel-2 li{
 list-style: outside none none !important;
}
.box-content h1,
.box-content h2 {
  padding-bottom: 0.4em;
  font-weight: lighter !important;
  text-transform: uppercase;
  margin-bottom: 0!important;
  font-size: 36px!important;
}

.box-content h1 span,
.box-content h2 span {
  color: #dd4b39!important;
}

/* .box-content p {
  line-height: 20px!important;
} */

.img-object {
  margin-left: 16em;
}

.img-hover:hover,
.get-in-touch input[type=submit]:hover {
  opacity: 0.8;
}

#home-panel-1 {
  background: url(/wp-content/uploads/2016/07/background-content.jpg) center center no-repeat;
  padding: 56px 0;
}

#home-panel-1 h3 {
  border-bottom: 3px solid #dd4b39;
  width: 270px;
  margin: auto!important;
  padding: 1em 0;
  margin-bottom: 1em!important;
}

#home-panel-1 .tve_colm p {
  width: 270px;
  margin: auto;
  line-height: 22px!important;
}

#home-panel-1 .sec-img {
  margin-top: 5em;
}
.tve_shortcode_rendered > ul {
  margin: 0 !important;
  padding: 0 !important;
}
#home-panel-2 h2 {
  text-transform: uppercase;
  color: #fff!important;
  padding-bottom: 0.4em;
}
.h1White {
  color: #FFFFFF !important;
}
.h2White > font {
  font-weight: 400;
}
.light-h3 {
  font-weight: 300 !important;
}
#home-panel-2 .tve_right {
  margin-right: 0 !important;
  width: 50% !important;
}
.tve_p_center.homeText {
  border-top: 5px solid #dd4b39;
  margin: 10px 35px 30px !important;
  padding: 20px 0 0 !important;
}
.tve_p_center.innerText {
  margin: 10px 35px 10px !important;
}
#home-panel-2 ul li img {
  margin: -8px 10px 0 0;
}
.zoomImage {
  position: relative;
  transition: transform 200ms ease-in-out 0s;
  z-index: 9000;
}
.zoomImage:hover {
  transform: scale(1.05);
}

#wonderplugincarousel-1 .amazingcarousel-next,
#wonderplugincarousel-1 .amazingcarousel-prev {
  margin-top: 0 !important;
  top: 25% !important;
}
.home-form {
  float: right;
  width: 90%;
  margin: 0 -9px 0 0;
}
.home-form .field-wrap {
  float: left;
  width: 30%;
  margin-left: 1%;
}

.home-form #ninja_forms_field_6_div_wrap {
  width: 200px;
}
#ninja_forms_field_10_div_wrap {
  width: 150px;
}
.home-form #ninja_forms_field_7_div_wrap {
  width: 320px;
}
#ninja_forms_field_10_div_wrap {
  width: 150px;
}
.home-form #ninja_forms_field_6_div_wrap input, .home-form #ninja_forms_field_7_div_wrap input, .home-form #ninja_forms_field_10_div_wrap input {
  background: rgba(0, 0, 0, 0) url("/wp-content/uploads/2016/07/emai-field-bg.png") no-repeat scroll left top;
  border: 0 none;
  color: #aaaaaa;
  font-size: 14px;
  padding: 16px 29px;
  font-family: 'Roboto', Arial, sans-serif !important;
  font-weight: 300;
}
.home-form #ninja_forms_field_10_div_wrap input {
  background: url("/wp-content/uploads/2016/07/join-up-now.png") top left no-repeat;
  cursor: pointer;
}
.home-form #ninja_forms_field_10_div_wrap input:hover,
.consult-today input[type=submit]:hover,
.industry-form #ninja_forms_field_17_div_wrap input[type=submit]:hover {
  opacity: 0.8;
}
.home-form .ninja-forms-required-items,
.consult-today .ninja-forms-required-items{
  display: none;
}
#consult-today .pddbg{
  padding: 2.4em 0em;
}
.consult-today{
  float: right;
  width: 85%;
  margin-top: 2.5em;
}
#free-demo-today .consult-today{
  margin-top: 5.5em;
}
#business-today .consult-today{
  float: right;
  width: 80%;
  margin-top: 2.5em;
}
.consult-today #ninja_forms_field_13_div_wrap{
  float: right;
  /* margin-right: 3.5em; */
}
#business-today #ninja_forms_field_13_div_wrap{
 margin-right: 0em;
 margin-top: 1em;
}
.consult-today input[type=text],
.consult-today input[type=email]{
  background: url(/wp-content/uploads/2016/08/fields-bg.png) top left no-repeat;
  border: 0;
  padding: 18px 20px;
  color: #aaa;
  float: right;
  font-family: 'Roboto', Arial, sans-serif !important;
  font-weight: lighter;
  font-size: 14px;
}
#business-today input[type=text],
#business-today input[type=email]{
  background: url(/wp-content/uploads/2016/08/business-today-fields.png) left center no-repeat;
  border: 0;
  padding: 16px 26px;
  color: #fff;
  float: right;
}
.consult-today input[type=submit]{
  background: url(/wp-content/uploads/2016/08/get-a-call-back-1.png) top left no-repeat;
  border: 0;
  padding: 15px 32px;
  color: #fff;
  cursor: pointer;
}
.industry-form{
  max-width: 622px;
  margin: auto;
}
.industry-form #ninja_forms_field_16_div_wrap{
  float: left;
  margin-right: 10px;
}
.industry-form #ninja_forms_field_17_div_wrap{
  float:left;
}
.industry-form #ninja_forms_field_17_div_wrap input[type=submit]{
  background: url(/wp-content/uploads/2016/08/get-smart.png) top left no-repeat;
  border: 0;
  padding: 16px 46px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Roboto', Arial, sans-serif !important;
  font-size: 15px;
}
.industry-form select {
  background: rgba(0, 0, 0, 0) url("/wp-content/uploads/2016/08/select-field.png") no-repeat scroll center top;
  border: 0 none;
  font-size: 14px !important;
  font-weight: 700;
  padding: 15px 138px;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: Roboto,sans-serif;
  outline: 0;
}
.industry-form select option{
  background: #dd4b39;
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
.life-wireless{
    padding-top: 18em;
    padding-bottom: 18em;
}
.life-wireless h1{
  text-transform:none;
}
.life-wireless span{
  text-transform:uppercase;
}
.three-icon{
    max-width: 1215px;
    margin: auto;
}

.cta-form,.cta-form input,.contact-form,.contact-form input,.contact-form textarea{
		box-sizing:border-box;
	}
	.cta-form input,.contact-form input,.contact-form textarea{
		width:100%;
		clear:both;
		padding:10px;
		margin-bottom:10px;
		background:#1B1B1B;
		border:1px solid #DFDFDF;
		color:white;
	}

	.cta-form button,.contact-form button{
		float:right;
		padding:10px 20px;
		background:#DD4B39;
		font-size:16px;
		border:none;
		color:white;
		cursor:pointer;
	}
	.cta-form button:after,.contact-form button:after{
		content:'';
		clear:both;
	}
	.contact-form textarea{
		font-family:'Roboto',sans-serif;
	}
.cta-form .cta-response h4, .cta-form .cta-response p {
    color: #fff !important;
}


.col-md-3{
    float: left;
    width: 29.5%;
    text-align: center;
    padding-top: 5em;
}

.col-md-3:nth-child(2) h3{
  padding-top:0.1em;
}

.col-md-3 p{
    width: 310px;
    margin: auto;
    line-height: 21px!important;
    padding-top: 8px!important;
}
.our-plans{
    background: url(/wp-content/uploads/2016/09/our-plans.png)no-repeat center left;
    float: left;
    width: 100%;
    margin-top: 4em;
    margin-bottom: 0.2em;
}
.our-plans h2{
    text-align: center;
}
.our-plans h2 strong{
  color: #dd4b39;
}
.col-3{
    float: left;
    width: 28.88%;
    background: url(/wp-content/uploads/2016/09/package-bg.png) no-repeat;
    margin-right: 6%;
    box-sizing: border-box!important;
    padding: 0px 30px;
    background-size: contain;
}
.col-3:last-child{
    margin-right: 0;
    margin-bottom: 0!important;
}
.col-3 h4{
    text-align: center;
    font-size: 27px!important;
    font-weight: bold!important;
    margin-bottom: 0!important;
}
.col-3 h5{
    text-align: center;
    margin: 0;
    font-size: 50px!important;
    color: #fff!important;
    text-shadow: 1px 1px 5px #3a3939;
    font-weight: 100!important;
    line-height: 45px;
    margin-bottom: 1.3em;
}
.col-3 p{
    color: #fff!important;
    text-align: center;
    line-height: 21px!important;
    margin-bottom: 5px!important;
}
.col-3 .btn-enquire{
    margin: auto;
    width: 170px;
    display: block;
    padding-top: 1.2em;
    padding-bottom: 5.6em;
}

.tve_btn.tve_normalBtn {
	min-width:auto;
}
.col-3 .btn-enquire img:hover{
  opacity:0.8;
}
.line-12{
  line-height: 15px!important;
}
#shev-panel{
    margin-top: 8em;
    margin-bottom: 6.5em;
}
.bspr {
  height: 0 !important;
}
#inner-pagePanel .pddbg{
  background-position: top!important;
}
#inner-pagePanel .pddbg,
#inner-product-pagePanel .pddbg,
#smart-industry .pddbg,
#industry-inner .pddbg,
#mesh-digital .pddbg,
#contact .pddbg{
  background-size: inherit;
  background-position: bottom;
}
#case-study .pddbg{
  background-size: contain;
  background-position: top;
}
#case-study .tve_colm h2{
  padding-top: 1.8em;
}
.diagram-img{
  padding:0px 0px 150px 200px!important;
}
.home-banner{
  padding:100px 0px 0px 0;
      position: absolute;
    top: 0;
	width:100%;
}


.tve_responsive_video_container{
	  background: url('/meshtelco/wp-content/themes/ignition/images/hero/home_hero_placeholder.jpg')center top no-repeat;
	  background-size:cover;

}

.thrv_responsive_video.thrv_wrapper {
    max-height: 700px!important;
	min-height:350px;
    overflow: hidden;
}

.tve-video{
	min-width:625px;
}

.box-content .home-banner
.banner-panel{
  padding-bottom: 90px;
  padding-top: 90px;
  margin-top: 90px;
  margin-bottom: 90px;
}
.products{
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 45px;
  margin-bottom: 45px;
}
.smart-industries{
  padding-bottom: 180px;
  padding-top: 85px;
  margin-top: 85px;
  margin-bottom: 180px;
}
.smart-inner{
 padding-bottom: 90px;
 padding-top: 35px;
 margin-top: 70px;
 margin-bottom: 90px;
}
#industry .pddbg{
  padding-bottom: 75px;
  padding-top: 105px;
}
.mesh-digital{
  padding-bottom: 110px;
  padding-top: 110px;
  margin-top: 110px;
  margin-bottom: 110px;
  padding-left: 2.5em;
}
.contact{
 padding-bottom: 65px;
 padding-top: 65px;
 margin-top: 70px;
 margin-bottom: 70px;
}
.regular-business{
  background: url(/wp-content/uploads/2016/08/regular-business.png)center top no-repeat;
  margin-top: 3em;
}
.regular-business h2,
.meshTelco-smart h2{
  margin-top: 1.5em!important;
  margin-bottom: 2em!important;
  font-size: 37px!important;
}
.regular-business ul{
  margin-left: 4.5em!important;
}
.regular-business li{
  font-size: 18px!important;
  list-style: disc!important;
  padding: 0.6em 0em!important;
  text-transform: uppercase;
}
.meshTelco-smart{
  background: url(/wp-content/uploads/2016/08/meshTelco-smart.png)center top no-repeat;
  margin-top: 3em;
}
.meshTelco-smart ul{
  margin-left: 2em!important;
}
.meshTelco-smart li{
  list-style: none;
  padding: 0.6em 0em!important;
  font-size: 18px!important;
}
.meshTelco-smart li img{
  margin-right: 1em;
  margin-top: -8px!important;
}
#footer-form .darkSec{
  width: 1180px;
  padding-right: 0;
  padding-left: 0;
  box-sizing: border-box;
}
#footer-form .thrv_content_container_shortcode{
  margin-bottom:0;
}

footer .sub-menu{
	display:none;
}
.wrp {
  padding: 0 !important;
  width: 100% !important;
}
header .wrp,
footer .wrp {
  max-width: 1180px !important;
  width: 100% !important;
  padding-bottom:15px;
}
.cnt .awr > .out:first-child,
.cnt .awr > .clear:first-child + .out,
.cnt .awr .thrv_page_section:first-child {
  margin-top: 0 !important;
}

.home .bspr {
  display: none;
  height: 0 !important;
}

.fullWidth .out {
  margin: 0 auto !important;
  max-width: 6000px !important;
  width: 100% !important;
}

.cnt .awr {
  padding: 0 !important;
}

.home .thrv_wrapper {
  margin-bottom: 0px !important;
}

.tve-leads-two-step-trigger.tl-2step-trigger-872 {
  background: #083868;
  border-radius: 28px;
  color: #fff !important;
  font-size: 24px;
  padding: 10px 30px;
}

.thrv_wrapper .alignnone {
  margin: 0;
}


/*
*/

.wrp.cnt.bip.fullWidth {
  width: 100% !important;
  margin-top: 4em;
}
.text-0{
  height:0;
  display: none;
}
.spr {
  height: 2px!important;
}
.max-1180 .tve_content_inner{
  width: 1180px!important;
}
.max-1180{
  margin-bottom:0;
}
.border-right{
  margin-top: 4em;
  margin-right: 25px;
}
.smart-industry{
  padding-top: 2em!important;
}
.smart-industry .bold_text {
  color: #3f3f3f !important;
}
.get-smart{
  margin-bottom: 1em;
}
#industry-inner .tve_sep{
  float: left;
}
#our-clients a{
  color: #dd4b39;
}
#our-clients a:hover{
  text-decoration:underline!important;
}
#mesh-digital .tve_colm.tve_tth{
  width: 60%;
}
#mesh-digital .tve_colm.tve_oth{
  width: 38%;
}
#mesh-digital .tve_colm.tve_oth{
  width: 38%;
}
.right-box .tve_lst .thrv_wrapper{
    width: 85%;
    float: left;
}
.right-box h4{
  padding-left: 1em!important;
}
.right-box p{
  padding-left: 1.3em!important;
}
.info{
  margin-left: 0!important;
  padding-left: 0!important;
}
.info li{
  list-style: none;
  clear: left;
  font-size: 18px!important;
}
.info li img{
  margin-right: 20px;
  float: left;
}
.info li a{
  color: #221f1f!important;
  font-size: 18px;
  padding-top: 0.8em;
  display: block;
}
.info li a:hover{
  text-decoration:underline!important;
}
.get-in-touch input[type="text"] {
  background: rgba(0, 0, 0, 0) url("/wp-content/uploads/2016/08/business-today-fields.png") no-repeat scroll left top;
  border: 0 none;
  color: #ffffff;
  font-family: "Roboto",Arial,sans-serif !important;
  font-size: 14px;
  font-weight: 300;
  padding: 16px 22px;
}
.consult-today input[type="text"], .consult-today input[type="email"] {
  background: rgba(0, 0, 0, 0) url("/wp-content/uploads/2016/08/fields-bg.png") no-repeat scroll left top;
  border: 0 none;
  color: #aaaaaa;
  float: right;
  font-family: "Roboto",Arial,sans-serif !important;
  font-size: 14px;
  font-weight: lighter;
  padding: 16px 22px;
}
.get-in-touch textarea{
  background: url(/wp-content/uploads/2016/08/textarea-bg.png)left top no-repeat;
  padding: 16px 22px;
  color: #fff;
  border: 0;
  height: 130px!important;
  font-family: Roboto,sans-serif;
  font-size: 14px;
  font-weight: lighter;
}
.get-in-touch .ninja-forms-required-items{
  display:none;
}
.get-in-touch input[type=submit] {
  background: url(/wp-content/uploads/2016/08/get-a-call-back-1.png) top left no-repeat;
  border: 0;
  padding: 16px 55px;
  color: #fff;
  cursor: pointer;
  float: right;
  margin-top: 0.3em;
}

/* Footer
*/

footer .ftw {
  padding: 70px 0 20px !important;
  background: url(/wp-content/uploads/2016/07/footer-bg.jpg)!important;
  background-size: contain!important;
}



footer .colm {
  width: 100% !important;
  padding: 0!important;
  border-bottom: 1px solid #3e3e3e;
}

footer .colm #nav_menu-5,
footer .colm #nav_menu-6,
footer .colm #nav_menu-7 {
  float: left;
  width: 24%;
}
#nav_menu-8 {
  clear: left;
  float: right;
  text-align: right;
  width: 12%;
}
#nav_menu-8 li{
  float:left;
  border-right:1px solid;
  padding:0px 10px!important;
  line-height: 15px;
}
#nav_menu-8 li:last-child{
 padding-right:0!important;
 border:0;
}

#nav_menu-6 p{
  color:#dd4b39 !important;
}
footer .colm #black-studio-tinymce-9 {
  color: #919191;
  float: right;
  text-align: right;
  width: 28%;
  margin: 0 0 15px;
}

footer .colm #black-studio-tinymce-9 ul {
  float: right;
  margin-top: 14px;
}

footer .colm #black-studio-tinymce-9 ul li {
  float: left;
  padding: 0px 14px!important;
  border-right: 1px solid #555;
  list-style: none;
}

footer .colm #black-studio-tinymce-9 ul li:last-child {
  border: 0!important;
  padding-right: 0!important;
}
.ftw .cnt #black-studio-tinymce-9 a {
  color: #919191 !important;
  font-size: 14px !important;
  text-align: right !important;
}

footer .colm li {
  padding: 4px 0!important;
}

footer .colm ul {
  padding: 0!important;
}

footer .colm section[id*="nav_menu"] ul li {
  border-bottom: 0 dotted #e2dfdf !important;
  list-style: none;
}

footer a {
  color: #919191!important;
  font-size: 14px !important;
}

footer p {
  margin-bottom: 0px !important;
  padding-bottom: 8px !Important;
  color: #fff !important;
  font-size: 18px!important;
  font-weight: 100!important;
}

footer .lst {
  margin-top: 0em;
  border: 0!important;
}

footer ul {
  list-style: outside none disc !important;
  padding: 0 0 0 10px !important;
}

footer .col-2 {
  float: left;
  width: 50%;
  font-size: 12px;
  line-height: 20px;
}

footer .col-2 a {
  font-size: 12px!important;
}

footer .col-2:last-child {
  text-align: right;
}

footer .col-2 p {
  position: relative;
  float: left;
  padding-top: 6px!important;
}

footer .col-2 span {
  color: #dd4b39!important;
}

footer .col-2 a img {
  margin-left: 1em;
}

footer .col-2 a img:hover {
  opacity: 0.6;
}

footer .copy {
  display: none;
}

footer .copy p,
footer .copy a {
  color: #fff !important;
  font-size: 12px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.video-frame{
    background: url(/wp-content/uploads/2016/08/video-frame.png) top center no-repeat;
    padding-left: 2.1em;
    padding-top: 0.3em;
    padding-bottom: 4em;
}
.demo-today h2{
    padding-top: 1.5em;
}
/*
*/
.col-zoom .aligncenter{
  overflow: hidden;
}
.aligncenter:hover .zoom-effect{
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
.aligncenter .zoom-effect{
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

*/
.cnt a {
  /* color: #222!important; */
  text-transform: capitalize!important;
  text-decoration: none!important;
}
.ftw .cnt a {
  color: #919191 !important;
  font-size: 14px !important;
  font-weight: lighter !important;
}
.ftw .cnt a:hover {
  color: #DD4B39 !important;
}

.cnt textarea {
  /* height: 90px!important; */
}

.cnt .field-wrap {
  margin-bottom: 2px;
}

.tve-leads-two-step-trigger a:hover {
  color: #000!important;
  border: 1px solid #efefef!important;
}

.video-wrap
 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
}

/* Video Overlay
-----------------------------------------------------------------*/

.video-wrap {
	overflow: hidden;
	width: 100%;
	position: relative;
}

.video-wrap video {
	position: relative;
	z-index: 1;
	width: 100%;
}


.video-placeholder {
	z-index: 4;
	background-repeat: no-repeat !important;
}


@media only screen and (max-width: 1024px) {

	.tve_responsive_video_container{
		min-height:350px;
		}
  .video-frame{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  }
  .video-frame iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .thrv_wrapper div{
    box-sizing: border-box!important;
  }
  .three-icon{
    padding:0 15px;
    box-sizing:border-box!important;
  }
  .col-md-3 p{
    width: 80%;
  }
  .col-3{
    width: 350px;
    clear: left;
    margin: auto!important;
    display: table;
    text-align: center;
    float: none;
    margin-bottom: 4em!important;
  }
  #nav_menu-8 {
      width: 26%;
  }
  header nav>ul>li{
    padding: 0 5px!important;
  }
  .our-plans{
    background: none!important;
  }

}

@media only screen and (max-width: 1024px) {
  header,
  footer .wrp {
    padding: 0 15px!important;
    box-sizing: border-box;
  }
  header nav ul li a {
    padding: 8px 12px!important;
    font-size: 13px!important;
  }

  .fullWidth .in,
  .bpd .in {
    box-sizing: border-box!important;
    max-width: 100%!important;
  }
  .fullWidth .in,
  .fullWidth .cck {
    max-width: 100%;
  }
  #head_wrp.has_phone #logo img {
    width: 110px;
    margin-bottom: 0.8em;
    max-height: inherit!important;
  }
  .thrv_wrapper.thrv_content_container_shortcode.homePanel1 {
    margin: 0 !important;
  }
  .home-form #ninja_forms_field_7_div_wrap {
    width: 214px;
  }
  footer .colm #black-studio-tinymce-9 ul li {
    padding: 0px 6px!important;
  }
  .consult-today #ninja_forms_field_13_div_wrap{
    margin-right:0;
  }
  #industry-inner .alignleft{
    width: 130px!important;
    margin-top: 2.5em;
  }
  #case-study .alignleft{
    width: 160px!important;
    margin-top: 2.5em;
  }
}

@media only screen and (max-width: 1023px) {
    #nav_menu-8 {
      width: 28%;
  }
}


@media only screen and (max-width: 960px) {

	#industry .tcb-flex-col.tve_empty_dropzone.nooverflowx{
		width:50%;
		max-width:50%;
	}
  .content-wrap {
    padding: 0 3%;
  }
  #home-panel-1 h3,
  #home-panel-1 p {
    width: 100%!important;
  }
  #home-panel-1 .sec-img {
    margin: 0;
  }
  footer .lst section {
    width: 100%!important;
  }
  footer .colm #black-studio-tinymce-9 ul li {
    padding: 0px 4px!important;
  }
}

@media only screen and (max-width: 774px) {

	header nav > ul.menu > li > a{
		font-size:20px!important;
		font-weight:bold;
	}
	header nav li.has-extended ul.sub-menu li.menu-item, header nav li.has-extended ul.sub-menu.position_menu li.menu-item{
	clear:none!important;
    width: auto!important;
    display: inline-block!important;
	outline:none!important;
	}

	#menu-top-menu{
		margin-bottom:0;
	}

	.phone,
  .phone_mobile {
    width: 90%!important;
  }
  .phone .apnr,
  .phone_mobile .apnr {
    font-size: 20px!important;
  }
}




@media only screen and (max-width: 768px) {
		#industry .tcb-flex-col.tve_empty_dropzone.nooverflowx{
		width:100%;
		max-width:100%;
	}
	.sub-menu:after{
		content:'';
		clear:both;
	}
  header .hmn .rmn {
    background-image: linear-gradient(rgba(79, 79, 79, 0.2) 0%, #353535 100%)!important;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #4f4f4f #353535 #353535 #353535;
    color: #dd4b39!important;
    font-size: 25px!important;
    height: 35px!important;
    line-height: 38px!important;
    margin: 0px 0px 0px 10px;
    text-align: center;
    width: 42px!important;
  }
  .mhl {
    background: #000!important;
  }
  .phone_mobile {
    margin-bottom: 8px!important;
  }
  header nav ul li a {
    height: inherit!important;
    line-height: 20px!important;
  }
  #mega-menu-wrap-primary {
    float: none;
  }
  #mega-menu-wrap-primary ul li {
    width: 100%!important;
  }
  .img-object {
    margin: 0;
  }
  .mff header {
    padding: 0 15px!important;
  }
  .banner-panel,
  .products,
  #consult-today .pddbg,
  .smart-industries,
  #industry .pddbg,
  .smart-inner,
  .mesh-digital,
  .contact{
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .mesh-digital{
    padding-left: 0;
  }
  .home-banner,
  .life-wireless{
    padding-bottom: 0px!important;
    padding-top: 0px!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
  footer {
    margin-top: 0px!important;
    background: transparent!important;
    padding: 0px!important;
  }
  footer .colm {
    margin-bottom: 10px!important;
    margin-top: 0px!important;
    float: left!important;
  }
  footer .colm label {
    color: #000;
  }
  footer .colm section {
    width: 48%!important;
    margin-bottom: 1em!important;
  }
  footer .colm #black-studio-tinymce-9 {
    width: 100%!important;
    text-align: left;
  }
  footer .lst section {
    width: 100%!important;
  }
  footer .col-2 {
    width: 100%;
    text-align: center!important;
  }
  footer .col-2 p {
    float: none;
  }
  .home-form{
    width: 100%;
    float: left;
  }
  .home-form #ninja_forms_field_6_div_wrap {
    width: 120px;
  }
  #inner-pagePanel .pddbg {
    background-size: cover;
  }
  .home-form #ninja_forms_field_7_div_wrap {
    width: 320px;
  }
  .consult-today{
    margin-top: 0;
    float: none;
  }
  .border-right,
  .right-border{
    display: none!important;
  }
  #business-today .consult-today{
    float:none;
    width:100%;
    margin-top: 0;
  }
  #industry-inner .alignleft,
  #case-study .alignleft {
    width: 100%!important;
    margin: 0!important;
  }
  #industry-inner .alignleft img,
  #case-study .alignleft img{
    margin: auto;
  }
  #case-study .tve_colm h2{
    padding-top: 0em;
  }
  #free-demo-today .consult-today {
    margin-top: 0em;
  }
  .right-box{
    text-align: center;
  }
  .right-box img{
    margin: auto;
  }
  #home-panel-2 .tve_right {
    margin: 0;
    width: 100%!important;
  }
  .diagram-img{
    padding:0!important;
    padding-bottom:1em!important;
  }
  header .right{
    margin: 0!important;
  }
  header nav ul li{
    background:#000!important;
    outline: 1px solid #272727!important;
    border: 0!important;
    width: 100%!important;
  }
  .sub-menu{
    text-align:center;
    width: 100%;
  }

  #menu-item-246,
  #menu-item-347,
  #menu-item-1139,
  #menu-item-1062,
  #menu-item-346,
  #menu-item-349,
  #menu-item-344,
  #menu-item-350 {
    width: 100% !important;
  }
  .right-box .tve_lst .thrv_wrapper{
    width: 100%;
    float: none;
  }
  .col-md-3{
    width:100%!important;
  }
  #shev-panel{
    margin-top:0!important;
  }
  #nav_menu-8{
    float: left;
  }
}

@media only screen and (max-width: 540px) {
	.home .tve_responsive_video_container video{
		display:none;
	}
		#industry .tcb-flex-col.tve_empty_dropzone.nooverflowx .tve_left.tve_btn_im{
		display:block;
	}
}


@media only screen and (max-width: 480px) {
  footer .colm section {
    width: 100%!important;
    text-align: center!important;
  }
  #black-studio-tinymce-9 {
    text-align: center!important;
  }
  footer .colm #black-studio-tinymce-9 ul {
    width: 245px;
    margin: auto;
    margin-top: 1em;
  }

  .fullWidth .cck,s
  .bSeCont .cck {
    max-width: 100%;
  }
  .home-form #ninja_forms_field_7_div_wrap {
    width: 250px;
  }
  .home-form #ninja_forms_field_6_div_wrap {
    width: 250px;
  }
  .box-content br{
    display:none;
  }
  .meshTelco-smart,
  .regular-business{
    margin-top: 0em;
    background-size: cover;
    box-sizing: border-box!important;
    padding: 0em 0.5em;
  }
  .regular-business ul,
  .meshTelco-smart ul{
    margin-left: 5px!important;
  }
  .industry-form select{
    padding: 18px 80px;
    background: url(/wp-content/uploads/2016/08/select-field.png) top right no-repeat;
  }
  #nav_menu-8 li{
    float: none;
    border: 0;
    padding: 5px!important;
  }
}
@media only screen and (max-width: 360px) {
  .industry-form select {
    padding: 18px 60px;
  }
  .col-3{
    width: 325px;
  }
  .col-3 h5{
    margin-bottom: 0.9em;
  }
}
@media only screen and (max-width: 320px) {
  footer .col-2 a img {
    margin-left: 0.2em;
  }
  .meshTelco-smart ul{
    padding-left: 5px!important;
  }
  .industry-form select {
    padding: 18px 45px;
  }
  .col-3{
    width: 290px;
    background-size: cover;
  }
  .col-3 h4{
    font-size: 22px!important;
    padding-top: 10px;
  }
  .col-3 h5{
    font-size: 26px!important;
    margin-bottom: 10px;
    line-height: 38px;
  }
  .col-3 p{
    padding-bottom: 0!important;
  }
  .col-3 .btn-enquire{
    padding: 0;
    margin-bottom: 3em;
  }
  .col-3 .btn-enquire img{
    width: 110px;
}
}
