/*responsive focus areas for the admin*/
/*---------- Responsive - width 1080px  ----------*/
@media only screen and (max-width: 1410px) {
    .wrp {
        /*background: pink;*/
    }
    div.opt_in_template {
        margin-right: 3.8%;
    }
}

/*---------- Responsive - width 1080px  ----------*/
@media only screen and (max-width: 1280px) {
    .wrp {
        /*background: yellow;*/
    }
    #postbox-container-1, #postbox-container-2 {
        /*float: none !important;*/
        width: 100% !important;
    }
    #post-body.columns-2 #postbox-container-1, #poststuff #post-body.columns-2 {
        margin-right: 10px;
    }
}

/*---------- Responsive - width 1080px  ----------*/
@media only screen and (max-width: 1080px) {

    .wrp {
        width: 90%;
        /*background: green;*/
    }
    .f2 .fon img, .f4 .fon img {
        max-width: 90%;
    }
}

/*----------  Responsive - width 940px  ----------*/
@media only screen and (max-width: 940px) {
    .wrp {
        width: 90%;
        /*background: blue;*/
    }
    div.opt_in_template {
        width: 46%;
    }
    div.opt_in_template:nth-child(3n) {
        margin-right: 3.8%;
    }
    div.opt_in_template:nth-child(2n) {
        margin-right: 0px;
    }
    .f2 .left, .f2 .right {
        clear: both;
        width: 100%;
    }
    .f2 .left {
        margin-bottom: 10px;
        text-align: center;
    }
    .f3 .left {
        width: 59%;
    }
    .f3 .right {
        width: 40%;
    }
    .f4 .fon, .f4 .ftw, .f4 .fac {
        clear: both;
        text-align: center;
        width: 100%;
    }
    .f4 .fac {
        margin-bottom: 20px;
    }
    .f4 .fth {
        float: none;
        margin: 0px auto;
        width: 40%;
    }

}

/*----------  Responsive - width 740px  ----------*/
@media only screen and (max-width: 774px) {
    .wrp {
        width: 490px;
        /*background: red;*/
    }
    .f1 .left, .f1 .right {
        float: none;
    }
    .f1 .left {
        margin-bottom: 20px;
        width: 100%;
    }
    .f1 .right {
        margin: 0 auto;
        width: 50%;
    }
    .f3 .twc {
        float: none;
        width: 100%;
    }
    .f3 .twc.lst {
        margin: 20px auto 0px;
        width: 50%;
    }
    .f4 .fth {
        width: 50%;
    }

}

/*----------  Responsive - width 540px  ----------*/
@media only screen and (max-width: 540px) {
    .wrp {
        width: 340px;
        /*background: pink;*/
    }
    .imgButtons .pure-button, #thrieve_btn_focus_image {
        float: none;
        width: 100%;
    }
    .imgButtons .pure-button.remove {
        margin-left: 0px;
        margin-top: 10px;
        width: 86%;
    }
    .f1 .left, .f1 .right {
        float: none;
    }
    .f1 .left {
        margin-bottom: 20px;
        width: 100%;
    }
    .f1 .right {
        margin: 0 auto;
        width: 100%;
    }
    .f3 .twc {
        float: none;
        width: 100%;
    }
    .f3 .twc.lst {
        margin: 20px auto 0px;
        width: 100%;
    }
    .f4 .fth {
        width: 100%;
    }
}

/*----------  Responsive - width 340px  ----------*/
@media only screen and (max-width: 380px) {
    .wrp {
        width: 320px;
        /*background: brown;*/
    }
}