.cdt {
  @include clearfix;
  position: relative;
  &.sns {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
  .cdti {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    &.init_done {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      @include transition(opacity, .3s, ease-in);
    }
    &.fdtc {
      @include transition(opacity, 0.5s, ease-in);
      opacity: 0.1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
      filter: alpha(opacity=10);
    }
    &.fv {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      @include transition(opacity, .3s, ease-in);
    }
  }
  .cdtm {
    font-family: 'Oxygen', arial;
    font-weight: 300;
    font-size: 36px;
    line-height: 65px;
    text-align: center;
    position: relative;
    top: -77px;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  .cdto {
    @include transition(all, .2s, linear);
    float: left;
    margin: 0px 20px;
    min-width: 80px;
    position: relative;
    &:first-of-type {
      &:before {
        content: '';
      }
    }
    &:before {
      content: ':';
      color: #a6a6a6;
      font-size: 60px;
      line-height: 60px;
      position: absolute;
      right: 84px;
      top: 0px;
      z-index: 10;
    }
    &.ctcid {
      @include transition(all, .2s, linear);
      height: 120px;
      transition: all .2s linear;
      overflow: visible;
    }
    .cdtl {
      display: block;
      font-family: 'Oxygen', arial;
      font-size: $normalSize * 1.000;
      font-weight: 400;
      margin-top: 7px;
      text-align: center;
      text-transform: uppercase;
    }
  }
  .cdtc {
    display: block;
    font-family: 'Oxygen', arial;
    height: 58px;
    line-height: 60px;
    min-width: 62px;
    overflow: hidden;
    position: relative;
    padding: 4px;
    .cdfc {
      [class*='part-'] {
        position: absolute;
        top: 0;
        right: 5px;
        min-width: 30px;
        &.go-down {
          transition: top .2s linear;
          top: 100%;
        }
        &.next {
          top: -100%;
          transition: top .2s linear;
          &.go-down {
            top: 0;
            transition: top .2s linear;
          }
        }
      }
      .part-2 {
        right: 40px;
      }
      .part-3 {
        right: 75px;
      }
      .part-4 {
        right: 110px;
      }
    }
  }

  .cdtd {
    height: 1px;
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 1;
  }
  .cdfc {
    bottom: 0;
    color: #acacac;
    font-size: $normalSize *3.750;
    font-weight: 400;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.cnt article .mbi {
  text-decoration: none;
}
.mbi.light {
  .mbr {
    .mbt, .mbb {
      color: #4b4b4b;
    }
  }
}
.mbi {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  margin-top: 25px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  word-break: break-all;
  .mbl {
    border-radius: 50%;
    height: 74px;
    margin: auto 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 74px;
    .mbc {
      padding: 0px 13px;
      &:before {
        //        @include fontawesome();
        //        content: '\f180';
        color: $white;
        display: inline-block;
        font-size: 2.6em;
        margin: 15px 5px;
      }
    }
  }
  .mbr {
    border-radius: 40px;
    font-family: 'oxygen', Arial;
    line-height: 1em;
    margin-left: 10px;
    padding: 15px 50px 15px 80px;
    white-space: normal;
    > div {
      display: block;
    }
    .mbt {
      color: $white;
      font-weight: 700;
      font-size: $normalSize *1.500;
    }
    .mbb {
      color: $white;
      display: block;
      font-weight: 400;
      font-size: $normalSize *0.750;
      margin-top: 10px;
    }
  }
}

.mbi {
  &.aligncenter {
    display: table;
    margin: 0 auto;
  }
  &.full {
    width: 100%;
    .mbr {
      display: block;
      text-align: center;
    }
  }
}

.mb {
  .mbr {
    padding-left: 50px;
  }
}

@each $color in $color-pallete {
  .mbi.#{nth($color, 1)} {
    .mbl, .mbr {
      background-color: nth($color, 2);
      border: 1px solid nth($color, 3);
    }
  }
  .icb.#{nth($color, 1)} {
    .icbc {
      &.icbi {
        border: 1px solid nth($color, 2);
        span {
          &:before {
            color: nth($color, 2);
          }
        }
      }
      &.icbm {
        border: 1px solid nth($color, 2);
      }
    }
  }
}

.split {
  display: table;
  margin-bottom: 20px;
  .btn {
    margin-bottom: 0;
    span {
      font-size: $normalSize * 1.063;
    }
    &.left {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
      span {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &.right {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      span {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.cnt {
  article {
    .icb {
      p {
        color: $textGray;
        margin-bottom: 0px;
      }
    }
  }
}

.icb {
  box-shadow: 2px 0px 2px 0px rgba($black, 0.05);
  border-radius: 12px;
  border: 1px solid #dbdbdb;
  background: $white;
  margin: 80px 0px 20px;
  padding: 70px 20px 30px 20px;
  position: relative;
  .icbc {
    box-shadow: 2px 0px 2px 0px rgba($black, 0.05);
    border-radius: 50%;
    display: block;
    height: 99px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    text-align: center;
    width: 99px;
    &.icbi {
      border-radius: 50%;
      span {
        &:before {
          @include fontawesome();
          content: attr(data-icon);
          font-size: 50px;
          line-height: 100px;
        }
      }
    }
    &.icbm {
      background: $white;
      span {
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        display: block;
        height: 80px;
        margin: 10px auto;
        width: 80px;
      }
    }

  }
  &.icb2 {
    border-top: 1px solid #e8e8e8;
    margin-left: 50px;
    padding: 20px 20px 30px 70px;
    .icbc {
      margin: auto 0;
      bottom: 0;
      left: -45px;
      top: 0;
    }
  }
}

//tour menu
.scn {
  .tmw {
    a {
      @include linear-gradient(left, $white, $white, #fafafa, #f1f1f1, #efefef);
      border-bottom: 1px solid #dbdbdb;
      color: #706f6f;
      display: block;
      font-size: $normalSize;
      line-height: $normalSize;
      padding: 14px 0 14px 14px;
      &:hover {
        @include linear-gradient(right, $white, $white, $white, #fafafa, #f1f1f1);
        color: #474747;
      }
    }
    &.tmv {
      &:hover {
        > a {
          &:after {
            //todo
            // content: '\f107';
            content: '\e611';
          }
        }
      }
      > a {
        position: relative;
        &:after {
          @include icomoon();
          //todo
          // content: '\f106';
          content: '\e612';
          font-size: $normalSize * 0.778;
          position: absolute;
          right: 17px;
        }
      }
    }
    &:first-child .tmi {
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
    }
    &:last-child .tmi {
      border-bottom-left-radius: 9px;
      border-bottom-right-radius: 9px;
    }
    .tmm {
      a {
        padding-left: 30px;
      }
    }
    .tmps {
      a {
        padding-left: 50px;
      }
    }
    .tmm {
      display: none;
    }
    &:last-child {
      .tmi, .tmpi {
        border-bottom: 0 none;
      }
    }
  }

}

//pricing tables
.row {
  margin: 40px 0px 20px 0px;
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

.pt_one {
  width: 100%;
}

.pt_two {
  width: 50%;
}

.pt_three {
  width: 33.3%;
}

.pt_four {
  width: 25%;
}

.pt_five {
  width: 20%;
}

.pt {
  float: left;
  .pt_in {
    box-shadow: 2px 0 2px 0px rgba($black, .05);
    border-radius: 12px;
    background: $white;
    border: 1px solid #dbdbdb;
    margin: 0px auto;
    position: relative;
    padding: 10%;
    width: 74%;
    &.pt_hgh {
      border: 1px solid $main_color;
      padding: 16% 10%;
      position: relative;
      margin-top: -6%;
      width: 74%;
    }
    ul {
      list-style-type: none !important;
      list-style-image: none !important;
      padding-left: 0px;
      li {
        color: #706f6f;
        font-size: $normalSize;
        line-height: 1rem;
        margin-bottom: 20px;
        position: relative;
        padding-left: 30px;
        word-wrap: break-word;
      }
      li:before {
        @include icomoon();
        font-size: $normalSize;
        line-height: 1rem;
        position: absolute;
        left: 0px;
      }
      &.check {
        li:before {
          //todo
          content: '\f05d';
          color: $main_color;
        }
        li.noBullet:before {
          content: '';
        }
      }
      &.notcheck {
        li:before {
          //todo
          color: #acacac;
          content: '\f05c';
        }
      }
    }
    h3 {
      color: #323232;
      font-size: $normalSize * 1.875;
      margin-top: 0px;
      margin-bottom: 33px;
      word-wrap: break-word;
    }
    .btn {
      span {
        display: block;
      }
    }
    .prb {
      text-align: center;
    }
    .btn {
      display: inline-block;
      margin: 0 auto;
      max-width: 100%;
      word-wrap: break-word;
    }
  }
  .prc {
    color: #323232;
    font-size: $normalSize * 1.875;
    font-family: 'Oxygen';
    font-weight: bold;
    line-height: 1rem;
    margin-top: 39px;
    margin-bottom: 28px;
    > span {
      font-size: $normalSize * 0.533;
    }
  }
}

@media only screen and (max-width: 940px) {
  //pricing tables
  .pt {
    &.pt_four {
      width: 50%;
      & .pt_hgh {
        margin-top: 0;
        padding: 10% 12%;
      }
    }
    &.pt_five .pt_hgh {
      margin-top: 0;
      padding: 10% 12%;
    }
  }
  .pt_five {
    width: 50%;
    &:nth-child(4) {
      margin-bottom: 10px;
    }
    &:nth-child(5) {
      clear: both;
      display: table;
      float: none;
      margin: 0px auto 0px;
    }
  }
}

@media only screen and (max-width: 774px) {
  //pricing tables
  .pt.pt_three .pt_hgh {
    margin-top: 0;
    padding: 10% 12%;
  }
  .pt_two, .pt_three, .pt.pt_four, .pt_five {
    float: none;
    margin: 10px 0px !important;
    width: 100%;
  }
}

//related blog posts

//related posts
.rl-h {
  display: table;
  margin: 20px 0;
  overflow: hidden;
  .rl-c {
    color: #323232;
    font-size: $normalSize * 1.375;
    margin: 0;
    padding: 0 7px;
    white-space: nowrap;
  }
  .rl-s {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    &:before {
      border-bottom: 1px solid #bcbcbc;
      content: '';
      display: block;
      width: 100%;
    }
  }
}

.rltp, .rltpi {
  box-sizing: border-box;
  p {
    color: #323232;
    font-size: $normalSize * 1.125;
    font-weight: 700;
    font-family: 'Oxygen';
    line-height: $normalSize;
    margin: 20px auto !important;
    width: 90%;
  }
  .rlt {
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(#000, .05);
    border-radius: 10px;
    background: #fff;
    border: 1px solid #dbdbdb;
  }
}

.rltp {
  .rlt {
    display: block;
    text-decoration: none;
    margin-bottom: 28px;
    margin-right: 4%;
    width: 48%;
    &:nth-of-type(2n) {
      margin-right: 0;
    }
    &:hover {
      .rlti {
        &:before {
          color: $main_color;
        }
      }
    }
  }
  .rlti {
    &:before {
      @include icomoon();
      color: #323232;
      content: "\e608";
      float: left;
      font-size: 24px;
      margin: 20px 11px 0 14px;
    }
  }
}

.rltpi {
  p {
    text-align: center; 
  }
  .rlt {
    display: block;
    margin: 0 2% 20px 0;
    text-decoration: none !important;
    overflow: hidden;
  }
  .rlti {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    width: 100%;
    .bSeCont & {
      height: 154px;
    }
  }
  .rlti {
    @include cover-background();
    position: relative;
    &:hover {
      &:after {
        @include icomoon();
        content: '\e606';
        color: $white;
        display: block;
        font-size: 48px;
        height: 48px;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 48px;
        z-index: 3;
      }
      &:before {
        @include transition(all, .5s, linear);
        background: rgba($main_color, .4);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 940px) {
  //related posts
  .rltpi {
    a.rlt {
      width: 32%;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      &:nth-of-type(3n+1) {
        clear: left;
      }
    }
    .rlti {
      height: 176px;
    }
  }
}

@media only screen and (max-width: 940px)  and (min-width: 540px){
  //related posts
  .rltpi {
    a.rlt {
      width: 49%;
      &:nth-of-type(2n) {
        margin-right: 0;
      }
      &:nth-of-type(2n+1) {
        clear: left;
      }
    }
    .rlti {
      height: 154px;
    }
  }
}

@media only screen and (max-width: 774px) {
  .rltp .rlt {
    margin-right: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  //related posts
  .rltpi {
    a {
      margin: 0 0 30px;
      width: 100%;
    }
    .rlti {
      height: 200px;
    }
  }
}

@media only screen and (max-width: 380px) {
  //related posts
  .rltp .rlt .rlti {
    margin-right: 5px;
  }
  .rltpi {
    .rlti {
      height: 280px;
    }
  }
}

@media only screen and (min-width: 940px) {
  .rc-hf {
    display: none;
  }
}

@media only screen and (max-width: 940px) and (min-width: 540px) {
  .rc-hm {
    display: none;
  }
}

@media only screen and (max-width: 540px) {
  .rc-hs {
    display: none;
  }
}
