$normalSize: 1em; /*16px;*/
$darkGray: #1a1a1a;
$gray: #5B5B5B;
$content_gray: #9f9f9f;
$lightGray: #5d5d5d;
$textGray: #706f6f;
$white: #fff;
$black: #000;

$color-pallete:
'blue' #34495e #253748 #4e6a85 #34495e,
'dark' #323232 #706f6f #acacac #323232,
'green' #27754d #234c37 #368c60 #27754d,
'light' #f7f7f7 #e4e4e4 #ffffff #e4e4e4,
'orange' #e48400 #d07800 #f59715 #e48400,
'purple' #8562a3 #7f4198 #9b78ba #8562a3,
'red' #801818 #651212 #b02727 #801818,
'teal' #54a699 #3b7a70 #65bdaf #54a699,
'brown' #645452 #463b3a #735f5c #645452;

//
//
//$themeColors:
// // 'brown' #645452,
//  'green' #27754d,
//  'orange' #e48400,
//  'purple' #8562a3,
//  'red' #801818,
//  'dark' #5b5b5b,
//  'light' #f7f7f7;
//
//$contentBox:
//   'blue' #34495e #253748,
//   'dark' #232323 #383838,
//   'green' #979778 #787861,
//   'purple' #8562a3 #7f4198,
//   'red' #801818 #651212,
//   'teal' #02615d #05514e,
//   'orange' #e48400 #d07800;
//$lightContentBox:
//  'note' #fffcd5 #e9e5b8,
//  'light' #f7f7f7 #e4e4e4;
//
//$buttonColors :
//  'blue' #34495e #253748,
//  'dark' #232323 #383838,
//  'green' #979778 #787861,
//  'purple' #8562a3 #7f4198,
//  'red' #801818 #651212,
//  'teal' #02615d #05514e,
//  'orange' #e48400 #d07800,
//  'light' #f7f7f7 #e4e4e4;
//
//$widgetColors:
//  'blue' #2980b9,
//  'dark' #232323,
//  'green' #979778,
//  'light' #e8e8e8,
//  'purple' #8562a3,
//  'red' #801818,
//  'orange' #e48400,
//  'teal' #02615d;
//

